In [1]:
%%bash

# Instal Java
apt-get install openjdk-8-jdk-headless -qq > /dev/null

# Install PySpark
pip install -q pyspark

In [2]:
import os
os.environ['JAVA_HOME'] = '/usr/lib/jvm/java-8-openjdk-amd64'

from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").getOrCreate()

In [10]:
from os.path import abspath
warehouse_location = abspath('../content/drive/MyDrive/igti_bootcamps/eng_dados_cloud/mod3/spark-warehouse')

In [29]:
spark = (
    SparkSession
    .builder
    .config("spark.sql.warehouse.dir",warehouse_location)
    .enableHiveSupport()
    .getOrCreate()
)

# Class 01 - **Introduction to Spark-SQL**

## **Overview of Spark-SQL**

Spark SQL is a mechanism of manipulation of data on Spark that uses a SQL language. 

- Performing ANSI-SQL and HiveQL queries that act directly on the RDDs.
- Creating databases, tables and views, similar to a relational database.
- Data management using the Spark metadata catalog and its integration with the Hive metastore. 

&nbsp;

**Limitations**

Spark is designed to work as online analytical processing (OLAP), not as online transaction processing (OLTP). In other words Spark does not exhibit functions like, insert, alter, delete data in a Database.

# Class 02 - **Databases and Datacatalog**

In [12]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as f

## **Setup**

In [4]:
spark = SparkSession.builder.getOrCreate()

In [5]:
imdb_path = '/content/drive/MyDrive/igti_bootcamps/eng_dados_cloud/mod3/title_basics.csv'

In [6]:
options_dict = {
    'sep' : '\t' , 
    'header' : 'True'
}

df_titles = (
      spark.read
    .format('csv')
    .options(**options_dict)  
    .load(imdb_path)
)

df_titles.show(5)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0000001|    short|          Carmencita|          Carmencita|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000002|    short|Le clown et ses c...|Le clown et ses c...|      0|     1892|     \N|             5|     Animation,Short|
|tt0000003|    short|      Pauvre Pierrot|      Pauvre Pierrot|      0|     1892|     \N|             4|Animation,Comedy,...|
|tt0000004|    short|         Un bon bock|         Un bon bock|      0|     1892|     \N|            12|     Animation,Short|
|tt0000005|    short|    Blacksmith Scene|    Blacksmith Scene|      0|     1893|     \N|             1|        Comedy,Short|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 5 rows

## **Databases and Catalog**

The metadata catalog can be accessed by the object

```SparkSession.catalog```

The main functionalities are :

- ```listDatabases()``` : list all available databases;
- ```listTables()``` : list all available tables in a certain database;
- ```listFunctions()``` : list available functions in a certain database;
- ```refreshTable()``` : update the metadata of a given table;
- ```uncacheTable()``` : removes a table saved in memory; 
- ```clearCache()``` : removes all tables saved in memory;

In [ ]:
spark.catalog

In [ ]:
spark.catalog.clearCache()

In [ ]:
spark.catalog.listDatabases()

[Database(name='default', description='default database', locationUri='file:/content/spark-warehouse')]

In [ ]:
spark.catalog.listFunctions()

[Function(name='!', description=None, className='org.apache.spark.sql.catalyst.expressions.Not', isTemporary=True),
 Function(name='%', description=None, className='org.apache.spark.sql.catalyst.expressions.Remainder', isTemporary=True),
 Function(name='&', description=None, className='org.apache.spark.sql.catalyst.expressions.BitwiseAnd', isTemporary=True),
 Function(name='*', description=None, className='org.apache.spark.sql.catalyst.expressions.Multiply', isTemporary=True),
 Function(name='+', description=None, className='org.apache.spark.sql.catalyst.expressions.Add', isTemporary=True),
 Function(name='-', description=None, className='org.apache.spark.sql.catalyst.expressions.Subtract', isTemporary=True),
 Function(name='/', description=None, className='org.apache.spark.sql.catalyst.expressions.Divide', isTemporary=True),
 Function(name='<', description=None, className='org.apache.spark.sql.catalyst.expressions.LessThan', isTemporary=True),
 Function(name='<=', description=None, className='org.apache.spark.sql.catalyst.expressions.LessThanOrEqual', isTemporary=True),
 Function(name='<=>', description=None, className='org.apache.spark.sql.catalyst.expressions.EqualNullSafe', isTemporary=True),
 Function(name='=', description=None, className='org.apache.spark.sql.catalyst.expressions.EqualTo', isTemporary=True),
 Function(name='==', description=None, className='org.apache.spark.sql.catalyst.expressions.EqualTo', isTemporary=True),
 Function(name='>', description=None, className='org.apache.spark.sql.catalyst.expressions.GreaterThan', isTemporary=True),
 Function(name='>=', description=None, className='org.apache.spark.sql.catalyst.expressions.GreaterThanOrEqual', isTemporary=True),
 Function(name='^', description=None, className='org.apache.spark.sql.catalyst.expressions.BitwiseXor', isTemporary=True),
 Function(name='abs', description=None, className='org.apache.spark.sql.catalyst.expressions.Abs', isTemporary=True),
 Function(name='acos', description=None, className='org.apache.spark.sql.catalyst.expressions.Acos', isTemporary=True),
 Function(name='acosh', description=None, className='org.apache.spark.sql.catalyst.expressions.Acosh', isTemporary=True),
 Function(name='add_months', description=None, className='org.apache.spark.sql.catalyst.expressions.AddMonths', isTemporary=True),
 Function(name='aggregate', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayAggregate', isTemporary=True),
 Function(name='and', description=None, className='org.apache.spark.sql.catalyst.expressions.And', isTemporary=True),
 Function(name='any', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BoolOr', isTemporary=True),
 Function(name='approx_count_distinct', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.HyperLogLogPlusPlus', isTemporary=True),
 Function(name='approx_percentile', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.ApproximatePercentile', isTemporary=True),
 Function(name='array', description=None, className='org.apache.spark.sql.catalyst.expressions.CreateArray', isTemporary=True),
 Function(name='array_contains', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayContains', isTemporary=True),
 Function(name='array_distinct', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayDistinct', isTemporary=True),
 Function(name='array_except', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayExcept', isTemporary=True),
 Function(name='array_intersect', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayIntersect', isTemporary=True),
 Function(name='array_join', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayJoin', isTemporary=True),
 Function(name='array_max', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayMax', isTemporary=True),
 Function(name='array_min', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayMin', isTemporary=True),
 Function(name='array_position', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayPosition', isTemporary=True),
 Function(name='array_remove', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayRemove', isTemporary=True),
 Function(name='array_repeat', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayRepeat', isTemporary=True),
 Function(name='array_sort', description=None, className='org.apache.spark.sql.catalyst.expressions.ArraySort', isTemporary=True),
 Function(name='array_union', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayUnion', isTemporary=True),
 Function(name='arrays_overlap', description=None, className='org.apache.spark.sql.catalyst.expressions.ArraysOverlap', isTemporary=True),
 Function(name='arrays_zip', description=None, className='org.apache.spark.sql.catalyst.expressions.ArraysZip', isTemporary=True),
 Function(name='ascii', description=None, className='org.apache.spark.sql.catalyst.expressions.Ascii', isTemporary=True),
 Function(name='asin', description=None, className='org.apache.spark.sql.catalyst.expressions.Asin', isTemporary=True),
 Function(name='asinh', description=None, className='org.apache.spark.sql.catalyst.expressions.Asinh', isTemporary=True),
 Function(name='assert_true', description=None, className='org.apache.spark.sql.catalyst.expressions.AssertTrue', isTemporary=True),
 Function(name='atan', description=None, className='org.apache.spark.sql.catalyst.expressions.Atan', isTemporary=True),
 Function(name='atan2', description=None, className='org.apache.spark.sql.catalyst.expressions.Atan2', isTemporary=True),
 Function(name='atanh', description=None, className='org.apache.spark.sql.catalyst.expressions.Atanh', isTemporary=True),
 Function(name='avg', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.Average', isTemporary=True),
 Function(name='base64', description=None, className='org.apache.spark.sql.catalyst.expressions.Base64', isTemporary=True),
 Function(name='bigint', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='bin', description=None, className='org.apache.spark.sql.catalyst.expressions.Bin', isTemporary=True),
 Function(name='binary', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='bit_and', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BitAndAgg', isTemporary=True),
 Function(name='bit_count', description=None, className='org.apache.spark.sql.catalyst.expressions.BitwiseCount', isTemporary=True),
 Function(name='bit_get', description=None, className='org.apache.spark.sql.catalyst.expressions.BitwiseGet', isTemporary=True),
 Function(name='bit_length', description=None, className='org.apache.spark.sql.catalyst.expressions.BitLength', isTemporary=True),
 Function(name='bit_or', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BitOrAgg', isTemporary=True),
 Function(name='bit_xor', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BitXorAgg', isTemporary=True),
 Function(name='bool_and', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BoolAnd', isTemporary=True),
 Function(name='bool_or', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BoolOr', isTemporary=True),
 Function(name='boolean', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='bround', description=None, className='org.apache.spark.sql.catalyst.expressions.BRound', isTemporary=True),
 Function(name='btrim', description=None, className='org.apache.spark.sql.catalyst.expressions.StringTrimBoth', isTemporary=True),
 Function(name='cardinality', description=None, className='org.apache.spark.sql.catalyst.expressions.Size', isTemporary=True),
 Function(name='cast', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='cbrt', description=None, className='org.apache.spark.sql.catalyst.expressions.Cbrt', isTemporary=True),
 Function(name='ceil', description=None, className='org.apache.spark.sql.catalyst.expressions.Ceil', isTemporary=True),
 Function(name='ceiling', description=None, className='org.apache.spark.sql.catalyst.expressions.Ceil', isTemporary=True),
 Function(name='char', description=None, className='org.apache.spark.sql.catalyst.expressions.Chr', isTemporary=True),
 Function(name='char_length', description=None, className='org.apache.spark.sql.catalyst.expressions.Length', isTemporary=True),
 Function(name='character_length', description=None, className='org.apache.spark.sql.catalyst.expressions.Length', isTemporary=True),
 Function(name='chr', description=None, className='org.apache.spark.sql.catalyst.expressions.Chr', isTemporary=True),
 Function(name='coalesce', description=None, className='org.apache.spark.sql.catalyst.expressions.Coalesce', isTemporary=True),
 Function(name='collect_list', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CollectList', isTemporary=True),
 Function(name='collect_set', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CollectSet', isTemporary=True),
 Function(name='concat', description=None, className='org.apache.spark.sql.catalyst.expressions.Concat', isTemporary=True),
 Function(name='concat_ws', description=None, className='org.apache.spark.sql.catalyst.expressions.ConcatWs', isTemporary=True),
 Function(name='conv', description=None, className='org.apache.spark.sql.catalyst.expressions.Conv', isTemporary=True),
 Function(name='corr', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.Corr', isTemporary=True),
 Function(name='cos', description=None, className='org.apache.spark.sql.catalyst.expressions.Cos', isTemporary=True),
 Function(name='cosh', description=None, className='org.apache.spark.sql.catalyst.expressions.Cosh', isTemporary=True),
 Function(name='cot', description=None, className='org.apache.spark.sql.catalyst.expressions.Cot', isTemporary=True),
 Function(name='count', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.Count', isTemporary=True),
 Function(name='count_if', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CountIf', isTemporary=True),
 Function(name='count_min_sketch', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CountMinSketchAgg', isTemporary=True),
 Function(name='covar_pop', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CovPopulation', isTemporary=True),
 Function(name='covar_samp', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CovSample', isTemporary=True),
 Function(name='crc32', description=None, className='org.apache.spark.sql.catalyst.expressions.Crc32', isTemporary=True),
 Function(name='cume_dist', description=None, className='org.apache.spark.sql.catalyst.expressions.CumeDist', isTemporary=True),
 Function(name='current_catalog', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentCatalog', isTemporary=True),
 Function(name='current_database', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentDatabase', isTemporary=True),
 Function(name='current_date', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentDate', isTemporary=True),
 Function(name='current_timestamp', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentTimestamp', isTemporary=True),
 Function(name='current_timezone', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentTimeZone', isTemporary=True),
 Function(name='current_user', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentUser', isTemporary=True),
 Function(name='date', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='date_add', description=None, className='org.apache.spark.sql.catalyst.expressions.DateAdd', isTemporary=True),
 Function(name='date_format', description=None, className='org.apache.spark.sql.catalyst.expressions.DateFormatClass', isTemporary=True),
 Function(name='date_from_unix_date', description=None, className='org.apache.spark.sql.catalyst.expressions.DateFromUnixDate', isTemporary=True),
 Function(name='date_part', description=None, className='org.apache.spark.sql.catalyst.expressions.DatePart', isTemporary=True),
 Function(name='date_sub', description=None, className='org.apache.spark.sql.catalyst.expressions.DateSub', isTemporary=True),
 Function(name='date_trunc', description=None, className='org.apache.spark.sql.catalyst.expressions.TruncTimestamp', isTemporary=True),
 Function(name='datediff', description=None, className='org.apache.spark.sql.catalyst.expressions.DateDiff', isTemporary=True),
 Function(name='day', description=None, className='org.apache.spark.sql.catalyst.expressions.DayOfMonth', isTemporary=True),
 Function(name='dayofmonth', description=None, className='org.apache.spark.sql.catalyst.expressions.DayOfMonth', isTemporary=True),
 Function(name='dayofweek', description=None, className='org.apache.spark.sql.catalyst.expressions.DayOfWeek', isTemporary=True),
 Function(name='dayofyear', description=None, className='org.apache.spark.sql.catalyst.expressions.DayOfYear', isTemporary=True),
 Function(name='decimal', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='decode', description=None, className='org.apache.spark.sql.catalyst.expressions.Decode', isTemporary=True),
 Function(name='degrees', description=None, className='org.apache.spark.sql.catalyst.expressions.ToDegrees', isTemporary=True),
 Function(name='dense_rank', description=None, className='org.apache.spark.sql.catalyst.expressions.DenseRank', isTemporary=True),
 Function(name='div', description=None, className='org.apache.spark.sql.catalyst.expressions.IntegralDivide', isTemporary=True),
 Function(name='double', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='e', description=None, className='org.apache.spark.sql.catalyst.expressions.EulerNumber', isTemporary=True),
 Function(name='element_at', description=None, className='org.apache.spark.sql.catalyst.expressions.ElementAt', isTemporary=True),
 Function(name='elt', description=None, className='org.apache.spark.sql.catalyst.expressions.Elt', isTemporary=True),
 Function(name='encode', description=None, className='org.apache.spark.sql.catalyst.expressions.Encode', isTemporary=True),
 Function(name='every', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BoolAnd', isTemporary=True),
 Function(name='exists', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayExists', isTemporary=True),
 Function(name='exp', description=None, className='org.apache.spark.sql.catalyst.expressions.Exp', isTemporary=True),
 Function(name='explode', description=None, className='org.apache.spark.sql.catalyst.expressions.Explode', isTemporary=True),
 Function(name='explode_outer', description=None, className='org.apache.spark.sql.catalyst.expressions.Explode', isTemporary=True),
 Function(name='expm1', description=None, className='org.apache.spark.sql.catalyst.expressions.Expm1', isTemporary=True),
 Function(name='extract', description=None, className='org.apache.spark.sql.catalyst.expressions.Extract', isTemporary=True),
 Function(name='factorial', description=None, className='org.apache.spark.sql.catalyst.expressions.Factorial', isTemporary=True),
 Function(name='filter', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayFilter', isTemporary=True),
 Function(name='find_in_set', description=None, className='org.apache.spark.sql.catalyst.expressions.FindInSet', isTemporary=True),
 Function(name='first', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.First', isTemporary=True),
 Function(name='first_value', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.First', isTemporary=True),
 Function(name='flatten', description=None, className='org.apache.spark.sql.catalyst.expressions.Flatten', isTemporary=True),
 Function(name='float', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='floor', description=None, className='org.apache.spark.sql.catalyst.expressions.Floor', isTemporary=True),
 Function(name='forall', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayForAll', isTemporary=True),
 Function(name='format_number', description=None, className='org.apache.spark.sql.catalyst.expressions.FormatNumber', isTemporary=True),
 Function(name='format_string', description=None, className='org.apache.spark.sql.catalyst.expressions.FormatString', isTemporary=True),
 Function(name='from_csv', description=None, className='org.apache.spark.sql.catalyst.expressions.CsvToStructs', isTemporary=True),
 Function(name='from_json', description=None, className='org.apache.spark.sql.catalyst.expressions.JsonToStructs', isTemporary=True),
 Function(name='from_unixtime', description=None, className='org.apache.spark.sql.catalyst.expressions.FromUnixTime', isTemporary=True),
 Function(name='from_utc_timestamp', description=None, className='org.apache.spark.sql.catalyst.expressions.FromUTCTimestamp', isTemporary=True),
 Function(name='get_json_object', description=None, className='org.apache.spark.sql.catalyst.expressions.GetJsonObject', isTemporary=True),
 Function(name='getbit', description=None, className='org.apache.spark.sql.catalyst.expressions.BitwiseGet', isTemporary=True),
 Function(name='greatest', description=None, className='org.apache.spark.sql.catalyst.expressions.Greatest', isTemporary=True),
 Function(name='grouping', description=None, className='org.apache.spark.sql.catalyst.expressions.Grouping', isTemporary=True),
 Function(name='grouping_id', description=None, className='org.apache.spark.sql.catalyst.expressions.GroupingID', isTemporary=True),
 Function(name='hash', description=None, className='org.apache.spark.sql.catalyst.expressions.Murmur3Hash', isTemporary=True),
 Function(name='hex', description=None, className='org.apache.spark.sql.catalyst.expressions.Hex', isTemporary=True),
 Function(name='hour', description=None, className='org.apache.spark.sql.catalyst.expressions.Hour', isTemporary=True),
 Function(name='hypot', description=None, className='org.apache.spark.sql.catalyst.expressions.Hypot', isTemporary=True),
 Function(name='if', description=None, className='org.apache.spark.sql.catalyst.expressions.If', isTemporary=True),
 Function(name='ifnull', description=None, className='org.apache.spark.sql.catalyst.expressions.IfNull', isTemporary=True),
 Function(name='in', description=None, className='org.apache.spark.sql.catalyst.expressions.In', isTemporary=True),
 Function(name='initcap', description=None, className='org.apache.spark.sql.catalyst.expressions.InitCap', isTemporary=True),
 Function(name='inline', description=None, className='org.apache.spark.sql.catalyst.expressions.Inline', isTemporary=True),
 Function(name='inline_outer', description=None, className='org.apache.spark.sql.catalyst.expressions.Inline', isTemporary=True),
 Function(name='input_file_block_length', description=None, className='org.apache.spark.sql.catalyst.expressions.InputFileBlockLength', isTemporary=True),

In [ ]:
spark.catalog.listTables()

[]

Spark databases are a tool to organize tables. They can be seen as something very close to server databases in relataional databases. Spark uses a default database, which is used to create tables, views and perform queries. The structures persist in different sections: i user change the database, all tabels will remain in the previous database and will need to be required differently. 

Some SQL command to work with databases: 

- `SHOW DATABASES` : list all databases
- `CREATE DATABASE <db_name>` : create database
- `USE <db_name>`: define the database as current database for performing queries.
  - **OBS:** if you change database, is possible to access the previous database by using the prefix 'db_name'. For example :

  > `USE db2` \
  > `SELECT * FROM db1.table` 

- `SELECT current_database()` : returns current database
- `DROP DATABASE IF EXISTS <db_name>` : delete database among those that have been defined.

# Class 03 - Creating Tables and Views

## Tables

- **Managed Tables** : Spark manages data and metadata of table. Instruction like as DROP TABKE affect the data written in disk.
- **Unmanaged Tables** : Spark manages only metadata. The data written in disk can not be altered.

In [30]:
df_titles_sample = df_titles.sample(fraction=0.1)

In [17]:
df_titles_sample.show()

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+-----------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|           genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+-----------------+
|tt0000004|    short|         Un bon bock|         Un bon bock|      0|     1892|     \N|            12|  Animation,Short|
|tt0000006|    short|   Chinese Opium Den|   Chinese Opium Den|      0|     1894|     \N|             1|            Short|
|tt0000017|    short|Italienischer Bau...|Italienischer Bau...|      0|     1895|     \N|             1|Documentary,Short|
|tt0000024|    short|Opening of the Ki...|Opening of the Ki...|      0|     1895|     \N|            \N|       News,Short|
|tt0000032|    short|Die Serpentintnz...|Die Serpentintnz...|      0|     1895|     \N|             1|            Short|
|tt0000035|    short|Watering the Flowers|          L'arroseur|      0|     1896|     \N|             1|     Comedy,Short|
|tt0000050|    short|   Bb et fillettes|   Bb et fillettes|      0|     1896|     \N|            \N|Documentary,Short|
|tt0000051|    short|The Bohemian Enca...|Campement de boh...|      0|     1896|     \N|            \N|Documentary,Short|
|tt0000068|    short|  Unloading the Boat|Dchargement de b...|      0|     1896|     \N|            \N|Documentary,Short|
|tt0000072|    short|Officers of Frenc...|Dpart des officiers|      0|     1896|     \N|            \N|            Short|
|tt0000076|    short|Exit of Rip and t...|Exit of Rip and t...|      0|     1896|     \N|             1|      Drama,Short|
|tt0000103|    short|Smarter than the ...|Plus fort que le ...|      0|     1896|     \N|            \N|            Short|
|tt0000108|    short|Rip Leaving Sleep...|Rip Leaving Sleep...|      0|     1896|     \N|             1|      Drama,Short|
|tt0000113|    short|Rip's Twenty Year...|Rip's Twenty Year...|      0|     1896|     \N|             0|      Drama,Short|
|tt0000117|    short|Sada do Pessoal ...|Sada do Pessoal ...|      0|     1896|     \N|             1|Documentary,Short|
|tt0000123|    short|           Conjuring|Sance de prestid...|      0|     1896|     \N|            \N|            Short|
|tt0000142|    short|Buffalo Bill and ...|Buffalo Bill and ...|      0|     1897|     \N|            \N|       News,Short|
|tt0000150|    short|Danse fleur de lotus|Danse fleur de lotus|      0|     1897|     \N|             1|Documentary,Short|
|tt0000161|    short|      Leon de danse|      Leon de danse|      0|     1897|     \N|            \N|     Comedy,Short|
|tt0000204|    short| Jsus devant Pilate| Jsus devant Pilate|      0|     1898|     \N|            \N|            Short|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+-----------------+
only showing top 20 rows

### Creating Managed Tables

In [28]:
df_titles_sample.write.saveAsTable("title_basics_managed2")

`CREATE TABLE title_basics_managed (schema)`

### Creating Unmanaged Tables

In [20]:
df_titles_sample.write.option('path','../content/drive/MyDrive/igti_bootcamps/eng_dados_cloud/mod3/title_basics_unmanaged').saveAsTable('title_basics_unmanaged')

`CREATE EXTERNAL TABLE title_basics_unmanaged (schema)` \
`USING parquet OPTIONS (path '../content/drive/MyDrive/igti_bootcamps/eng_dados_cloud/mod3/title_basics_unmanaged')`

In [21]:
spark.catalog.listTables()

[Table(name='title_basics_managed', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='title_basics_unmanaged', database='default', description=None, tableType='EXTERNAL', isTemporary=False)]

## View

### Creating Views

In [53]:
df_titles_sample.createOrReplaceTempView('title_basics_view')

`CREATE OR REPLACE TEMP VIEW AS title_basics_view` \
`SELECT * FROM <table_name>`

### Creating Global Views

In [54]:
df_titles_sample.createOrReplaceGlobalTempView('title_basics_global_view')

`CREATE OR REPLACE GLOBAL TEMP VIEW AS title_basics_view` \
`SELECT * FROM <table_name>`

In [24]:
spark.catalog.listTables()

[Table(name='title_basics_managed', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='title_basics_unmanaged', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='title_basics_view', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

### Deleting Views

In [25]:
spark.catalog.dropTempView('title_basics_view')

In [26]:
spark.catalog.dropTempView('title_basics_global_view')

In [27]:
spark.catalog.listTables()

[Table(name='title_basics_managed', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='title_basics_unmanaged', database='default', description=None, tableType='EXTERNAL', isTemporary=False)]

# Class 04 - Queries in Spark-SQL

In [32]:
spark.sql("SHOW DATABASES").show()

+---------+
|namespace|
+---------+
|  default|
+---------+

In [33]:
spark.sql('SHOW TABLES').show()

+---------+--------------------+-----------+
|namespace|           tableName|isTemporary|
+---------+--------------------+-----------+
|  default|title_basics_managed|      false|
|  default|title_basics_mana...|      false|
|  default|title_basics_unma...|      false|
+---------+--------------------+-----------+

In [35]:
spark.sql('SELECT * FROM default.title_basics_managed LIMIT 10').show()

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+-----------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|           genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+-----------------+
|tt0000002|    short|Le clown et ses c...|Le clown et ses c...|      0|     1892|     \N|             5|  Animation,Short|
|tt0000008|    short|Edison Kinetoscop...|Edison Kinetoscop...|      0|     1894|     \N|             1|Documentary,Short|
|tt0000017|    short|Italienischer Bau...|Italienischer Bau...|      0|     1895|     \N|             1|Documentary,Short|
|tt0000025|    short|The Oxford and Ca...|The Oxford and Ca...|      0|     1895|     \N|            \N| News,Short,Sport|
|tt0000027|    short|Cordeliers' Squar...|Place des Cordeli...|      0|     1895|     \N|             1|Documentary,Short|
|tt0000046|    short|    Bois de Boulogne|    Bois de Boulogne|      0|     1896|     \N|            \N|Documentary,Short|
|tt0000054|    short|    A Merry-Go-Round| Les chevaux de bois|      0|     1896|     \N|            \N|            Short|
|tt0000058|    short|Cortge de tzar a...|Cortge de tzar a...|      0|     1896|     \N|            \N|Documentary,Short|
|tt0000062|    short|    Danse serpentine|    Danse serpentine|      0|     1896|     \N|             1|            Short|
|tt0000078|    short|Feira de Gado na ...|Feira de Gado na ...|      0|     1896|     \N|             1|Documentary,Short|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+-----------------+

In [46]:
spark.sql("""
CREATE TABLE tab1
(tconst STRING,
titleType STRING,
primaryTitle STRING, 
originalTitle STRING, 
isAdult STRING, 
startYear STRING, 
endYear STRING, 
runtimeMinutes STRING, 
genres STRING)
  """).show()

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 2))

AnalysisException: ignored

In [47]:
spark.sql('SELECT * FROM default.title_basics_managed LIMIT 10').show()

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+-----------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|           genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+-----------------+
|tt0000002|    short|Le clown et ses c...|Le clown et ses c...|      0|     1892|     \N|             5|  Animation,Short|
|tt0000008|    short|Edison Kinetoscop...|Edison Kinetoscop...|      0|     1894|     \N|             1|Documentary,Short|
|tt0000017|    short|Italienischer Bau...|Italienischer Bau...|      0|     1895|     \N|             1|Documentary,Short|
|tt0000025|    short|The Oxford and Ca...|The Oxford and Ca...|      0|     1895|     \N|            \N| News,Short,Sport|
|tt0000027|    short|Cordeliers' Squar...|Place des Cordeli...|      0|     1895|     \N|             1|Documentary,Short|
|tt0000046|    short|    Bois de Boulogne|    Bois de Boulogne|      0|     1896|     \N|            \N|Documentary,Short|
|tt0000054|    short|    A Merry-Go-Round| Les chevaux de bois|      0|     1896|     \N|            \N|            Short|
|tt0000058|    short|Cortge de tzar a...|Cortge de tzar a...|      0|     1896|     \N|            \N|Documentary,Short|
|tt0000062|    short|    Danse serpentine|    Danse serpentine|      0|     1896|     \N|             1|            Short|
|tt0000078|    short|Feira de Gado na ...|Feira de Gado na ...|      0|     1896|     \N|             1|Documentary,Short|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+-----------------+

In [48]:
spark.sql('DROP TABLE title_basics_managed').show()

++
||
++
++

In [49]:
spark.sql('SHOW TABLES').show()

+---------+--------------------+-----------+
|namespace|           tableName|isTemporary|
+---------+--------------------+-----------+
|  default|title_basics_mana...|      false|
|  default|title_basics_unma...|      false|
+---------+--------------------+-----------+

In [55]:
spark.sql('SHOW VIEWS').show()

+---------+-----------------+-----------+
|namespace|         viewName|isTemporary|
+---------+-----------------+-----------+
|         |title_basics_view|       true|
+---------+-----------------+-----------+

In [56]:
df_titles_sample.createOrReplaceTempView('title_basics_view')
spark.sql('SELECT * FROM title_basics_view LIMIT 10').show()

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+-----------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|           genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+-----------------+
|tt0000008|    short|Edison Kinetoscop...|Edison Kinetoscop...|      0|     1894|     \N|             1|Documentary,Short|
|tt0000029|    short|         Baby's Meal|       Repas de bb|      0|     1895|     \N|             1|Documentary,Short|
|tt0000030|    short|  Rough Sea at Dover|  Rough Sea at Dover|      0|     1895|     \N|             1|Documentary,Short|
|tt0000043|    short|   Batteuse  vapeur|   Batteuse  vapeur|      0|     1896|     \N|            \N|Documentary,Short|
|tt0000044|    short|          Le bivouac|          Le bivouac|      0|     1896|     \N|             1|            Short|
|tt0000049|    short|Boxing Match; or,...|Boxing Match; or,...|      0|     1896|     \N|            \N|      Short,Sport|
|tt0000053|    short|A Chegada do Comb...|A Chegada do Comb...|      0|     1897|     \N|            \N|Documentary,Short|
|tt0000063|    short| Dessinateur express| Dessinateur express|      0|     1896|     \N|            \N|            Short|
|tt0000066|    short|Dessinateur: Von ...|Dessinateur: Von ...|      0|     1896|     \N|            \N|            Short|
|tt0000069|    short|       Post No Bills|  Dfense d'afficher|      0|     1896|     \N|             1|            Short|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+-----------------+

In [57]:
spark.sql("SELECT CAST(runtimeMinutes as INT) FROM title_basics_view").show(5)

+--------------+
|runtimeMinutes|
+--------------+
|             1|
|             1|
|             1|
|          null|
|             1|
+--------------+
only showing top 5 rows

In [58]:
spark.sql("SELECT CAST(runtimeMinutes as INT) FROM title_basics_view")\
.withColumn('sum(Min)', f.col('runtimeMinutes') + 1).show(5)

+--------------+--------+
|runtimeMinutes|sum(Min)|
+--------------+--------+
|             1|       2|
|             1|       2|
|             1|       2|
|          null|    null|
|             1|       2|
+--------------+--------+
only showing top 5 rows