# **Módulo 3 - Manipulando dados com Spark - Parte I**

## **Importando bibliotecas do Spark**

In [1]:
%%bash

# Instal Java
apt-get install openjdk-8-jdk-headless -qq > /dev/null

# Install PySpark
pip install -q pyspark

In [2]:
import os
os.environ['JAVA_HOME'] = '/usr/lib/jvm/java-8-openjdk-amd64'

from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").getOrCreate()

**OBS :** A preparação do ambiente não é igual ao da aula porque estou fazendo 
o exercício no Google Colab.

In [ ]:
df = spark.createDataFrame([('Fulano','1'),
                            ('Ciclano','2')], 
                           schema='nome STRING, id STRING')

In [ ]:
df.show()

+-------+---+
|   nome| id|
+-------+---+
| Fulano|  1|
|Ciclano|  2|
+-------+---+

## **Acessando os Tipos do Spark**

In [ ]:
from pyspark.sql.types import *
from pyspark.sql.functions import col

In [ ]:
int_type = IntegerType()

In [ ]:
array_type = ArrayType(IntegerType())

In [ ]:
array_type

ArrayType(IntegerType,true)

## **Convertendo os tipos de Colunas**

In [ ]:
df.dtypes

[('nome', 'string'), ('id', 'string')]

In [ ]:
df.select('nome',col('id').cast(IntegerType()))

DataFrame[nome: string, id: int]

In [ ]:
df.show()

+-------+---+
|   nome| id|
+-------+---+
| Fulano|  1|
|Ciclano|  2|
+-------+---+

In [ ]:
df.select('nome',col('id').cast('int'))

DataFrame[nome: string, id: int]

In [ ]:
df.show()

+-------+---+
|   nome| id|
+-------+---+
| Fulano|  1|
|Ciclano|  2|
+-------+---+

## **Schema e Criação de DataFrames**

Um schema no Spark é uma especificação de tipos de colunas de um DataFrame. Eles são usadaos na leitura de dados externos e criação de DataFrames, e podem
ser passados diretamente no Spark ou podem ser inferidos. Passar um schema na 
leitura traz benefícios interessantes como : 

  - Evita que o Spark faça inferência de tipos, o que é custoso e demorado 
  dependendo do tamanho do arquivo, laém de propenso a erros; 
  - Permite que usuário identifique erros nos dados logo na leitura, caso 
  não sigam o schema especificado.

In [ ]:
df = spark.createDataFrame([('Fulano'  ,1),
                            ('Ciclano' ,2),
                            ('Beltrano',3),
                            ('Deltrano',4)], 
                            schema=['nome','id'])

In [ ]:
df.show()

+--------+---+
|    nome| id|
+--------+---+
|  Fulano|  1|
| Ciclano|  2|
|Beltrano|  3|
|Deltrano|  4|
+--------+---+

In [ ]:
df.dtypes

[('nome', 'string'), ('id', 'bigint')]

## **Criando schemas programaticamente**

In [ ]:
schema = \
  StructType([
    StructField('nome',StringType()),
    StructField('id'  ,IntegerType())
  ])

In [ ]:
df = spark.createDataFrame([('Fulano'  ,1),
                            ('Ciclano' ,2),
                            ('Beltrano',3),
                            ('Deltrano',4)], 
                            schema=schema)

In [ ]:
df.show()

+--------+---+
|    nome| id|
+--------+---+
|  Fulano|  1|
| Ciclano|  2|
|Beltrano|  3|
|Deltrano|  4|
+--------+---+

In [ ]:
df.dtypes

[('nome', 'string'), ('id', 'int')]

## **Criando schemas com DDL**

In [ ]:
schema = 'nome STRING, id INT'

In [ ]:
df = spark.createDataFrame([('Fulano'  ,1),
                            ('Ciclano' ,2),
                            ('Beltrano',3),
                            ('Deltrano',4)], 
                            schema=schema)

In [ ]:
df.show()

+--------+---+
|    nome| id|
+--------+---+
|  Fulano|  1|
| Ciclano|  2|
|Beltrano|  3|
|Deltrano|  4|
+--------+---+

In [ ]:
df.dtypes

[('nome', 'string'), ('id', 'int')]

## **Criando DataFrames**

In [ ]:
data = [('Fulano'  ,1),
        ('Ciclano' ,2),
        ('Beltrano',3),
        ('Deltrano',4)]

In [ ]:
schema = 'nome STRING, id INT'

In [ ]:
df = spark.createDataFrame(data,schema=schema)

In [ ]:
df.dtypes

[('nome', 'string'), ('id', 'int')]

In [ ]:
df.printSchema()

root
 |-- nome: string (nullable = true)
 |-- id: integer (nullable = true)

In [ ]:
spark.range(100).show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
| 10|
| 11|
| 12|
| 13|
| 14|
| 15|
| 16|
| 17|
| 18|
| 19|
+---+
only showing top 20 rows

## **Leitura e Escrita de Dados**

In [ ]:
link_tab = '/content/drive/MyDrive/igti_bootcamps/eng_dados_cloud/mod3/tab_cnae.csv'

### **DataFrameReader**

      `spark.read.format(format).option(args).load(file_path)`

### **DataFrameWriter**

      `spark.write.format(format).option(args).load(file_path)`

### **Lendo e Escrevendo CSV**
Opções mais comuns : 
  - header
  - inferSchema
  - sep
  - encoding

In [ ]:
#df = spark.read.format('csv').load(link_tab)
df = spark.read.csv(link_tab,sep=',',header=True)

In [ ]:
df.limit(5).show()

+------+--------------------+---------+-----------+
|  CNAE|           DESCRIÇÃO|CÓD.SETOR| NOME SETOR|
+------+--------------------+---------+-----------+
|111301|    Cultivo de arroz|        1|AGRICULTURA|
|111302|    Cultivo de milho|        1|AGRICULTURA|
|111303|    Cultivo de trigo|        1|AGRICULTURA|
|111399|Cultivo de outros...|        1|AGRICULTURA|
|112101|Cultivo de algodã...|        1|AGRICULTURA|
+------+--------------------+---------+-----------+

## **Definindo o schema**

In [ ]:
schema = 'cod_cnae STRING, descricao STRING, cod_setor INT, nome_setor STRING '

In [ ]:
df = spark.read.csv(link_tab,sep=',',header=True, schema=schema)

In [ ]:
df.dtypes

[('cod_cnae', 'string'),
 ('descricao', 'string'),
 ('cod_setor', 'int'),
 ('nome_setor', 'string')]

outra forma de fazer seria

In [ ]:
df = (
    spark.read
    .format('csv')
    .option('header','true')
    .option('sep',',')
    .schema(schema)
    .load(link_tab)
    )

df.limit(5).show()

+--------+--------------------+---------+-----------+
|cod_cnae|           descricao|cod_setor| nome_setor|
+--------+--------------------+---------+-----------+
|  111301|    Cultivo de arroz|        1|AGRICULTURA|
|  111302|    Cultivo de milho|        1|AGRICULTURA|
|  111303|    Cultivo de trigo|        1|AGRICULTURA|
|  111399|Cultivo de outros...|        1|AGRICULTURA|
|  112101|Cultivo de algodã...|        1|AGRICULTURA|
+--------+--------------------+---------+-----------+

In [ ]:
df = (
    spark.read
    .format('csv')
    .options(header=True,sep=',')  
    .schema(schema)
    .load(link_tab)
)
df.show(5)

+--------+--------------------+---------+-----------+
|cod_cnae|           descricao|cod_setor| nome_setor|
+--------+--------------------+---------+-----------+
|  111301|    Cultivo de arroz|        1|AGRICULTURA|
|  111302|    Cultivo de milho|        1|AGRICULTURA|
|  111303|    Cultivo de trigo|        1|AGRICULTURA|
|  111399|Cultivo de outros...|        1|AGRICULTURA|
|  112101|Cultivo de algodã...|        1|AGRICULTURA|
+--------+--------------------+---------+-----------+
only showing top 5 rows

**OBS :** Utilizando o método "options" podemos parametrizar melhor nossa função
 usando um dicionário

In [ ]:
options_dict = {
    'sep' : ',' , 
    'header' : 'True'
}

df = (
      spark.read
    .format('csv')
    .options(**options_dict)  
    .schema(schema)
    .load(link_tab)
)
df.show(5)

+--------+--------------------+---------+-----------+
|cod_cnae|           descricao|cod_setor| nome_setor|
+--------+--------------------+---------+-----------+
|  111301|    Cultivo de arroz|        1|AGRICULTURA|
|  111302|    Cultivo de milho|        1|AGRICULTURA|
|  111303|    Cultivo de trigo|        1|AGRICULTURA|
|  111399|Cultivo de outros...|        1|AGRICULTURA|
|  112101|Cultivo de algodã...|        1|AGRICULTURA|
+--------+--------------------+---------+-----------+
only showing top 5 rows

In [ ]:
df.printSchema()

root
 |-- cod_cnae: string (nullable = true)
 |-- descricao: string (nullable = true)
 |-- cod_setor: integer (nullable = true)
 |-- nome_setor: string (nullable = true)

In [ ]:
schema = 'cod_cnae INT, descricao STRING, cod_setor INT, nome_setor STRING '

In [ ]:
options_dict = {
    'sep' : ',' , 
    'header' : 'True'
}

df = (
      spark.read
    .format('csv')
    .options(**options_dict)  
    .schema(schema)
    .load(link_tab)
)
df.show(5)

+--------+--------------------+---------+-----------+
|cod_cnae|           descricao|cod_setor| nome_setor|
+--------+--------------------+---------+-----------+
|  111301|    Cultivo de arroz|        1|AGRICULTURA|
|  111302|    Cultivo de milho|        1|AGRICULTURA|
|  111303|    Cultivo de trigo|        1|AGRICULTURA|
|  111399|Cultivo de outros...|        1|AGRICULTURA|
|  112101|Cultivo de algodã...|        1|AGRICULTURA|
+--------+--------------------+---------+-----------+
only showing top 5 rows

In [ ]:
df.printSchema()

root
 |-- cod_cnae: integer (nullable = true)
 |-- descricao: string (nullable = true)
 |-- cod_setor: integer (nullable = true)
 |-- nome_setor: string (nullable = true)

In [ ]:
path_save = '/content/drive/MyDrive/igti_bootcamps/eng_dados_cloud/mod3/'

In [ ]:
#df.write.format('csv').save(path_save + 'df_cnae_teste',header=True)

AnalysisException: ignored

In [ ]:
spark.read.format('csv').load(path_save + 'df_cnae_teste',header=True).printSchema()

root
 |-- cod_cnae: string (nullable = true)
 |-- descricao: string (nullable = true)
 |-- cod_setor: string (nullable = true)
 |-- nome_setor: string (nullable = true)

In [ ]:
df.toPandas().to_csv(
    path_save + 'df_cnae_teste.csv',
    index=False, header=True
    )

# **Aula 3.4.2 -** Leitura e escrita de dados - Parte II

## **Lendo e Escrevendo JSON**

In [ ]:
df.write.format('json') \
  .save(path_save + 'df_cnae_teste.json')

In [ ]:
df_json = spark.read.format('json') \
  .load(path_save + 'df_cnae_teste.json')

In [ ]:
df_json.show()

+--------+---------+--------------------+-----------+
|cod_cnae|cod_setor|           descricao| nome_setor|
+--------+---------+--------------------+-----------+
|  111301|        1|    Cultivo de arroz|AGRICULTURA|
|  111302|        1|    Cultivo de milho|AGRICULTURA|
|  111303|        1|    Cultivo de trigo|AGRICULTURA|
|  111399|        1|Cultivo de outros...|AGRICULTURA|
|  112101|        1|Cultivo de algodã...|AGRICULTURA|
|  112102|        1|     Cultivo de juta|AGRICULTURA|
|  112199|        1|Cultivo de outras...|AGRICULTURA|
|  113000|        1|Cultivo de cana-d...|AGRICULTURA|
|  114800|        1|     Cultivo de fumo|AGRICULTURA|
|  115600|        1|     Cultivo de soja|AGRICULTURA|
|  116401|        1| Cultivo de amendoim|AGRICULTURA|
|  116402|        1| Cultivo de girassol|AGRICULTURA|
|  116403|        1|   Cultivo de mamona|AGRICULTURA|
|  116499|        1|Cultivo de outras...|AGRICULTURA|
|  119901|        1|  Cultivo de abacaxi|AGRICULTURA|
|  119902|        1|     Cultivo de alho|AGRICULTURA|
|  119903|        1|Cultivo de batata...|AGRICULTURA|
|  119904|        1|   Cultivo de cebola|AGRICULTURA|
|  119905|        1|   Cultivo de feijão|AGRICULTURA|
|  119906|        1| Cultivo de mandioca|AGRICULTURA|
+--------+---------+--------------------+-----------+
only showing top 20 rows

In [ ]:
df_json.printSchema()

root
 |-- cod_cnae: long (nullable = true)
 |-- cod_setor: long (nullable = true)
 |-- descricao: string (nullable = true)
 |-- nome_setor: string (nullable = true)

## **Lendo e Escrevendo ORC**

In [ ]:
df.write.format('orc').save(path_save + 'df_cnae_teste.orc')

In [ ]:
df_orc = spark.read.format('orc').load(path_save + 'df_cnae_teste.orc')

In [ ]:
df_orc.show(5)

+--------+--------------------+---------+-----------+
|cod_cnae|           descricao|cod_setor| nome_setor|
+--------+--------------------+---------+-----------+
|  111301|    Cultivo de arroz|        1|AGRICULTURA|
|  111302|    Cultivo de milho|        1|AGRICULTURA|
|  111303|    Cultivo de trigo|        1|AGRICULTURA|
|  111399|Cultivo de outros...|        1|AGRICULTURA|
|  112101|Cultivo de algodã...|        1|AGRICULTURA|
+--------+--------------------+---------+-----------+
only showing top 5 rows

In [ ]:
df_orc.printSchema()

root
 |-- cod_cnae: integer (nullable = true)
 |-- descricao: string (nullable = true)
 |-- cod_setor: integer (nullable = true)
 |-- nome_setor: string (nullable = true)

## **Lendo e Escrevendo Parquet**

  - Armazenamento colunar, em contraste com o CSV, que armazena baseado nas linhas. Assim, quando uma query é realizada é possível ignorar os dados não relevantes de maneira rápida e fácil, resultando em operações bem mais eficientes; 
  - Preservação de metadados, incluindo os tipos das colunas, o que garante eficiência e praticidade na escrita e leitura (não é necessário especificar schemas para arquivos parquet);
  - Suporte a dados estruturados de forma aninhada, como listas;
  - Otimizado para processar dados particionados com volume na casa dos gigabytes para cada arquivo;
  - Compressão de dados na escrita, de forma a ocupar menos espaço;
  - Integração com ferramentas como AWS athena, Amazon Redshift Spectrum, Google Big Query e Google Dataproc.

In [ ]:
df.write.format('parquet').save(path_save + 'df_cnae_teste.pq')

In [ ]:
df_parquet = spark.read.format('parquet').load(path_save + 'df_cnae_teste.pq')

In [ ]:
df_parquet.show(5)

+--------+--------------------+---------+-----------+
|cod_cnae|           descricao|cod_setor| nome_setor|
+--------+--------------------+---------+-----------+
|  111301|    Cultivo de arroz|        1|AGRICULTURA|
|  111302|    Cultivo de milho|        1|AGRICULTURA|
|  111303|    Cultivo de trigo|        1|AGRICULTURA|
|  111399|Cultivo de outros...|        1|AGRICULTURA|
|  112101|Cultivo de algodã...|        1|AGRICULTURA|
+--------+--------------------+---------+-----------+
only showing top 5 rows

In [ ]:
df_parquet.printSchema()

root
 |-- cod_cnae: integer (nullable = true)
 |-- descricao: string (nullable = true)
 |-- cod_setor: integer (nullable = true)
 |-- nome_setor: string (nullable = true)

mode : 
  
  - append : arquivos empilhados aos já existentes
  - ignore : retorna um erro silencioso
  - overwrite : sobrescreve os dados já exsitentes
  -  error (default) : retorne erro se já existem dados

In [ ]:
df.write.format('parquet').save(path_save + 'df_cnae_teste.pq', 
                                mode='overwrite'
                                )

ou

In [ ]:
df.write.format('parquet').mode('overwrite').save(path_save + 'df_cnae_teste.pq')

# **Aula 3.5.1 -** Operações básicas com DataFrames - Parte I

## **Manipulação dos Dados**

In [3]:
imdb_path = '/content/drive/MyDrive/igti_bootcamps/eng_dados_cloud/mod3/title_basics.csv'

In [4]:
options_dict = {
    'sep' : '\t' , 
    'header' : 'True'
}

df_titles = (
      spark.read
    .format('csv')
    .options(**options_dict)  
    .load(imdb_path)
)

df_titles.show(5)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0000001|    short|          Carmencita|          Carmencita|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000002|    short|Le clown et ses c...|Le clown et ses c...|      0|     1892|     \N|             5|     Animation,Short|
|tt0000003|    short|      Pauvre Pierrot|      Pauvre Pierrot|      0|     1892|     \N|             4|Animation,Comedy,...|
|tt0000004|    short|         Un bon bock|         Un bon bock|      0|     1892|     \N|            12|     Animation,Short|
|tt0000005|    short|    Blacksmith Scene|    Blacksmith Scene|      0|     1893|     \N|             1|        Comedy,Short|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 5 rows

## **Colunas e Expressões**

As colunas são a principal unidade de manipulação de dados do Spark

In [ ]:
from pyspark.sql.functions import col,round

In [ ]:
(
    df_titles.select('tconst','primaryTitle','runtimeMinutes',)
    .withColumn('runtimeHours',col('runTimeMinutes').cast('int')/60)
    .show(5)
)

+---------+--------------------+--------------+--------------------+
|   tconst|        primaryTitle|runtimeMinutes|        runtimeHours|
+---------+--------------------+--------------+--------------------+
|tt0000001|          Carmencita|             1|0.016666666666666666|
|tt0000002|Le clown et ses c...|             5| 0.08333333333333333|
|tt0000003|      Pauvre Pierrot|             4| 0.06666666666666667|
|tt0000004|         Un bon bock|            12|                 0.2|
|tt0000005|    Blacksmith Scene|             1|0.016666666666666666|
+---------+--------------------+--------------+--------------------+
only showing top 5 rows

In [ ]:
(
    df_titles.select('tconst','primaryTitle','runtimeMinutes',)
    .withColumn('runtimeHours',round(col('runTimeMinutes').cast('int')/60,3))
    .show(5)
)

+---------+--------------------+--------------+------------+
|   tconst|        primaryTitle|runtimeMinutes|runtimeHours|
+---------+--------------------+--------------+------------+
|tt0000001|          Carmencita|             1|       0.017|
|tt0000002|Le clown et ses c...|             5|       0.083|
|tt0000003|      Pauvre Pierrot|             4|       0.067|
|tt0000004|         Un bon bock|            12|         0.2|
|tt0000005|    Blacksmith Scene|             1|       0.017|
+---------+--------------------+--------------+------------+
only showing top 5 rows

In [ ]:
df_titles['runtimeMinutes']

Column<'runtimeMinutes'>

Forma "pandas" de selecionar

  1. df.coluna
  2. df['coluna']

In [ ]:
(
    df_titles.select('tconst','primaryTitle','runtimeMinutes',)
    .withColumn('runtimeHours',round(col('runTimeMinutes').cast('int')/60,3))
    .show(5)
)

+---------+--------------------+--------------+------------+
|   tconst|        primaryTitle|runtimeMinutes|runtimeHours|
+---------+--------------------+--------------+------------+
|tt0000001|          Carmencita|             1|       0.017|
|tt0000002|Le clown et ses c...|             5|       0.083|
|tt0000003|      Pauvre Pierrot|             4|       0.067|
|tt0000004|         Un bon bock|            12|         0.2|
|tt0000005|    Blacksmith Scene|             1|       0.017|
+---------+--------------------+--------------+------------+
only showing top 5 rows

In [ ]:
(
    df_titles.select('tconst','primaryTitle','runtimeMinutes',)
    .withColumn('runtimeHours',df_titles['runtimeMinutes'].cast('int')/60)
    #.withColumn('hour_plus2',df_titles['runtimeHours'] + 2)
    .show(5)
)

+---------+--------------------+--------------+--------------------+
|   tconst|        primaryTitle|runtimeMinutes|        runtimeHours|
+---------+--------------------+--------------+--------------------+
|tt0000001|          Carmencita|             1|0.016666666666666666|
|tt0000002|Le clown et ses c...|             5| 0.08333333333333333|
|tt0000003|      Pauvre Pierrot|             4| 0.06666666666666667|
|tt0000004|         Un bon bock|            12|                 0.2|
|tt0000005|    Blacksmith Scene|             1|0.016666666666666666|
+---------+--------------------+--------------+--------------------+
only showing top 5 rows

In [ ]:
(
    df_titles.select('tconst','primaryTitle','runtimeMinutes',)
    .withColumn('runtimeHours',col('runtimeMinutes').cast('int')/60)
    .withColumn('hours_plus2' ,col('runtimeHours') + 2)
    .show(5)
)

+---------+--------------------+--------------+--------------------+------------------+
|   tconst|        primaryTitle|runtimeMinutes|        runtimeHours|       hours_plus2|
+---------+--------------------+--------------+--------------------+------------------+
|tt0000001|          Carmencita|             1|0.016666666666666666|2.0166666666666666|
|tt0000002|Le clown et ses c...|             5| 0.08333333333333333|2.0833333333333335|
|tt0000003|      Pauvre Pierrot|             4| 0.06666666666666667| 2.066666666666667|
|tt0000004|         Un bon bock|            12|                 0.2|               2.2|
|tt0000005|    Blacksmith Scene|             1|0.016666666666666666|2.0166666666666666|
+---------+--------------------+--------------+--------------------+------------------+
only showing top 5 rows

### **Expressões**

In [ ]:
from pyspark.sql.functions import expr

In [ ]:
(
    df_titles.select('tconst','primaryTitle','runtimeMinutes',)
    .withColumn('runtimeHours',expr('cast(runtimeMinutes as INT)/60'))
    .show(5)
)

+---------+--------------------+--------------+--------------------+
|   tconst|        primaryTitle|runtimeMinutes|        runtimeHours|
+---------+--------------------+--------------+--------------------+
|tt0000001|          Carmencita|             1|0.016666666666666666|
|tt0000002|Le clown et ses c...|             5| 0.08333333333333333|
|tt0000003|      Pauvre Pierrot|             4| 0.06666666666666667|
|tt0000004|         Un bon bock|            12|                 0.2|
|tt0000005|    Blacksmith Scene|             1|0.016666666666666666|
+---------+--------------------+--------------+--------------------+
only showing top 5 rows

In [ ]:
(
    df_titles.select('tconst','primaryTitle','runtimeMinutes',)
    .withColumn('runtimeHours',expr('round(cast(runtimeMinutes as INT)/60,3)'))
    .show(5)
)

+---------+--------------------+--------------+------------+
|   tconst|        primaryTitle|runtimeMinutes|runtimeHours|
+---------+--------------------+--------------+------------+
|tt0000001|          Carmencita|             1|       0.017|
|tt0000002|Le clown et ses c...|             5|       0.083|
|tt0000003|      Pauvre Pierrot|             4|       0.067|
|tt0000004|         Un bon bock|            12|         0.2|
|tt0000005|    Blacksmith Scene|             1|       0.017|
+---------+--------------------+--------------+------------+
only showing top 5 rows

# **Aula 3.5.2 -** Operações básicas com DataFrames - Parte II

## **Manipulação dos Dados**

In [ ]:
df_titles.show(5)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0000001|    short|          Carmencita|          Carmencita|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000002|    short|Le clown et ses c...|Le clown et ses c...|      0|     1892|     \N|             5|     Animation,Short|
|tt0000003|    short|      Pauvre Pierrot|      Pauvre Pierrot|      0|     1892|     \N|             4|Animation,Comedy,...|
|tt0000004|    short|         Un bon bock|         Un bon bock|      0|     1892|     \N|            12|     Animation,Short|
|tt0000005|    short|    Blacksmith Scene|    Blacksmith Scene|      0|     1893|     \N|             1|        Comedy,Short|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 5 rows

In [ ]:
df_titles.select('tconst','primaryTitle','genres').show(5)

+---------+--------------------+--------------------+
|   tconst|        primaryTitle|              genres|
+---------+--------------------+--------------------+
|tt0000001|          Carmencita|   Documentary,Short|
|tt0000002|Le clown et ses c...|     Animation,Short|
|tt0000003|      Pauvre Pierrot|Animation,Comedy,...|
|tt0000004|         Un bon bock|     Animation,Short|
|tt0000005|    Blacksmith Scene|        Comedy,Short|
+---------+--------------------+--------------------+
only showing top 5 rows

In [ ]:
df_titles.columns

['tconst',
 'titleType',
 'primaryTitle',
 'originalTitle',
 'isAdult',
 'startYear',
 'endYear',
 'runtimeMinutes',
 'genres']

In [ ]:
select_cols = [c for c in df_titles.columns if c.find('Title') != -1]

In [ ]:
df_titles.select(select_cols).show(5)

+--------------------+--------------------+
|        primaryTitle|       originalTitle|
+--------------------+--------------------+
|          Carmencita|          Carmencita|
|Le clown et ses c...|Le clown et ses c...|
|      Pauvre Pierrot|      Pauvre Pierrot|
|         Un bon bock|         Un bon bock|
|    Blacksmith Scene|    Blacksmith Scene|
+--------------------+--------------------+
only showing top 5 rows

In [ ]:
cols = ['tconst','primaryTitle','genres']
df_titles.select(cols).show(10)

+---------+--------------------+--------------------+
|   tconst|        primaryTitle|              genres|
+---------+--------------------+--------------------+
|tt0000001|          Carmencita|   Documentary,Short|
|tt0000002|Le clown et ses c...|     Animation,Short|
|tt0000003|      Pauvre Pierrot|Animation,Comedy,...|
|tt0000004|         Un bon bock|     Animation,Short|
|tt0000005|    Blacksmith Scene|        Comedy,Short|
|tt0000006|   Chinese Opium Den|               Short|
|tt0000007|Corbett and Court...|         Short,Sport|
|tt0000008|Edison Kinetoscop...|   Documentary,Short|
|tt0000009|          Miss Jerry|       Romance,Short|
|tt0000010| Leaving the Factory|   Documentary,Short|
+---------+--------------------+--------------------+
only showing top 10 rows

In [ ]:
cols = ['primaryTitle','genres']
df_titles.select('tconst',*cols).show(5)

+---------+--------------------+--------------------+
|   tconst|        primaryTitle|              genres|
+---------+--------------------+--------------------+
|tt0000001|          Carmencita|   Documentary,Short|
|tt0000002|Le clown et ses c...|     Animation,Short|
|tt0000003|      Pauvre Pierrot|Animation,Comedy,...|
|tt0000004|         Un bon bock|     Animation,Short|
|tt0000005|    Blacksmith Scene|        Comedy,Short|
+---------+--------------------+--------------------+
only showing top 5 rows

In [ ]:
df_titles.select('*').show(5)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0000001|    short|          Carmencita|          Carmencita|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000002|    short|Le clown et ses c...|Le clown et ses c...|      0|     1892|     \N|             5|     Animation,Short|
|tt0000003|    short|      Pauvre Pierrot|      Pauvre Pierrot|      0|     1892|     \N|             4|Animation,Comedy,...|
|tt0000004|    short|         Un bon bock|         Un bon bock|      0|     1892|     \N|            12|     Animation,Short|
|tt0000005|    short|    Blacksmith Scene|    Blacksmith Scene|      0|     1893|     \N|             1|        Comedy,Short|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 5 rows

**Observações :**

  - Podemos realizar operações sobre colunas selecionadas
  - A ordem em que as colunas são selecionadas é a ordem em que elas vão ser inseridas no DataFrame resultante.

In [ ]:
from pyspark.sql.functions import upper

df_titles.select('tconst',
                 'genres',
                 upper('primaryTitle').alias('primaryTitle')).show(5)

+---------+--------------------+--------------------+
|   tconst|              genres|        primaryTitle|
+---------+--------------------+--------------------+
|tt0000001|   Documentary,Short|          CARMENCITA|
|tt0000002|     Animation,Short|LE CLOWN ET SES C...|
|tt0000003|Animation,Comedy,...|      PAUVRE PIERROT|
|tt0000004|     Animation,Short|         UN BON BOCK|
|tt0000005|        Comedy,Short|    BLACKSMITH SCENE|
+---------+--------------------+--------------------+
only showing top 5 rows

**Selecionando valores distintos**

In [ ]:
df_titles.select('startYear').distinct().show()

+---------+
|startYear|
+---------+
|     1903|
|     1953|
|     1897|
|     1957|
|     1987|
|     1956|
|     1936|
|     2016|
|     2020|
|     2012|
|     1958|
|     1910|
|     1943|
|     1915|
|     1972|
|     1931|
|     1911|
|     1926|
|     1938|
|     1988|
+---------+
only showing top 20 rows

In [ ]:
df_titles.distinct().show(5)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0000033|    short|  Horse Trick Riders|          La voltige|      0|     1895|     \N|             1|Comedy,Documentar...|
|tt0000132|    short|          Card Party|Une partie de cartes|      0|     1896|     \N|             1|     Biography,Short|
|tt0214902|    short|        The Magician|         Le magicien|      0|     1898|     \N|             1|Fantasy,Horror,Short|
|tt0225248|    short|Canada Vignettes:...|Canada Vignettes:...|      0|     1979|     \N|             1|     Animation,Short|
|tt0245776|    short|       The Biter Bit|       The Biter Bit|      0|     1899|     \N|             1|        Comedy,Short|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 5 rows

In [ ]:
df_titles.count()

8328316

In [ ]:
df_titles.distinct().explain('formatted')

== Physical Plan ==
AdaptiveSparkPlan (5)
+- HashAggregate (4)
   +- Exchange (3)
      +- HashAggregate (2)
         +- Scan csv  (1)


(1) Scan csv
Output [9]: [tconst#191, titleType#192, primaryTitle#193, originalTitle#194, isAdult#195, startYear#196, endYear#197, runtimeMinutes#198, genres#199]
Batched: false
Location: InMemoryFileIndex [file:/content/drive/MyDrive/igti_bootcamps/eng_dados_cloud/mod3/title_basics.csv]
ReadSchema: struct<tconst:string,titleType:string,primaryTitle:string,originalTitle:string,isAdult:string,startYear:string,endYear:string,runtimeMinutes:string,genres:string>

(2) HashAggregate
Input [9]: [tconst#191, titleType#192, primaryTitle#193, originalTitle#194, isAdult#195, startYear#196, endYear#197, runtimeMinutes#198, genres#199]
Keys [9]: [runtimeMinutes#198, tconst#191, titleType#192, originalTitle#194, startYear#196, endYear#197, primaryTitle#193, isAdult#195, genres#199]
Functions: []
Aggregate Attributes: []
Results [9]: [runtimeMinutes#198, tconst#191, titleType#192, originalTitle#194, startYear#196, endYear#197, primaryTitle#193, isAdult#195, genres#199]

(3) Exchange
Input [9]: [runtimeMinutes#198, tconst#191, titleType#192, originalTitle#194, startYear#196, endYear#197, primaryTitle#193, isAdult#195, genres#199]
Arguments: hashpartitioning(runtimeMinutes#198, tconst#191, titleType#192, originalTitle#194, startYear#196, endYear#197, primaryTitle#193, isAdult#195, genres#199, 200), ENSURE_REQUIREMENTS, [id=#427]

(4) HashAggregate
Input [9]: [runtimeMinutes#198, tconst#191, titleType#192, originalTitle#194, startYear#196, endYear#197, primaryTitle#193, isAdult#195, genres#199]
Keys [9]: [runtimeMinutes#198, tconst#191, titleType#192, originalTitle#194, startYear#196, endYear#197, primaryTitle#193, isAdult#195, genres#199]
Functions: []
Aggregate Attributes: []
Results [9]: [tconst#191, titleType#192, primaryTitle#193, originalTitle#194, isAdult#195, startYear#196, endYear#197, runtimeMinutes#198, genres#199]

(5) AdaptiveSparkPlan
Output [9]: [tconst#191, titleType#192, primaryTitle#193, originalTitle#194, isAdult#195, startYear#196, endYear#197, runtimeMinutes#198, genres#199]
Arguments: isFinalPlan=false

**Filtros**

Operadores lógicos : 
   - e   : &
   - ou  : |
   - não : ~

Para fazer o filtro, pode ser usado tanto a função `filter()` como `where()`

**Filtros com uma condição**

In [ ]:
(
    df_titles.filter(col('titleType') == 'movie').show(5)
)

+---------+---------+------------------+------------------+-------+---------+-------+--------------+------+
|   tconst|titleType|      primaryTitle|     originalTitle|isAdult|startYear|endYear|runtimeMinutes|genres|
+---------+---------+------------------+------------------+-------+---------+-------+--------------+------+
|tt0000502|    movie|          Bohemios|          Bohemios|      0|     1905|     \N|           100|    \N|
|tt0000591|    movie|  The Prodigal Son| L'enfant prodigue|      0|     1907|     \N|            90| Drama|
|tt0000615|    movie|Robbery Under Arms|Robbery Under Arms|      0|     1907|     \N|            \N| Drama|
|tt0000630|    movie|            Hamlet|            Amleto|      0|     1908|     \N|            \N| Drama|
|tt0000675|    movie|       Don Quijote|       Don Quijote|      0|     1908|     \N|            \N| Drama|
+---------+---------+------------------+------------------+-------+---------+-------+--------------+------+
only showing top 5 rows

In [ ]:
(
    df_titles.where(col('titleType') == 'movie').show()
)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+-----------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|           genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+-----------------+
|tt0000502|    movie|            Bohemios|            Bohemios|      0|     1905|     \N|           100|               \N|
|tt0000591|    movie|    The Prodigal Son|   L'enfant prodigue|      0|     1907|     \N|            90|            Drama|
|tt0000615|    movie|  Robbery Under Arms|  Robbery Under Arms|      0|     1907|     \N|            \N|            Drama|
|tt0000630|    movie|              Hamlet|              Amleto|      0|     1908|     \N|            \N|            Drama|
|tt0000675|    movie|         Don Quijote|         Don Quijote|      0|     1908|     \N|            \N|            Drama|
|tt0000679|    movie|The Fairylogue an...|The Fairylogue an...|      0|     1908|     \N|           120|Adventure,Fantasy|
|tt0000739|    movie|El pastorcito de ...|El pastorcito de ...|      0|     1908|     \N|            \N|            Drama|
|tt0000793|    movie|       Andreas Hofer|       Andreas Hofer|      0|     1909|     \N|            \N|            Drama|
|tt0000814|    movie|La bocana de Mar ...|La bocana de Mar ...|      0|     1909|     \N|            \N|               \N|
|tt0000838|    movie|  A Cultura do Cacau|  A Cultura do Cacau|      0|     1909|     \N|            \N|               \N|
|tt0000842|    movie|De Garraf a Barce...|De Garraf a Barce...|      0|     1909|     \N|            \N|               \N|
|tt0000846|    movie|Un día en Xochimilco|Un día en Xochimilco|      0|     1909|     \N|            \N|               \N|
|tt0000850|    movie|    Los dos hermanos|    Los dos hermanos|      0|     1909|     \N|            \N|               \N|
|tt0000859|    movie|Fabricación del c...|Fabricación del c...|      0|     1909|     \N|            \N|               \N|
|tt0000862|    movie|          Faldgruben|          Faldgruben|      0|     1909|     \N|            \N|               \N|
|tt0000867|    movie|     Fiesta de toros|     Fiesta de toros|      0|     1909|     \N|            \N|               \N|
|tt0000868|    movie|Fiestas de Santa ...|Fiestas de Santa ...|      0|     1909|     \N|            \N|               \N|
|tt0000869|    movie|Fiestas en La Gar...|Fiestas en La Gar...|      0|     1909|     \N|            \N|               \N|
|tt0000879|    movie|Gira política de ...|Gira política de ...|      0|     1909|     \N|            \N|               \N|
|tt0000886|    movie|Hamlet, Prince of...|              Hamlet|      0|     1910|     \N|            \N|            Drama|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+-----------------+
only showing top 20 rows

In [ ]:
(
    df_titles.where(col('titleType') == 'movie').count()
)

591977

In [ ]:
(
    df_titles.filter((col('titleType') == 'movie') & (col('runTimeMinutes') <= 90)).show()
)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0000591|    movie|    The Prodigal Son|   L'enfant prodigue|      0|     1907|     \N|            90|               Drama|
|tt0001184|    movie|Don Juan de Serra...|Don Juan de Serra...|      0|     1910|     \N|            58|     Adventure,Drama|
|tt0001258|    movie|The White Slave T...|Den hvide slaveha...|      0|     1910|     \N|            45|               Drama|
|tt0001285|    movie|   The Life of Moses|   The Life of Moses|      0|     1909|     \N|            50|Biography,Drama,F...|
|tt0001498|    movie|The Battle of Tra...|The Battle of Tra...|      0|     1911|     \N|            51|                 War|
|tt0001592|    movie|In the Prime of Life|       Ekspeditricen|      0|     1911|     \N|            52|               Drama|
|tt0001630|    movie|    Der fremde Vogel|    Der fremde Vogel|      0|     1911|     \N|            45|                  \N|
|tt0001790|    movie|Les Misérables, P...|Les misérables - ...|      0|     1913|     \N|            60|               Drama|
|tt0001812|    movie|         Oedipus Rex|         Oedipus Rex|      0|     1911|     \N|            56|               Drama|
|tt0001892|    movie|      Den sorte drøm|      Den sorte drøm|      0|     1911|     \N|            53|               Drama|
|tt0001911|    movie|         Nell Gwynne|Sweet Nell of Old...|      0|     1911|     \N|            50|Biography,Drama,H...|
|tt0001964|    movie|       The Traitress|      Die Verräterin|      0|     1911|     \N|            48|               Drama|
|tt0002026|    movie|Anny - Story of a...|Anny - en gatepig...|      0|     1912|     \N|            68|       Drama,Romance|
|tt0002094|    movie|          Charles IV|          Charles IV|      0|     1912|     \N|            50|                  \N|
|tt0002130|    movie|     Dante's Inferno|           L'Inferno|      0|     1911|     \N|            71|Adventure,Drama,F...|
|tt0002153|    movie|The Great Circus ...|Dødsspring til he...|      0|     1912|     \N|            45|               Drama|
|tt0002186|    movie|   The Flying Circus| Den flyvende cirkus|      0|     1912|     \N|            46|               Drama|
|tt0002199|    movie|From the Manger t...|From the Manger t...|      0|     1912|     \N|            60|     Biography,Drama|
|tt0002315|    movie|El lobo de la sierra|El lobo de la sierra|      0|     1912|     \N|            76|                  \N|
|tt0002423|    movie|             Passion|      Madame DuBarry|      0|     1919|     \N|            85|Biography,Drama,R...|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 20 rows

In [ ]:
(
    df_titles.filter(((col('titleType') == 'movie') | (col('titleType') == 'tvSeries')) & (col('runtimeMinutes') <= 90)).show()
)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0000591|    movie|    The Prodigal Son|   L'enfant prodigue|      0|     1907|     \N|            90|               Drama|
|tt0001184|    movie|Don Juan de Serra...|Don Juan de Serra...|      0|     1910|     \N|            58|     Adventure,Drama|
|tt0001258|    movie|The White Slave T...|Den hvide slaveha...|      0|     1910|     \N|            45|               Drama|
|tt0001285|    movie|   The Life of Moses|   The Life of Moses|      0|     1909|     \N|            50|Biography,Drama,F...|
|tt0001498|    movie|The Battle of Tra...|The Battle of Tra...|      0|     1911|     \N|            51|                 War|
|tt0001592|    movie|In the Prime of Life|       Ekspeditricen|      0|     1911|     \N|            52|               Drama|
|tt0001630|    movie|    Der fremde Vogel|    Der fremde Vogel|      0|     1911|     \N|            45|                  \N|
|tt0001790|    movie|Les Misérables, P...|Les misérables - ...|      0|     1913|     \N|            60|               Drama|
|tt0001812|    movie|         Oedipus Rex|         Oedipus Rex|      0|     1911|     \N|            56|               Drama|
|tt0001892|    movie|      Den sorte drøm|      Den sorte drøm|      0|     1911|     \N|            53|               Drama|
|tt0001911|    movie|         Nell Gwynne|Sweet Nell of Old...|      0|     1911|     \N|            50|Biography,Drama,H...|
|tt0001964|    movie|       The Traitress|      Die Verräterin|      0|     1911|     \N|            48|               Drama|
|tt0002026|    movie|Anny - Story of a...|Anny - en gatepig...|      0|     1912|     \N|            68|       Drama,Romance|
|tt0002094|    movie|          Charles IV|          Charles IV|      0|     1912|     \N|            50|                  \N|
|tt0002130|    movie|     Dante's Inferno|           L'Inferno|      0|     1911|     \N|            71|Adventure,Drama,F...|
|tt0002153|    movie|The Great Circus ...|Dødsspring til he...|      0|     1912|     \N|            45|               Drama|
|tt0002186|    movie|   The Flying Circus| Den flyvende cirkus|      0|     1912|     \N|            46|               Drama|
|tt0002199|    movie|From the Manger t...|From the Manger t...|      0|     1912|     \N|            60|     Biography,Drama|
|tt0002315|    movie|El lobo de la sierra|El lobo de la sierra|      0|     1912|     \N|            76|                  \N|
|tt0002423|    movie|             Passion|      Madame DuBarry|      0|     1919|     \N|            85|Biography,Drama,R...|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 20 rows

In [ ]:
(
df_titles.filter( ((col('titleType') == 'movie') & (col('titleType') == 'tvSeries') & (col('runtimeMinutes') <= 90)) ).count()
)

0

In [ ]:
(
    df_titles.filter(((col('titleType') == 'movie') | (col('titleType') == 'tvSeries')) & (col('runtimeMinutes') <= 90)).count()
)

296182

In [ ]:
df_titles.filter((col('titleType').isin('movie','tvSeries')) & (col('runtimeMinutes') <= 90)).show(5)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0000591|    movie|    The Prodigal Son|   L'enfant prodigue|      0|     1907|     \N|            90|               Drama|
|tt0001184|    movie|Don Juan de Serra...|Don Juan de Serra...|      0|     1910|     \N|            58|     Adventure,Drama|
|tt0001258|    movie|The White Slave T...|Den hvide slaveha...|      0|     1910|     \N|            45|               Drama|
|tt0001285|    movie|   The Life of Moses|   The Life of Moses|      0|     1909|     \N|            50|Biography,Drama,F...|
|tt0001498|    movie|The Battle of Tra...|The Battle of Tra...|      0|     1911|     \N|            51|                 War|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 5 rows

In [ ]:
(
df_titles
.filter(col('titleType').isin('movie','tvSeries'))
.filter(col('runtimeMinutes') <= 90)
.count()
)

296182

**Filtros utilizando expressões**

In [ ]:
(
    df_titles
    .filter('titleType == "movie"')
    .filter('runtimeMinutes <= 90')
    .show(5)
)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0000591|    movie|    The Prodigal Son|   L'enfant prodigue|      0|     1907|     \N|            90|               Drama|
|tt0001184|    movie|Don Juan de Serra...|Don Juan de Serra...|      0|     1910|     \N|            58|     Adventure,Drama|
|tt0001258|    movie|The White Slave T...|Den hvide slaveha...|      0|     1910|     \N|            45|               Drama|
|tt0001285|    movie|   The Life of Moses|   The Life of Moses|      0|     1909|     \N|            50|Biography,Drama,F...|
|tt0001498|    movie|The Battle of Tra...|The Battle of Tra...|      0|     1911|     \N|            51|                 War|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 5 rows

In [ ]:
(
    df_titles
    .filter('titleType in ("movie","tvSeries") and runtimeMinutes <= 90')
    .show(5)
)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0000591|    movie|    The Prodigal Son|   L'enfant prodigue|      0|     1907|     \N|            90|               Drama|
|tt0001184|    movie|Don Juan de Serra...|Don Juan de Serra...|      0|     1910|     \N|            58|     Adventure,Drama|
|tt0001258|    movie|The White Slave T...|Den hvide slaveha...|      0|     1910|     \N|            45|               Drama|
|tt0001285|    movie|   The Life of Moses|   The Life of Moses|      0|     1909|     \N|            50|Biography,Drama,F...|
|tt0001498|    movie|The Battle of Tra...|The Battle of Tra...|      0|     1911|     \N|            51|                 War|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 5 rows

**Observações**

Quando nos referimos às colunas por meio da função `col()`, temos acesso à diversos métodos das colunas que podem ser utilizados para auxiliar na filtragem do DataFrame. Alguns deles são :

  - `isin()` : checa se a coluna contém os valores listados na função.
  - `contains` : utilizado para verificar se uma coluna de texto contém algum padrão especificado (não aceita regex). Aceita uma outra coluna de text.
  - `like()` : utilizado para verificar se uma coluna de texto contém algum padrão especificado (não aceita regex). Funciona de forma similar so "LIKE" do SQL.
  - `rlike()` : utilizado para verificar se uma coluna de texto contém algum padrão especificado (**aceita regex**). Funciona de forma similar ao "RLIKE" do SQL
  - `startswith()` : utilizado para verificar se uma coluna de texto começa com algum padrão especificado (**aceita regex**).
  - `endswith()` :  utilizado para verificar se uma coluna de texto termina com algum padrão especificado (**aceita regex**).
  - `between()` : checa se os valores da coluna estão dentro do intervalo especificado. Os dois lados do intervalo são inclusivos
  - `isNull()` : retorna True se o valor da coluna é nulo
  - `isNotNull()` : retorna True se o valor da coluna é não nulo

Outros métodos úteis :

  - `alias()/name()` : usado para renomear as colunas em operações como select() e agg()
  - `astype()/cast()` : usado para mudar o tipo das colunas. Aceita tanto um
  string como um tipo especificado pelo módulo pyspark.sql.types
  - `substr()` : utilizado para cortar uma string com base em índices dos caracteres.

In [ ]:
(
  df_titles
 .filter(col('primaryTitle').like('%Avengers%'))
 .filter(col('titleType') == 'movie')
 .show(5)
)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0034639|    movie|        The Avengers|   The Day Will Dawn|      0|     1942|     \N|            98|           Drama,War|
|tt0036194|    movie|The People's Aven...|   Narodnye mstiteli|      0|     1943|     \N|            55|     Documentary,War|
|tt0058651|    movie|  The Three Avengers| Gli invincibili tre|      0|     1964|     \N|           101|Action,Adventure,...|
|tt0069746|    movie|Avengers of the Reef|Avengers of the Reef|      0|     1973|     \N|            84|    Adventure,Family|
|tt0074513|    movie|The Shaolin Avengers|Fang Shi Yu yu Hu...|      0|     1976|     \N|            97|        Action,Drama|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 5 rows

In [ ]:
(
    df_titles.
    withColumn('startYear',col('startYear').cast('int'))
    .filter(col('startYear').isNotNull())
    .show()
)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0000001|    short|          Carmencita|          Carmencita|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000002|    short|Le clown et ses c...|Le clown et ses c...|      0|     1892|     \N|             5|     Animation,Short|
|tt0000003|    short|      Pauvre Pierrot|      Pauvre Pierrot|      0|     1892|     \N|             4|Animation,Comedy,...|
|tt0000004|    short|         Un bon bock|         Un bon bock|      0|     1892|     \N|            12|     Animation,Short|
|tt0000005|    short|    Blacksmith Scene|    Blacksmith Scene|      0|     1893|     \N|             1|        Comedy,Short|
|tt0000006|    short|   Chinese Opium Den|   Chinese Opium Den|      0|     1894|     \N|             1|               Short|
|tt0000007|    short|Corbett and Court...|Corbett and Court...|      0|     1894|     \N|             1|         Short,Sport|
|tt0000008|    short|Edison Kinetoscop...|Edison Kinetoscop...|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000009|    short|          Miss Jerry|          Miss Jerry|      0|     1894|     \N|            40|       Romance,Short|
|tt0000010|    short| Leaving the Factory|La sortie de l'us...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000011|    short|Akrobatisches Pot...|Akrobatisches Pot...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000012|    short|The Arrival of a ...|L'arrivée d'un tr...|      0|     1896|     \N|             1|   Documentary,Short|
|tt0000013|    short|The Photographica...|Le débarquement d...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000014|    short| The Waterer Watered|   L'arroseur arrosé|      0|     1895|     \N|             1|        Comedy,Short|
|tt0000015|    short| Autour d'une cabine| Autour d'une cabine|      0|     1894|     \N|             2|     Animation,Short|
|tt0000016|    short|Boat Leaving the ...|Barque sortant du...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000017|    short|Italienischer Bau...|Italienischer Bau...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000018|    short|Das boxende Känguruh|Das boxende Känguruh|      0|     1895|     \N|             1|               Short|
|tt0000019|    short|    The Clown Barber|    The Clown Barber|      0|     1898|     \N|            \N|        Comedy,Short|
|tt0000020|    short|      The Derby 1895|      The Derby 1895|      0|     1895|     \N|             1|Documentary,Short...|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 20 rows

# **Aula 3.5.3 -** Operações básicas com DataFrames - Parte III

**Ordenando o DataFrame**

A ordenação do DataFrame pode ser feita utilizando funções `orderBy()` ou `sort()`. Algumas funções auxiliares importantes para serem usadas ao ordenar : 

  - `asc()`: ordena a coluna de forma ascendente (default)
  - `desc()` : ordena a coluna de forma descrescente
  - `asc_nulls_first()/desc_nulls_first()`: ordena a coluna de forma ascendente e descendente, respectivamente, mantendo os campos nulos primeiro
  - `asc_nulls_last()/desc_nulls_last()`: ordena a coluna de forma ascendente e
  decrescente, respectivamente, mantendo os campos nulos por último

In [ ]:
df_titles.show(5)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0000001|    short|          Carmencita|          Carmencita|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000002|    short|Le clown et ses c...|Le clown et ses c...|      0|     1892|     \N|             5|     Animation,Short|
|tt0000003|    short|      Pauvre Pierrot|      Pauvre Pierrot|      0|     1892|     \N|             4|Animation,Comedy,...|
|tt0000004|    short|         Un bon bock|         Un bon bock|      0|     1892|     \N|            12|     Animation,Short|
|tt0000005|    short|    Blacksmith Scene|    Blacksmith Scene|      0|     1893|     \N|             1|        Comedy,Short|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 5 rows

In [ ]:
df_titles.orderBy(col('startYear').cast('int')).show()

+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+-------------+
|    tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|       genres|
+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+-------------+
|tt11112784|    movie|   Perfect Strangers|   Perfect Strangers|      0|       \N|     \N|            \N| Comedy,Drama|
|tt11113108|tvEpisode|      Episode #1.759|      Episode #1.759|      0|       \N|     \N|            \N|Comedy,Family|
|tt11112532|    movie|                Agra|                Agra|      0|       \N|     \N|            \N|        Drama|
|tt11113062|tvEpisode|      Episode #1.741|      Episode #1.741|      0|       \N|     \N|            \N|Comedy,Family|
|tt11112858|    movie|Lizards: A Pop Opera|Lizards: A Pop Opera|      0|       \N|     \N|            \N|        Drama|
|tt11113066|tvEpisode|      Episode #1.742|      Episode #1.742|      0|       \N|     \N|            \N|Comedy,Family|
|tt11111996| tvSeries|       Captain Carol|       Captain Carol|      0|       \N|     \N|            \N|        Drama|
|tt11113068|tvEpisode|      Episode #1.743|      Episode #1.743|      0|       \N|     \N|            \N|Comedy,Family|
|tt11112084|    short|Salt. Pepper. Pea...|Salt. Pepper. Pea...|      0|       \N|     \N|            \N|  Crime,Short|
|tt11113072|tvEpisode|      Episode #1.744|      Episode #1.744|      0|       \N|     \N|            \N|Comedy,Family|
| tt1111226|tvEpisode|BR549 and Stoll V...|BR549 and Stoll V...|      0|       \N|     \N|            \N|        Music|
|tt11113074|tvEpisode|      Episode #1.745|      Episode #1.745|      0|       \N|     \N|            \N|Comedy,Family|
| tt1111228|tvEpisode|Janiva Magness an...|Janiva Magness an...|      0|       \N|     \N|            \N|        Music|
|tt11113076|tvEpisode|      Episode #1.746|      Episode #1.746|      0|       \N|     \N|            \N|Comedy,Family|
| tt1111230|tvEpisode|Tony Trischka and...|Tony Trischka and...|      0|       \N|     \N|            \N|        Music|
|tt11113080|tvEpisode|      Episode #1.747|      Episode #1.747|      0|       \N|     \N|            \N|Comedy,Family|
|tt11112078|    movie|  Un día 28 de enero|  Un día 28 de enero|      0|       \N|     \N|            \N|  Documentary|
|tt11113082|tvEpisode|      Episode #1.749|      Episode #1.749|      0|       \N|     \N|            \N|Comedy,Family|
|tt11112536|    movie|        Fashion Week|        Fashion Week|      0|       \N|     \N|            \N|       Comedy|
|tt11113084|tvEpisode|      Episode #1.748|      Episode #1.748|      0|       \N|     \N|            \N|Comedy,Family|
+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+-------------+
only showing top 20 rows

In [ ]:
df_titles.orderBy('startYear','runtimeMinutes').filter('titleType == "movie"').show()

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt2210499|    movie|          Birmingham|          Birmingham|      0|     1896|     \N|            61|         Documentary|
|tt0229676|    movie|Reproduction of t...|Reproduction of t...|      0|     1897|     \N|            \N|Documentary,News,...|
|tt0236940|    movie|69th Regiment Pas...|69th Regiment Pas...|      0|     1898|     \N|            \N|         Documentary|
|tt0235357|    movie|Dressing Paper Dolls|Dressing Paper Dolls|      0|     1898|     \N|            \N|         Documentary|
|tt0138774|    movie|Saída dos Operári...|Saída dos Operári...|      0|     1898|     \N|            \N|         Documentary|
|tt0138759|    movie|A Rua Augusta em ...|A Rua Augusta em ...|      0|     1898|     \N|            \N|         Documentary|
|tt0138349|    movie|O Carnaval em Lisboa|O Carnaval em Lisboa|      0|     1898|     \N|            \N|         Documentary|
|tt0221040|    movie|Buck Dance, Ute I...|Buck Dance, Ute I...|      0|     1898|     \N|            \N|         Documentary|
|tt0138342|    movie|      O Campo Grande|      O Campo Grande|      0|     1898|     \N|            \N|         Documentary|
|tt0230366|    movie|Jeffries-Sharkey ...|Jeffries-Sharkey ...|      0|     1899|     \N|           135|Documentary,News,...|
|tt0138382|    movie|O Cortejo da Proc...|O Cortejo da Proc...|      0|     1899|     \N|            \N|         Documentary|
|tt0246629|    movie|   A Football Tackle|   A Football Tackle|      0|     1899|     \N|            \N|   Documentary,Sport|
|tt0257347|    movie|2nd Company Gover...|2nd Company Gover...|      0|     1899|     \N|            \N|         Documentary|
|tt0138568|    movie|O Lançamento ao T...|O Lançamento ao T...|      0|     1899|     \N|            \N|         Documentary|
|tt0138724|    movie|A Procissão da Se...|A Procissão da Se...|      0|     1899|     \N|            \N|         Documentary|
|tt0254716|    movie|Professor Billy O...|Professor Billy O...|      0|     1899|     \N|            \N|         Documentary|
|tt0230765|    movie|Sharkey-McCoy Fig...|Sharkey-McCoy Fig...|      0|     1899|     \N|            \N|Documentary,News,...|
|tt0266894|    movie|The Republican Na...|The Republican Na...|      0|     1900|     \N|            53|         Documentary|
|tt0291338|    movie|      May Day Parade|      May Day Parade|      0|     1900|     \N|            66|    Documentary,News|
|tt0291401|    movie|On the Advance of...|On the Advance of...|      0|     1900|     \N|            \N|         Documentary|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import desc

df_titles.orderBy('startYear',desc('runtimeMinutes')).filter('titleType == "movie"').show()

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt2210499|    movie|          Birmingham|          Birmingham|      0|     1896|     \N|            61|         Documentary|
|tt0229676|    movie|Reproduction of t...|Reproduction of t...|      0|     1897|     \N|            \N|Documentary,News,...|
|tt0236940|    movie|69th Regiment Pas...|69th Regiment Pas...|      0|     1898|     \N|            \N|         Documentary|
|tt0235357|    movie|Dressing Paper Dolls|Dressing Paper Dolls|      0|     1898|     \N|            \N|         Documentary|
|tt0138349|    movie|O Carnaval em Lisboa|O Carnaval em Lisboa|      0|     1898|     \N|            \N|         Documentary|
|tt0138774|    movie|Saída dos Operári...|Saída dos Operári...|      0|     1898|     \N|            \N|         Documentary|
|tt0138759|    movie|A Rua Augusta em ...|A Rua Augusta em ...|      0|     1898|     \N|            \N|         Documentary|
|tt0221040|    movie|Buck Dance, Ute I...|Buck Dance, Ute I...|      0|     1898|     \N|            \N|         Documentary|
|tt0138342|    movie|      O Campo Grande|      O Campo Grande|      0|     1898|     \N|            \N|         Documentary|
|tt0138382|    movie|O Cortejo da Proc...|O Cortejo da Proc...|      0|     1899|     \N|            \N|         Documentary|
|tt0254716|    movie|Professor Billy O...|Professor Billy O...|      0|     1899|     \N|            \N|         Documentary|
|tt0138568|    movie|O Lançamento ao T...|O Lançamento ao T...|      0|     1899|     \N|            \N|         Documentary|
|tt0230765|    movie|Sharkey-McCoy Fig...|Sharkey-McCoy Fig...|      0|     1899|     \N|            \N|Documentary,News,...|
|tt0138724|    movie|A Procissão da Se...|A Procissão da Se...|      0|     1899|     \N|            \N|         Documentary|
|tt0257347|    movie|2nd Company Gover...|2nd Company Gover...|      0|     1899|     \N|            \N|         Documentary|
|tt0246629|    movie|   A Football Tackle|   A Football Tackle|      0|     1899|     \N|            \N|   Documentary,Sport|
|tt0230366|    movie|Jeffries-Sharkey ...|Jeffries-Sharkey ...|      0|     1899|     \N|           135|Documentary,News,...|
|tt0327448|    movie| At Break-Neck Speed| At Break-Neck Speed|      0|     1900|     \N|            \N|         Documentary|
|tt0266332|    movie|Birdseye View of ...|Birdseye View of ...|      0|     1900|     \N|            \N|         Documentary|
|tt0291199|    movie|General Bell's Ex...|General Bell's Ex...|      0|     1900|     \N|            \N|         Documentary|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 20 rows

In [ ]:
df_titles.orderBy(desc('startYear')).filter('titleType == "movie"').show()

+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|    tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt11115868|    movie|        The Shinobis|        The Shinobis|      0|       \N|     \N|            \N|              Action|
|tt11116102|    movie|              Deeper|              Deeper|      0|       \N|     \N|            \N|             Romance|
|tt11116112|    movie|Untitled Elliott ...|Untitled Elliott ...|      0|       \N|     \N|            \N|                  \N|
|tt11112784|    movie|   Perfect Strangers|   Perfect Strangers|      0|       \N|     \N|            \N|        Comedy,Drama|
|tt11116440|    movie|               Shame|               Shame|      0|       \N|     \N|            \N|                  \N|
|tt11112072|    movie|       Hell Can Wait|       Hell Can Wait|      0|       \N|     \N|            \N|              Comedy|
|tt11116516|    movie|        Spiritwalker|        Spiritwalker|      0|       \N|     \N|            \N|      Fantasy,Horror|
|tt11112202|    movie|                Kajo|                Kajo|      0|       \N|     \N|            \N|   Adventure,Romance|
|tt11116536|    movie|           3rd Floor|           3rd Floor|      0|       \N|     \N|            \N|              Horror|
|tt11112536|    movie|        Fashion Week|        Fashion Week|      0|       \N|     \N|            \N|              Comedy|
|tt11116608|    movie| Jukdo Surfing Diary| Jukdo Surfing Diary|      0|       \N|     \N|            \N|               Drama|
|tt11112496|    movie|Tera Kya Hoga Lam...|Tera Kya Hoga Lam...|      0|       \N|     \N|           135|                  \N|
|tt11116642|    movie|          Press Play|          Press Play|      0|       \N|     \N|            \N|               Music|
|tt11114804|    movie|     Ratsasan Remake|     Ratsasan Remake|      0|       \N|     \N|            \N|Action,Crime,Thri...|
|tt11116680|    movie|Untitled Fania Re...|Untitled Fania Re...|      0|       \N|     \N|            \N|                  \N|
|tt11114870|    movie|Untitled Coral Re...|Untitled Coral Re...|      0|       \N|     \N|            \N|         Documentary|
|tt11116716|    movie|               Raven|               Raven|      0|       \N|     \N|            \N|              Action|
|tt11112760|    movie|               Crack|               Crack|      0|       \N|     \N|           122|               Drama|
|tt11116920|    movie|         Hack Attack|         Hack Attack|      0|       \N|     \N|            \N|              Action|
|tt11120738|    movie|            Chiquito|            Chiquito|      0|       \N|     \N|            \N|               Drama|
+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import desc

(
 df_titles.withColumn('startYear' , col('startYear').cast('int'))
 .orderBy('startYear')
 .filter('titleType == "movie"')
 .show()
)

+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|    tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt11116440|    movie|               Shame|               Shame|      0|     null|     \N|            \N|                  \N|
|tt11122910|    movie|       Durgo Rahasya|       Durgo Rahasya|      0|     null|     \N|            \N|      Drama,Thriller|
|tt11116516|    movie|        Spiritwalker|        Spiritwalker|      0|     null|     \N|            \N|      Fantasy,Horror|
|tt11112072|    movie|       Hell Can Wait|       Hell Can Wait|      0|     null|     \N|            \N|              Comedy|
|tt11116536|    movie|           3rd Floor|           3rd Floor|      0|     null|     \N|            \N|              Horror|
|tt11112202|    movie|                Kajo|                Kajo|      0|     null|     \N|            \N|   Adventure,Romance|
|tt11116608|    movie| Jukdo Surfing Diary| Jukdo Surfing Diary|      0|     null|     \N|            \N|               Drama|
|tt11112496|    movie|Tera Kya Hoga Lam...|Tera Kya Hoga Lam...|      0|     null|     \N|           135|                  \N|
|tt11116642|    movie|          Press Play|          Press Play|      0|     null|     \N|            \N|               Music|
|tt11112704|    movie|              Jism 3|              Jism 3|      0|     null|     \N|           135|            Thriller|
|tt11116680|    movie|Untitled Fania Re...|Untitled Fania Re...|      0|     null|     \N|            \N|                  \N|
|tt11112784|    movie|   Perfect Strangers|   Perfect Strangers|      0|     null|     \N|            \N|        Comedy,Drama|
|tt11116716|    movie|               Raven|               Raven|      0|     null|     \N|            \N|              Action|
|tt11112858|    movie|Lizards: A Pop Opera|Lizards: A Pop Opera|      0|     null|     \N|            \N|               Drama|
|tt11116920|    movie|         Hack Attack|         Hack Attack|      0|     null|     \N|            \N|              Action|
|tt11114804|    movie|     Ratsasan Remake|     Ratsasan Remake|      0|     null|     \N|            \N|Action,Crime,Thri...|
| tt1111959|    movie|                Will|                Will|      0|     null|     \N|            \N|               Drama|
|tt11114870|    movie|Untitled Coral Re...|Untitled Coral Re...|      0|     null|     \N|            \N|         Documentary|
|tt11120378|    movie|The Once and Futu...|The Once and Futu...|      0|     null|     \N|            \N|       Comedy,Horror|
|tt11115868|    movie|        The Shinobis|        The Shinobis|      0|     null|     \N|            \N|              Action|
+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import asc_nulls_first

(
  df_titles
 .withColumn('startYear',col('startYear').cast('int'))
 .orderBy(asc_nulls_first('startYear'))
 .show(5)   
)

+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+-----------------+
|    tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|           genres|
+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+-----------------+
|tt11112072|    movie|       Hell Can Wait|       Hell Can Wait|      0|     null|     \N|            \N|           Comedy|
|tt11112078|    movie|  Un día 28 de enero|  Un día 28 de enero|      0|     null|     \N|            \N|      Documentary|
|tt11112202|    movie|                Kajo|                Kajo|      0|     null|     \N|            \N|Adventure,Romance|
|tt11112084|    short|Salt. Pepper. Pea...|Salt. Pepper. Pea...|      0|     null|     \N|            \N|      Crime,Short|
|tt11112002|  tvMovie|   The most Precious|   The most Precious|      0|     null|     \N|            \N|            Drama|
+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+-----------------+
only showing top 5 rows

**Renomeando Colunas**

Para renomear colunas, é utilizada a função `withColumnRename()` , da seguinte forma

  `df.withColumnRenamed("nome_antigo","nome_novo")`

In [ ]:
(
    df_titles
    .withColumnRenamed('primaryTitle','nome_filme')
    .show(5)
)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|          nome_filme|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0000001|    short|          Carmencita|          Carmencita|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000002|    short|Le clown et ses c...|Le clown et ses c...|      0|     1892|     \N|             5|     Animation,Short|
|tt0000003|    short|      Pauvre Pierrot|      Pauvre Pierrot|      0|     1892|     \N|             4|Animation,Comedy,...|
|tt0000004|    short|         Un bon bock|         Un bon bock|      0|     1892|     \N|            12|     Animation,Short|
|tt0000005|    short|    Blacksmith Scene|    Blacksmith Scene|      0|     1893|     \N|             1|        Comedy,Short|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 5 rows

In [ ]:
(
    df_titles
    .withColumnRenamed('primaryTitle','nome_filme')
    .select('nome_filme','titleType','startYear','runtimeMinutes')
    .show()
)

+--------------------+---------+---------+--------------+
|          nome_filme|titleType|startYear|runtimeMinutes|
+--------------------+---------+---------+--------------+
|          Carmencita|    short|     1894|             1|
|Le clown et ses c...|    short|     1892|             5|
|      Pauvre Pierrot|    short|     1892|             4|
|         Un bon bock|    short|     1892|            12|
|    Blacksmith Scene|    short|     1893|             1|
|   Chinese Opium Den|    short|     1894|             1|
|Corbett and Court...|    short|     1894|             1|
|Edison Kinetoscop...|    short|     1894|             1|
|          Miss Jerry|    short|     1894|            40|
| Leaving the Factory|    short|     1895|             1|
|Akrobatisches Pot...|    short|     1895|             1|
|The Arrival of a ...|    short|     1896|             1|
|The Photographica...|    short|     1895|             1|
| The Waterer Watered|    short|     1895|             1|
| Autour d'une cabine|    short|     1894|             2|
|Boat Leaving the ...|    short|     1895|             1|
|Italienischer Bau...|    short|     1895|             1|
|Das boxende Känguruh|    short|     1895|             1|
|    The Clown Barber|    short|     1898|            \N|
|      The Derby 1895|    short|     1895|             1|
+--------------------+---------+---------+--------------+
only showing top 20 rows

In [ ]:
(
    df_titles.selectExpr('primaryTitle as nome_filme', 'titleType', 
                         'startYear','runtimeMinutes').show(5)
)

+--------------------+---------+---------+--------------+
|          nome_filme|titleType|startYear|runtimeMinutes|
+--------------------+---------+---------+--------------+
|          Carmencita|    short|     1894|             1|
|Le clown et ses c...|    short|     1892|             5|
|      Pauvre Pierrot|    short|     1892|             4|
|         Un bon bock|    short|     1892|            12|
|    Blacksmith Scene|    short|     1893|             1|
+--------------------+---------+---------+--------------+
only showing top 5 rows

In [ ]:
df_renamed = df_titles
for c in df_titles.columns : 
  df_renamed = df_renamed.withColumnRenamed(c,c+'_suffx')

df_renamed.limit(5).toPandas()

,tconst_suffx,titleType_suffx,primaryTitle_suffx,originalTitle_suffx,isAdult_suffx,startYear_suffx,endYear_suffx,runtimeMinutes_suffx,genres_suffx
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

**Criando e Alterando Colunas**

Para criar ou alterar colunas é utilizada a função `withColumn()`, da seguinte forma : 
  - `df.withColumn("nome_da_coluna", {expressão geradora da coluna})`

In [ ]:
from pyspark.sql.functions import upper

(
    df_titles
    .select('tconst','primaryTitle','runtimeMinutes',)
    .withColumn("primaryTitle_2",upper('primaryTitle'))
    .show(5)
)

+---------+--------------------+--------------+--------------------+
|   tconst|        primaryTitle|runtimeMinutes|      primaryTitle_2|
+---------+--------------------+--------------+--------------------+
|tt0000001|          Carmencita|             1|          CARMENCITA|
|tt0000002|Le clown et ses c...|             5|LE CLOWN ET SES C...|
|tt0000003|      Pauvre Pierrot|             4|      PAUVRE PIERROT|
|tt0000004|         Un bon bock|            12|         UN BON BOCK|
|tt0000005|    Blacksmith Scene|             1|    BLACKSMITH SCENE|
+---------+--------------------+--------------+--------------------+
only showing top 5 rows

**Criando colunas a partir de constantes**

In [ ]:
from pyspark.sql.functions import lit

(
    df_titles
    .select('tconst','primaryTitle','runtimeMinutes',)
    .withColumn('pais',lit('Brasil'))
    .show(5)
)

+---------+--------------------+--------------+------+
|   tconst|        primaryTitle|runtimeMinutes|  pais|
+---------+--------------------+--------------+------+
|tt0000001|          Carmencita|             1|Brasil|
|tt0000002|Le clown et ses c...|             5|Brasil|
|tt0000003|      Pauvre Pierrot|             4|Brasil|
|tt0000004|         Un bon bock|            12|Brasil|
|tt0000005|    Blacksmith Scene|             1|Brasil|
+---------+--------------------+--------------+------+
only showing top 5 rows

**Criando colunas condicionais**

In [ ]:
from pyspark.sql.functions import when

(
    df_titles
    .select('tconst','primaryTitle','runtimeMinutes',)
    .withColumn('runtimeMinutes',col('runtimeMinutes').cast('int'))
    .withColumn("categoria_runtime", when(col('runtimeMinutes') <=60,'curto')
                                    .when((col('runtimeMinutes') > 60) & (col('runtimeMinutes') < 120),'normal')
                                    .when(col('runtimeMinutes') >=120, 'longo')
                                    .when(col('runtimeMinutes').isNull(), 'nulo')
                                    .otherwise('Erro'))
    .filter('runtimeMinutes > 60')
    .show(25)
)

+---------+--------------------+--------------+-----------------+
|   tconst|        primaryTitle|runtimeMinutes|categoria_runtime|
+---------+--------------------+--------------+-----------------+
|tt0000502|            Bohemios|           100|           normal|
|tt0000574|The Story of the ...|            70|           normal|
|tt0000591|    The Prodigal Son|            90|           normal|
|tt0000679|The Fairylogue an...|           120|            longo|
|tt0001756|Lucha por la here...|            92|           normal|
|tt0002026|Anny - Story of a...|            68|           normal|
|tt0002101|           Cleopatra|           100|           normal|
|tt0002130|     Dante's Inferno|            71|           normal|
|tt0002315|El lobo de la sierra|            76|           normal|
|tt0002423|             Passion|            85|           normal|
|tt0002445|          Quo Vadis?|           120|            longo|
|tt0002452|The Independence ...|           120|            longo|
|tt0002625|          Ana Kadova|            92|           normal|
|tt0002646|            Atlantis|           121|            longo|
|tt0002685|        Blodets röst|            89|           normal|
|tt0002767|The Count of Mont...|            69|           normal|
|tt0002820|          East Lynne|            69|           normal|
|tt0002885|   From Dusk to Dawn|            90|           normal|
|tt0002898|Germinal; or, The...|           150|            longo|
|tt0002922|              Hamlet|            64|           normal|
|tt0002973|Dr. Mawson in the...|            68|           normal|
|tt0003014|       Ingeborg Holm|            96|           normal|
|tt0003037|Fantomas: The Man...|            61|           normal|
|tt0003076|   Livets konflikter|            64|           normal|
|tt0003102|    Love Everlasting|            90|           normal|
+---------+--------------------+--------------+-----------------+
only showing top 25 rows

In [ ]:
from pyspark.sql.functions import when,expr

predicado = """

CASE WHEN runtimeMinutes <= 60 THEN 'curto'
     WHEN runtimeMinutes > 60 AND runtimeMinutes < 120 THEN 'normal'
     WHEN runtimeMinutes >= 120 THEN 'longo'
     WHEN runtimeMinutes IS NULL THEN 'nulo'
     ELSE 'Erro'
END

"""

(
    df_titles
    .select('tconst','primaryTitle','runtimeMinutes',)
    .withColumn('runtimeMinutes',col('runtimeMinutes').cast('int'))
    .withColumn("categoria_runtime", expr(predicado))
    .filter('runtimeMinutes > 60')
    .show(25)
)

+---------+--------------------+--------------+-----------------+
|   tconst|        primaryTitle|runtimeMinutes|categoria_runtime|
+---------+--------------------+--------------+-----------------+
|tt0000502|            Bohemios|           100|           normal|
|tt0000574|The Story of the ...|            70|           normal|
|tt0000591|    The Prodigal Son|            90|           normal|
|tt0000679|The Fairylogue an...|           120|            longo|
|tt0001756|Lucha por la here...|            92|           normal|
|tt0002026|Anny - Story of a...|            68|           normal|
|tt0002101|           Cleopatra|           100|           normal|
|tt0002130|     Dante's Inferno|            71|           normal|
|tt0002315|El lobo de la sierra|            76|           normal|
|tt0002423|             Passion|            85|           normal|
|tt0002445|          Quo Vadis?|           120|            longo|
|tt0002452|The Independence ...|           120|            longo|
|tt0002625|          Ana Kadova|            92|           normal|
|tt0002646|            Atlantis|           121|            longo|
|tt0002685|        Blodets röst|            89|           normal|
|tt0002767|The Count of Mont...|            69|           normal|
|tt0002820|          East Lynne|            69|           normal|
|tt0002885|   From Dusk to Dawn|            90|           normal|
|tt0002898|Germinal; or, The...|           150|            longo|
|tt0002922|              Hamlet|            64|           normal|
|tt0002973|Dr. Mawson in the...|            68|           normal|
|tt0003014|       Ingeborg Holm|            96|           normal|
|tt0003037|Fantomas: The Man...|            61|           normal|
|tt0003076|   Livets konflikter|            64|           normal|
|tt0003102|    Love Everlasting|            90|           normal|
+---------+--------------------+--------------+-----------------+
only showing top 25 rows

# **Aula 3.6 -** Trabalhando com diferentes tipos de dados

In [18]:
import pyspark.sql.functions as f

**Valores Numéricos**

  - `round()` : arredonda o valor numérico
  - `ceil` : arredonda o valor numérico para o maior inteiro mais próximo
  - `floor()` : arredonda o valure numérico para o menor inteiro mais próximo
  - `sqrt()` : retorna a raiz quadrada do valor
  - `exp()` : retorna a exponencial do valor
  - `log()` : retorna o logaritmo natual do valor
  - `log10()` : retorna o logaritmo na base 10 do valor
  - `greatest()` : retorna o maior valor dentre os valores das colunas. Análogo ao `max()`, mas entre colunas. 
  - `least()` : retorna o menor valor dentre os valores das colunas. Análogo ao `min()`, mas entre colunas

In [ ]:
df_titles.show(5)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0000001|    short|          Carmencita|          Carmencita|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000002|    short|Le clown et ses c...|Le clown et ses c...|      0|     1892|     \N|             5|     Animation,Short|
|tt0000003|    short|      Pauvre Pierrot|      Pauvre Pierrot|      0|     1892|     \N|             4|Animation,Comedy,...|
|tt0000004|    short|         Un bon bock|         Un bon bock|      0|     1892|     \N|            12|     Animation,Short|
|tt0000005|    short|    Blacksmith Scene|    Blacksmith Scene|      0|     1893|     \N|             1|        Comedy,Short|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 5 rows

In [ ]:
(
    df_titles
    .withColumn('runtimeMinutes',f.col('runtimeMinutes').cast('int'))
    .withColumn('random_normal',f.randn(123))
    .withColumn('dummy_division',f.col('runtimeMinutes')/f.col('random_normal'))
    .withColumn('dummy_division',f.round(f.col('random_normal'),3))
    .withColumn('dummy_round',f.col('runtimeMinutes')*f.col('random_normal'))
    .withColumn('dummy_sum',f.col('runtimeMinutes')+f.col('random_normal'))
    .withColumn('dummy_sub',f.col('runtimeMinutes')-f.col('random_normal'))
    .withColumn('dummy_exp',f.col('runtimeMinutes')**f.col('random_normal'))
    .limit(5)
    .toPandas()
)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,random_normal,dummy_division,dummy_round,dummy_sum,dummy_sub,dummy_exp
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",-0.992755,-0.993,-0.992755,0.007245,1.992755,1.000000
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",0.431839,0.432,2.159195,5.431839,4.568161,2.003745
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",0.250836,0.251,1.003345,4.250836,3.749164,1.415854
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short",-0.104760,-0.105,-1.257121,11.895240,12.104760,0.770806
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short",-1.301178,-1.301,-1.301178,-0.301178,2.301178,1.000000

**Strings**

  - `upper()` : retorna o string em letras maiúsculas
  - `lower()` : retorna o string em letras minúsculas
  - `initcap()` : retorna a primeira letra de cada palavra no string em letras maiúsculas
  - `trim()` : retira os espaços em branco do início e do final do string
  - `ltrim()/rtrim()` : retira os espaços em branco no início e do final do string, respectivamente
  - `lpad()/rpad()` : acrescenta um carctere no início e no final do srting, respectivamente, até que string tenha um determinado comprimento
  - `length()` : retorna o comprimento do stirng, em quantidade de caracteres
  - `split()` : quebra o string a partir de um padrão e retorna um array com os strings resultantes
  - `concat()` : concatena uma ou mais colunas de string
  - `concat_ws` : concatena uma ou mais colunas de string, com um separador entre elas
  - `regexp_extract()` : retorna um match no string a partir de um padrão regex
  - `regex_replace()` : substitui um match no string a partir de um padrão regex com outros caracteres
  - `substring()` : retornamos caracteres do sting que estão entre os índices especificados. Análogo a f.col().substring()

In [ ]:
(
    df_titles
    .withColumn('primarytitle',f.upper(f.col('primaryTitle')))
    .withColumn('titleType',f.trim(f.initcap(f.col('titleType'))))
    .withColumn('genres_array',f.split(f.col('genres'),','))
    .withColumn('num_cost',f.substring(f.col('tconst'),3,7))
    .limit(5)
    .toPandas()
)

,tconst,titleType,primarytitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_array,num_cost
0,tt0000001,Short,CARMENCITA,Carmencita,0,1894,\N,1,"Documentary,Short","[Documentary, Short]",0000001
1,tt0000002,Short,LE CLOWN ET SES CHIENS,Le clown et ses chiens,0,1892,\N,5,"Animation,Short","[Animation, Short]",0000002
2,tt0000003,Short,PAUVRE PIERROT,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance","[Animation, Comedy, Romance]",0000003
3,tt0000004,Short,UN BON BOCK,Un bon bock,0,1892,\N,12,"Animation,Short","[Animation, Short]",0000004
4,tt0000005,Short,BLACKSMITH SCENE,Blacksmith Scene,0,1893,\N,1,"Comedy,Short","[Comedy, Short]",0000005

**Datas**

  - `add_months()` : retorna a data depois de adicionar "x" meses
  - `months_between()` : retorna a diferença entre duas datas em meses
  - `date_add()` : retorna a data depois de adicionar "x" dias
  - `date_sub()` : retorna a data depois de subtrair "x" dias
  - `next_day` : retorna o dia seguinte de alguma data
  - `datediff()` : retorna a diferença entre duas datas em dias
  - `current_date` : retorna a data atual
  - `dayofweek/dayofmonth()/dayofyear` : retorna o dia relativo à semana, ao mês e ao ano, respectivamente.
  - `weekofyear` : retorna a semana relativa ao ano
  - `second()/minute()/hour()` : retorna os segundos, os minutos e as horas de uma coluna de date-time, respectivamente
  - `month()/year()` : retorna o mês e o ano de uma coluna de data, respectivamente
  - `last_day()` : retorna o último dia do mês do qual a data considerada pertence
  - `to_date()` : transforma a coluna no tipo data (t.DateType())
  - `trunc()` : formata a data para a unidade especificada
    - `year` : "(ano)-01-01"
    - `month` : "(ano)-(mes)-01"

In [ ]:
(
    df_titles
    .filter('titleType = "movie"')
    .withColumn('data_ano',f.to_date(f.col('startYear'),'yyyy'))
    .withColumn('mes',f.month(f.col('data_ano')))
    .withColumn('ano',f.dayofmonth(f.col('data_ano')))
    .withColumn('hoje',f.current_date())
    .withColumn('trunc',f.trunc(f.col('data_ano'),'week'))
    .withColumn('ultimo_dia_mes',f.last_day(f.col('data_ano')))
    .withColumn('idade_filme_dias',f.datediff(f.col('hoje'),f.col('data_ano')))
    .withColumn('idade_filme_meses',f.floor(f.months_between(f.col('hoje'),f.col('data_ano'))))
    .withColumn('idade_filme_anos',f.floor(f.col('idade_filme_dias')/365))
    .select('startYear','data_ano','mes','ano','hoje','trunc',
            'ultimo_dia_mes','idade_filme_dias','idade_filme_meses','idade_filme_anos')
    .show(5)
)

+---------+----------+---+---+----------+----------+--------------+----------------+-----------------+----------------+
|startYear|  data_ano|mes|ano|      hoje|     trunc|ultimo_dia_mes|idade_filme_dias|idade_filme_meses|idade_filme_anos|
+---------+----------+---+---+----------+----------+--------------+----------------+-----------------+----------------+
|     1905|1905-01-01|  1|  1|2022-05-08|1904-12-26|    1905-01-31|           42861|             1408|             117|
|     1907|1907-01-01|  1|  1|2022-05-08|1906-12-31|    1907-01-31|           42131|             1384|             115|
|     1907|1907-01-01|  1|  1|2022-05-08|1906-12-31|    1907-01-31|           42131|             1384|             115|
|     1908|1908-01-01|  1|  1|2022-05-08|1907-12-30|    1908-01-31|           41766|             1372|             114|
|     1908|1908-01-01|  1|  1|2022-05-08|1907-12-30|    1908-01-31|           41766|             1372|             114|
+---------+----------+---+---+----------+----------+--------------+----------------+-----------------+----------------+
only showing top 5 rows

### **Arrays**

  - `array()` : constrói um array com as colunas selecionadas
  - `flatten()` : transforma um array de arrays em um único array
  - `explode()` : retorna uma nova linha para cada elemento no array
  - `size()` : retorna o número de elementos do array
  - `sort_array()` : ordena os elementos do array, de forma crescente ou decrescente
  - `reverse()` : reverte a ordem dos elementos de um array 
  - `array_distinct()` : remove elementos duplicados do array
  - `array_contains()` : verifica se o array contém o elemento especificado
  - `arrays_overlap()` : a partir de 2 colunas de arrays, verifica se elas tem algum elemento em comum, retornando True ou False
  - `array_union()` : a partir de 2 colunas de arrays, retorna o array com os elementos unidos das duas colunas, sem duplicatas
  - `array_except()` : a partir de 2 colunas de arrays, retorna um array com os elementos que estão em uma coluna mais não estão na outra, sem duplicatas
  - `array_intersect()` : a partir de 2 colunas de arrays, retorna um array com os elementos que estão nas duas colunas, sem duplicatas
  - `array_join()` : retorna um string após concaterna os elementos do array usando um delimitador especificado
  - `array_max()/array_min()` : retorna o máximo e o mínimo valor do array, respectivamente
  - `array_remove()` : remove elementos do array que são iguais a uma valor especificado

In [ ]:
(
    df_titles
    .filter('titleType = "movie"')
    .withColumn('genres_array',f.split(f.col('genres'), ','))
    .withColumn('first_genre',f.col('genres_array')[0])
    .withColumn('genres_string',f.array_join(f.col('genres_array'),','))
    .withColumn('n_genres',f.size(f.col('genres_array')))
    .withColumn('genres_unico',f.explode(f.col('genres_array')))
    .select('genres_array','first_genre','genres_string','n_genres','genres_unico')
    .show(20)
)

+--------------------+-----------+-----------------+--------+------------+
|        genres_array|first_genre|    genres_string|n_genres|genres_unico|
+--------------------+-----------+-----------------+--------+------------+
|                [\N]|         \N|               \N|       1|          \N|
|             [Drama]|      Drama|            Drama|       1|       Drama|
|             [Drama]|      Drama|            Drama|       1|       Drama|
|             [Drama]|      Drama|            Drama|       1|       Drama|
|             [Drama]|      Drama|            Drama|       1|       Drama|
|[Adventure, Fantasy]|  Adventure|Adventure,Fantasy|       2|   Adventure|
|[Adventure, Fantasy]|  Adventure|Adventure,Fantasy|       2|     Fantasy|
|             [Drama]|      Drama|            Drama|       1|       Drama|
|             [Drama]|      Drama|            Drama|       1|       Drama|
|                [\N]|         \N|               \N|       1|          \N|
|                [\N]|         \N|               \N|       1|          \N|
|                [\N]|         \N|               \N|       1|          \N|
|                [\N]|         \N|               \N|       1|          \N|
|                [\N]|         \N|               \N|       1|          \N|
|                [\N]|         \N|               \N|       1|          \N|
|                [\N]|         \N|               \N|       1|          \N|
|                [\N]|         \N|               \N|       1|          \N|
|                [\N]|         \N|               \N|       1|          \N|
|                [\N]|         \N|               \N|       1|          \N|
|                [\N]|         \N|               \N|       1|          \N|
+--------------------+-----------+-----------------+--------+------------+
only showing top 20 rows

**Nulos**

  - `drop()` : retira do DataFrame as linhas com nulos, com base no que foi passado para o argumento how
    - any (default) : retira todas as linhas com pelo menos um valor nulo nas colunas
    - all : somente retira as linhas com todos os valores nulos nas colunas
  - `fill()` : preenche os valores nulos no DataFrame com uma constante, passada pelo usuário
  - `replace()` : substitui o valor (não somente os valores nulos) por algum outro passado pelo usuário

In [ ]:
(
    df_titles
    .replace('\\N', None, subset=['startYear','endYear'])
    .filter('endYear is null and startYear is not null')
    #.na.drop(subset=['startYear'])#'0',subset=['endYear'])
    .withColumn('coalesce_test',f.coalesce(f.col('startYear'),
                                           f.col('startYear'),
                                           f.lit('Sem ano')))
    .show(5)
)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|coalesce_test|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+
|tt0000001|    short|          Carmencita|          Carmencita|      0|     1894|   null|             1|   Documentary,Short|         1894|
|tt0000002|    short|Le clown et ses c...|Le clown et ses c...|      0|     1892|   null|             5|     Animation,Short|         1892|
|tt0000003|    short|      Pauvre Pierrot|      Pauvre Pierrot|      0|     1892|   null|             4|Animation,Comedy,...|         1892|
|tt0000004|    short|         Un bon bock|         Un bon bock|      0|     1892|   null|            12|     Animation,Short|         1892|
|tt0000005|    short|    Blacksmith Scene|    Blacksmith Scene|      0|     1893|   null|             1|        Comedy,Short|         1893|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+
only showing top 5 rows

# **Aula 4.1 -** Manipulando dados com Spark - Parte II

### **Agrupamento e Agregação**

O agurpamento dos DataFrames é feito por meio da função **groupby()**. Essa função deve ser sucedida pela função agregação `agg()`, de pivotação `pivot()` ou `count()`. A função **agg()** aplica uma função de agregação no DataFrame. Se
precedida por `groupby()`, realiza a agregação dentro dos grupos estabelecidos.
Algumas das funções de agregação mais utilizadas são : 

- `sum()` : retorna a soma dos valores da coluna;
- `sumDistinct()` : retorna a soma dos valores distintos da coluna;
- `max() / min()` : retorna o mínimo e o máximo da coluna, respectivamente.
- `avg() / mean()`: retorna a média dos valores da coluna;
- `percentile_approx()` : retorna o percentil da coluna, com aproximação. Para
trazer a mediana exata, usar : `percentile_approx(f.col(column),.5,lit(10000000))` 
- `stddev()` : retorna o desvio padrão dos valores da coluna
- `count()` : retorna a contagem de linhas
- `countDistinct` : retorna a contagem de valores distintos da coluna
- `first() / last()` : retorna o primeiro e o último valor da coluna no agrupamento, respectivamente. Interessante de ser utilizada em conjunto com o agrupamento `ignoreNulls=True`.
- `collect_list()`: retorna os valores do agrupamento em uma lista, com duplicações.
- `collect_set()` : retorna os valores do agrupamento em uma lista, sem duplicações (desordenado)

**obs:** O spark ignora os valores nulos para calcular as agregações, com exceção da função `count()`.
*texto em itálico*
---

A função **pivot** é utilizada para passar valores de uma linha para as colunas, realizando uma agregação. Deve ser sucedido por uma função de agregação utilizando `agg()`. Pode utilizar qualquer umas das funções de agregação anteriores.

In [ ]:
df_titles.show()

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0000001|    short|          Carmencita|          Carmencita|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000002|    short|Le clown et ses c...|Le clown et ses c...|      0|     1892|     \N|             5|     Animation,Short|
|tt0000003|    short|      Pauvre Pierrot|      Pauvre Pierrot|      0|     1892|     \N|             4|Animation,Comedy,...|
|tt0000004|    short|         Un bon bock|         Un bon bock|      0|     1892|     \N|            12|     Animation,Short|
|tt0000005|    short|    Blacksmith Scene|    Blacksmith Scene|      0|     1893|     \N|             1|        Comedy,Short|
|tt0000006|    short|   Chinese Opium Den|   Chinese Opium Den|      0|     1894|     \N|             1|               Short|
|tt0000007|    short|Corbett and Court...|Corbett and Court...|      0|     1894|     \N|             1|         Short,Sport|
|tt0000008|    short|Edison Kinetoscop...|Edison Kinetoscop...|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000009|    short|          Miss Jerry|          Miss Jerry|      0|     1894|     \N|            40|       Romance,Short|
|tt0000010|    short| Leaving the Factory|La sortie de l'us...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000011|    short|Akrobatisches Pot...|Akrobatisches Pot...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000012|    short|The Arrival of a ...|L'arrivée d'un tr...|      0|     1896|     \N|             1|   Documentary,Short|
|tt0000013|    short|The Photographica...|Le débarquement d...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000014|    short| The Waterer Watered|   L'arroseur arrosé|      0|     1895|     \N|             1|        Comedy,Short|
|tt0000015|    short| Autour d'une cabine| Autour d'une cabine|      0|     1894|     \N|             2|     Animation,Short|
|tt0000016|    short|Boat Leaving the ...|Barque sortant du...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000017|    short|Italienischer Bau...|Italienischer Bau...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000018|    short|Das boxende Känguruh|Das boxende Känguruh|      0|     1895|     \N|             1|               Short|
|tt0000019|    short|    The Clown Barber|    The Clown Barber|      0|     1898|     \N|            \N|        Comedy,Short|
|tt0000020|    short|      The Derby 1895|      The Derby 1895|      0|     1895|     \N|             1|Documentary,Short...|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 20 rows

In [ ]:
df_titles_subset = (
    df_titles
    .filter("cast(startYear as int) >= 2000")
    .sample(fraction = 0.5)
    .withColumn('genre', f.split('genres',',').getItem(0))
)

In [ ]:
df_titles_subset.show()

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-----------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|      genre|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-----------+
|tt0011801|    movie|    Tötet nicht mehr|    Tötet nicht mehr|      0|     2019|     \N|            \N|        Action,Crime|     Action|
|tt0016906|    movie|          Frivolinas|          Frivolinas|      0|     2014|     \N|            80|      Comedy,Musical|     Comedy|
|tt0034413|    short|  Youth Gets a Break|  Youth Gets a Break|      0|     2001|     \N|            20|               Short|      Short|
|tt0035423|    movie|      Kate & Leopold|      Kate & Leopold|      0|     2001|     \N|           118|Comedy,Fantasy,Ro...|     Comedy|
|tt0056840|    short|            Aufsätze|            Aufsätze|      0|     2021|     \N|            10|               Short|      Short|
|tt0060366|    short|A Embalagem de Vidro|A Embalagem de Vidro|      0|     2020|     \N|            11|   Documentary,Short|Documentary|
|tt0065392|    movie|  Bucharest Memories|Amintiri bucurestene|      0|     2020|     \N|            \N|         Documentary|Documentary|
|tt0067230|    short|  I Miss Sonia Henie|  I Miss Sonia Henie|      0|     2009|     \N|            20|        Comedy,Short|     Comedy|
|tt0068943|    short|Between Wroclaw a...|Miedzy Wroclawiem...|      0|     2010|     \N|            11|   Documentary,Short|Documentary|
|tt0069049|    movie|The Other Side of...|The Other Side of...|      0|     2018|     \N|           122|               Drama|      Drama|
|tt0079644|    movie|       November 1828|       November 1828|      0|     2001|     \N|           140|           Drama,War|      Drama|
|tt0083060|    movie|    The Drive to Win|              Sha Ou|      0|     2019|     \N|            \N|         Drama,Sport|      Drama|
|tt0089067|    movie|El día de los alb...|El día de los alb...|      0|     2001|     \N|            90|              Comedy|     Comedy|
|tt0089435|    short|               Kokoa|               Kokoa|      0|     2019|     \N|            13|     Animation,Short|  Animation|
|tt0102362|    movie|              Istota|              Istota|      0|     2000|     \N|            80|       Drama,Romance|      Drama|
|tt0103902|  tvMovie|        Bye Bye Baby|        Bye Bye Baby|      0|     2001|     \N|           100|              Comedy|     Comedy|
|tt0108270|    short|    Symphony 92.4 FM|    Symphony 92.4 FM|      0|     2013|     \N|            \N|               Short|      Short|
|tt0109173|    movie|    Auf allen Meeren|    Auf allen Meeren|      0|     2002|     \N|            95|         Documentary|Documentary|
|tt0110476|    movie|  Master i Margarita|  Master i Margarita|      0|     2006|     \N|           125|       Drama,Fantasy|      Drama|
|tt0111522|    video|Twister: A Musica...|Twister: A Musica...|      0|     2000|     \N|           128|       Action,Comedy|     Action|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-----------+
only showing top 20 rows

In [ ]:
(
    df_titles_subset
    .agg(f.countDistinct('genre').alias('distinct_genres'),)
    .show()
)

+---------------+
|distinct_genres|
+---------------+
|             28|
+---------------+

In [ ]:
(
    df_titles_subset
    .withColumn('runtimeMinutes', f.col('runtimeMinutes').cast('int'))
    .agg(f.sum('runtimeMinutes').alias('total_runtimeMinutes'),
         f.mean('runtimeMinutes').alias('mean_runtimeMinutes'),
         f.min('runtimeMinutes').alias('min_runtimeMinutes'),
         f.max('runtimeMinutes').alias('min_runtimeMinutes'),
         f.percentile_approx('runtimeMinutes', 0.5, f.lit(100000000)).alias('median_runtimeMinutes'),
         f.stddev('runtimeMinutes').alias('std_runtimeMinutes'),
        )
    .show()
)

+--------------------+-------------------+------------------+------------------+---------------------+------------------+
|total_runtimeMinutes|mean_runtimeMinutes|min_runtimeMinutes|min_runtimeMinutes|median_runtimeMinutes|std_runtimeMinutes|
+--------------------+-------------------+------------------+------------------+---------------------+------------------+
|            34147922|  40.63308412571678|                 0|             51420|                   26| 86.46996705982639|
+--------------------+-------------------+------------------+------------------+---------------------+------------------+

In [ ]:
(
  df_titles_subset
  .withColumn('runtimeMinutes', f.col('runtimeMinutes').cast('int')).select('runtimeMinutes').describe().toPandas()
)

  summary     runtimeMinutes
0   count             840397
1    mean  40.63308412571678
2  stddev  86.46996705982639
3     min                  0
4     max              51420

### **Agrupamentos**

In [ ]:
df_titles_subset.show()

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-----------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|      genre|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-----------+
|tt0011801|    movie|    Tötet nicht mehr|    Tötet nicht mehr|      0|     2019|     \N|            \N|        Action,Crime|     Action|
|tt0016906|    movie|          Frivolinas|          Frivolinas|      0|     2014|     \N|            80|      Comedy,Musical|     Comedy|
|tt0034413|    short|  Youth Gets a Break|  Youth Gets a Break|      0|     2001|     \N|            20|               Short|      Short|
|tt0035423|    movie|      Kate & Leopold|      Kate & Leopold|      0|     2001|     \N|           118|Comedy,Fantasy,Ro...|     Comedy|
|tt0056840|    short|            Aufsätze|            Aufsätze|      0|     2021|     \N|            10|               Short|      Short|
|tt0060366|    short|A Embalagem de Vidro|A Embalagem de Vidro|      0|     2020|     \N|            11|   Documentary,Short|Documentary|
|tt0065392|    movie|  Bucharest Memories|Amintiri bucurestene|      0|     2020|     \N|            \N|         Documentary|Documentary|
|tt0067230|    short|  I Miss Sonia Henie|  I Miss Sonia Henie|      0|     2009|     \N|            20|        Comedy,Short|     Comedy|
|tt0068943|    short|Between Wroclaw a...|Miedzy Wroclawiem...|      0|     2010|     \N|            11|   Documentary,Short|Documentary|
|tt0069049|    movie|The Other Side of...|The Other Side of...|      0|     2018|     \N|           122|               Drama|      Drama|
|tt0079644|    movie|       November 1828|       November 1828|      0|     2001|     \N|           140|           Drama,War|      Drama|
|tt0083060|    movie|    The Drive to Win|              Sha Ou|      0|     2019|     \N|            \N|         Drama,Sport|      Drama|
|tt0089067|    movie|El día de los alb...|El día de los alb...|      0|     2001|     \N|            90|              Comedy|     Comedy|
|tt0089435|    short|               Kokoa|               Kokoa|      0|     2019|     \N|            13|     Animation,Short|  Animation|
|tt0102362|    movie|              Istota|              Istota|      0|     2000|     \N|            80|       Drama,Romance|      Drama|
|tt0103902|  tvMovie|        Bye Bye Baby|        Bye Bye Baby|      0|     2001|     \N|           100|              Comedy|     Comedy|
|tt0108270|    short|    Symphony 92.4 FM|    Symphony 92.4 FM|      0|     2013|     \N|            \N|               Short|      Short|
|tt0109173|    movie|    Auf allen Meeren|    Auf allen Meeren|      0|     2002|     \N|            95|         Documentary|Documentary|
|tt0110476|    movie|  Master i Margarita|  Master i Margarita|      0|     2006|     \N|           125|       Drama,Fantasy|      Drama|
|tt0111522|    video|Twister: A Musica...|Twister: A Musica...|      0|     2000|     \N|           128|       Action,Comedy|     Action|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-----------+
only showing top 20 rows

In [ ]:
(
    df_titles_subset
    .groupby('genre')
    .count()
    .orderBy(f.col('count').desc())
    .show()
)

+-----------+------+
|      genre| count|
+-----------+------+
|     Comedy|482555|
|      Drama|461226|
|Documentary|242843|
|         \N|181985|
|  Talk-Show|172340|
|       News|169102|
| Reality-TV|121897|
|     Action|113694|
|      Adult|110823|
|  Animation| 87062|
|      Music| 76238|
|      Crime| 75333|
|      Short| 72025|
|  Adventure| 60493|
|  Game-Show| 59597|
|     Family| 59248|
|      Sport| 39531|
|  Biography| 30490|
|     Horror| 30114|
|    Romance| 28373|
+-----------+------+
only showing top 20 rows

In [ ]:
(
    df_titles_subset
    .groupby('genre')
    .agg(f.mean('runtimeMinutes').alias('mean_runtimeMinutes'),)
    .orderBy(f.col('mean_runtimeMinutes').desc())
    .show()
)

+-----------+-------------------+
|      genre|mean_runtimeMinutes|
+-----------+-------------------+
|      Adult|  96.12180183189955|
|        War|  88.08875739644971|
|      Sport|   83.2083174360931|
|   Thriller|  78.66688353936239|
|    Western|  71.18300653594771|
|       News|  55.07611959785873|
|         \N|  53.39527395481693|
|      Crime| 50.117881045586564|
|  Biography|  49.75553886594067|
|  Talk-Show|  48.03969917396129|
|  Game-Show|  47.85591766723842|
|Documentary| 47.652738826369415|
|    Romance| 45.681195516811954|
|    Musical|  45.07896287566293|
|     Action| 42.819091988672696|
|    History| 41.640278381905176|
|     Family|   40.8547451937748|
|      Drama| 39.864539215753354|
|    Mystery| 37.790748898678416|
|  Adventure|  37.63279402379969|
+-----------+-------------------+
only showing top 20 rows

In [ ]:
(
    df_titles_subset
    .groupby('genre','startYear')
    .agg(f.mean('runtimeMinutes').alias('mean_runtimeMinutes'),)
    .orderBy('startYear',f.col('mean_runtimeMinutes').desc())
    .show()
)

+-----------+---------+-------------------+
|      genre|startYear|mean_runtimeMinutes|
+-----------+---------+-------------------+
|        War|     2000|              125.0|
|      Adult|     2000|  95.32581967213115|
|    Western|     2000|               95.0|
|   Thriller|     2000|  91.30434782608695|
|      Sport|     2000|  89.66666666666667|
|  Talk-Show|     2000|  81.04597701149426|
|  Biography|     2000|  75.46231155778895|
|  Adventure|     2000|  72.22198275862068|
|     Horror|     2000|  66.46491228070175|
|    History|     2000|  64.41176470588235|
|      Crime|     2000|  63.43599257884972|
|    Mystery|     2000|  62.92307692307692|
|         \N|     2000|  60.42767295597484|
|       News|     2000|  56.22935779816514|
|    Musical|     2000|  53.94285714285714|
|      Drama|     2000|  52.42663656884876|
|Documentary|     2000|  51.05493207324277|
|     Comedy|     2000|  49.98434004474273|
|    Romance|     2000|  49.34090909090909|
|     Action|     2000|  47.56431852986218|
+-----------+---------+-------------------+
only showing top 20 rows

In [ ]:
(
    df_titles_subset
    .groupby('genre','startYear')
    .agg(f.mean('runtimeMinutes').alias('mean_runtimeMinutes'),)
    .orderBy(f.col('mean_runtimeMinutes').desc())
    .filter('startYear = 2021')
    .show()
)

+-----------+---------+-------------------+
|      genre|startYear|mean_runtimeMinutes|
+-----------+---------+-------------------+
|      Sport|     2021| 112.94909090909091|
|        War|     2021|               98.8|
|   Thriller|     2021|  90.18131868131869|
|    Western|     2021|               87.2|
|  Biography|     2021|  73.21686746987952|
|      Adult|     2021|  65.50697674418605|
|         \N|     2021| 62.910614525139664|
|       News|     2021| 61.015263157894736|
|  Game-Show|     2021| 55.456043956043956|
|  Adventure|     2021|  54.11656441717791|
|     Action|     2021|  51.58875219683655|
|      Crime|     2021|   50.6560595802302|
| Reality-TV|     2021|  50.26706827309237|
|  Talk-Show|     2021| 47.535616438356165|
|Documentary|     2021| 45.415835279133944|
|    Romance|     2021|  44.22488038277512|
|    Mystery|     2021| 41.809248554913296|
|      Drama|     2021|  41.00237746891002|
|     Family|     2021| 40.721461187214615|
|    History|     2021| 40.489583333333336|
+-----------+---------+-------------------+
only showing top 20 rows

In [ ]:
(
    df_titles_subset
    .groupby('genre')
    .agg(f.collect_list(f.col('titleType')).alias('title_type_list'))
    .orderBy('genre')
    .show()
)

+-----------+--------------------+
|      genre|     title_type_list|
+-----------+--------------------+
|     Action|[movie, video, mo...|
|      Adult|[video, video, vi...|
|  Adventure|[tvMovie, movie, ...|
|  Animation|[short, short, mo...|
|  Biography|[movie, movie, mo...|
|     Comedy|[movie, movie, sh...|
|      Crime|[movie, movie, mo...|
|Documentary|[short, movie, sh...|
|      Drama|[movie, movie, mo...|
|     Family|[movie, movie, tv...|
|    Fantasy|[movie, movie, sh...|
|  Game-Show|[tvSeries, tvSeri...|
|    History|[tvMovie, tvEpiso...|
|     Horror|[movie, movie, mo...|
|      Music|[tvEpisode, tvSer...|
|    Musical|[movie, movie, tv...|
|    Mystery|[short, movie, mo...|
|       News|[tvSeries, tvSeri...|
| Reality-TV|[tvSpecial, tvSer...|
|    Romance|[movie, movie, mo...|
+-----------+--------------------+
only showing top 20 rows

In [ ]:
(
    df_titles_subset
    .groupby('genre')
    .agg(f.collect_list(f.col('titleType')).alias('title_type_list'),
         f.count(f.lit(1)).alias('count')
         )
    .withColumn('n',f.size(f.col('title_type_list')))
    .orderBy('genre')
    .show()
)

+-----------+--------------------+------+------+
|      genre|     title_type_list| count|     n|
+-----------+--------------------+------+------+
|     Action|[movie, video, mo...|113694|113694|
|      Adult|[video, video, vi...|110823|110823|
|  Adventure|[tvMovie, movie, ...| 60493| 60493|
|  Animation|[short, short, mo...| 87062| 87062|
|  Biography|[movie, movie, mo...| 30490| 30490|
|     Comedy|[movie, movie, sh...|482555|482555|
|      Crime|[movie, movie, mo...| 75333| 75333|
|Documentary|[short, movie, sh...|242843|242843|
|      Drama|[movie, movie, mo...|461226|461226|
|     Family|[movie, movie, tv...| 59248| 59248|
|    Fantasy|[movie, movie, sh...| 14015| 14015|
|  Game-Show|[tvSeries, tvSeri...| 59597| 59597|
|    History|[tvMovie, tvEpiso...|  9620|  9620|
|     Horror|[movie, movie, mo...| 30114| 30114|
|      Music|[tvEpisode, tvSer...| 76238| 76238|
|    Musical|[movie, movie, tv...|  5147|  5147|
|    Mystery|[short, movie, mo...|  8759|  8759|
|       News|[tvSeries, tvSeri...|169102|169102|
| Reality-TV|[tvSpecial, tvSer...|121897|121897|
|    Romance|[movie, movie, mo...| 28373| 28373|
+-----------+--------------------+------+------+
only showing top 20 rows

In [ ]:
(
    df_titles_subset
    .groupby('genre')
    .agg(f.collect_set(f.col('titleType')).alias('title_type_list'),
         f.countDistinct(f.col('titleType')).alias('n_distinct')
         )
    .withColumn('n',f.size(f.col('title_type_list')))
    .orderBy('genre')
    .show()
)

+-----------+--------------------+----------+---+
|      genre|     title_type_list|n_distinct|  n|
+-----------+--------------------+----------+---+
|     Action|[tvSpecial, video...|        10| 10|
|      Adult|[tvSpecial, video...|        10| 10|
|  Adventure|[tvSpecial, video...|        10| 10|
|  Animation|[tvSpecial, video...|        10| 10|
|  Biography|[tvSpecial, video...|        10| 10|
|     Comedy|[tvSpecial, video...|        10| 10|
|      Crime|[tvSpecial, video...|        10| 10|
|Documentary|[tvSpecial, video...|        10| 10|
|      Drama|[tvSpecial, video...|        10| 10|
|     Family|[tvSpecial, video...|        10| 10|
|    Fantasy|[tvSpecial, video...|        10| 10|
|  Game-Show|[tvSpecial, video...|        10| 10|
|    History|[tvSpecial, video...|        10| 10|
|     Horror|[tvSpecial, video...|        10| 10|
|      Music|[tvSpecial, video...|        10| 10|
|    Musical|[tvSpecial, video...|        10| 10|
|    Mystery|[tvSpecial, video...|        10| 10|
|       News|[tvSpecial, video...|        10| 10|
| Reality-TV|[tvSpecial, video...|        10| 10|
|    Romance|[tvSpecial, video...|        10| 10|
+-----------+--------------------+----------+---+
only showing top 20 rows

In [ ]:
(
    df_titles_subset
    .groupby('genre')
    .agg(f.collect_list(f.col('titleType')).alias('title_type_list'),
         f.count(f.lit(1)).alias('count')
         )
    .withColumn('tipos_filmes',f.explode(f.col('title_type_list')))
    .select('genre','tipos_filmes')
    .show()
)

+-----+------------+
|genre|tipos_filmes|
+-----+------------+
|Crime|       movie|
|Crime|       movie|
|Crime|       movie|
|Crime|       movie|
|Crime|       movie|
|Crime|       movie|
|Crime|       movie|
|Crime|       movie|
|Crime|       movie|
|Crime|       movie|
|Crime|       movie|
|Crime|       movie|
|Crime|       movie|
|Crime|tvMiniSeries|
|Crime|       movie|
|Crime|       movie|
|Crime|   tvEpisode|
|Crime|       movie|
|Crime|       movie|
|Crime|       movie|
+-----+------------+
only showing top 20 rows

### **Pivotação**

In [ ]:
(
    df_titles_subset
    .drop('genre')
    .withColumn('genres',f.explode(f.split(f.col('genres'), ',')))
    .groupby('tconst','primaryTitle')
    .pivot('genres')
    .count()
    .na.fill(0)
    .orderBy('tconst')
    .show()
)

+---------+--------------------+------+-----+---------+---------+---------+------+-----+-----------+-----+------+-------+---------+-------+------+-----+-------+-------+----+----------+-------+------+-----+-----+---------+--------+---+-------+---+
|   tconst|        primaryTitle|Action|Adult|Adventure|Animation|Biography|Comedy|Crime|Documentary|Drama|Family|Fantasy|Game-Show|History|Horror|Music|Musical|Mystery|News|Reality-TV|Romance|Sci-Fi|Short|Sport|Talk-Show|Thriller|War|Western| \N|
+---------+--------------------+------+-----+---------+---------+---------+------+-----+-----------+-----+------+-------+---------+-------+------+-----+-------+-------+----+----------+-------+------+-----+-----+---------+--------+---+-------+---+
|tt0011801|    Tötet nicht mehr|     1|    0|        0|        0|        0|     0|    1|          0|    0|     0|      0|        0|      0|     0|    0|      0|      0|   0|         0|      0|     0|    0|    0|        0|       0|  0|      0|  0|
|tt0016906|          Frivolinas|     0|    0|        0|        0|        0|     1|    0|          0|    0|     0|      0|        0|      0|     0|    0|      1|      0|   0|         0|      0|     0|    0|    0|        0|       0|  0|      0|  0|
|tt0034413|  Youth Gets a Break|     0|    0|        0|        0|        0|     0|    0|          0|    0|     0|      0|        0|      0|     0|    0|      0|      0|   0|         0|      0|     0|    1|    0|        0|       0|  0|      0|  0|
|tt0035423|      Kate & Leopold|     0|    0|        0|        0|        0|     1|    0|          0|    0|     0|      1|        0|      0|     0|    0|      0|      0|   0|         0|      1|     0|    0|    0|        0|       0|  0|      0|  0|
|tt0056840|            Aufsätze|     0|    0|        0|        0|        0|     0|    0|          0|    0|     0|      0|        0|      0|     0|    0|      0|      0|   0|         0|      0|     0|    1|    0|        0|       0|  0|      0|  0|
|tt0060366|A Embalagem de Vidro|     0|    0|        0|        0|        0|     0|    0|          1|    0|     0|      0|        0|      0|     0|    0|      0|      0|   0|         0|      0|     0|    1|    0|        0|       0|  0|      0|  0|
|tt0065392|  Bucharest Memories|     0|    0|        0|        0|        0|     0|    0|          1|    0|     0|      0|        0|      0|     0|    0|      0|      0|   0|         0|      0|     0|    0|    0|        0|       0|  0|      0|  0|
|tt0067230|  I Miss Sonia Henie|     0|    0|        0|        0|        0|     1|    0|          0|    0|     0|      0|        0|      0|     0|    0|      0|      0|   0|         0|      0|     0|    1|    0|        0|       0|  0|      0|  0|
|tt0068943|Between Wroclaw a...|     0|    0|        0|        0|        0|     0|    0|          1|    0|     0|      0|        0|      0|     0|    0|      0|      0|   0|         0|      0|     0|    1|    0|        0|       0|  0|      0|  0|
|tt0069049|The Other Side of...|     0|    0|        0|        0|        0|     0|    0|          0|    1|     0|      0|        0|      0|     0|    0|      0|      0|   0|         0|      0|     0|    0|    0|        0|       0|  0|      0|  0|
|tt0079644|       November 1828|     0|    0|        0|        0|        0|     0|    0|          0|    1|     0|      0|        0|      0|     0|    0|      0|      0|   0|         0|      0|     0|    0|    0|        0|       0|  1|      0|  0|
|tt0083060|    The Drive to Win|     0|    0|        0|        0|        0|     0|    0|          0|    1|     0|      0|        0|      0|     0|    0|      0|      0|   0|         0|      0|     0|    0|    1|        0|       0|  0|      0|  0|
|tt0089067|El día de los alb...|     0|    0|        0|        0|        0|     1|    0|          0|    0|     0|      0|        0|      0|     0|    0|      0|      0|   0|         0|      0|     0|    0|    0|        0|       0|  0|      0|  0|
|tt0089435|               Kokoa|     0|    0|        0|        1|        0|     0|    0|          0|    0|     0|      0|        0|      0|     0|    0|      0|      0|   0|         0|      0|     0|    1|    0|        0|       0|  0|      0|  0|
|tt0102362|              Istota|     0|    0|        0|        0|        0|     0|    0|          0|    1|     0|      0|        0|      0|     0|    0|      0|      0|   0|         0|      1|     0|    0|    0|        0|       0|  0|      0|  0|
|tt0103902|        Bye Bye Baby|     0|    0|        0|        0|        0|     1|    0|          0|    0|     0|      0|        0|      0|     0|    0|      0|      0|   0|         0|      0|     0|    0|    0|        0|       0|  0|      0|  0|
|tt0108270|    Symphony 92.4 FM|     0|    0|        0|        0|        0|     0|    0|          0|    0|     0|      0|        0|      0|     0|    0|      0|      0|   0|         0|      0|     0|    1|    0|        0|       0|  0|      0|  0|
|tt0109173|    Auf allen Meeren|     0|    0|        0|        0|        0|     0|    0|          1|    0|     0|      0|        0|      0|     0|    0|      0|      0|   0|         0|      0|     0|    0|    0|        0|       0|  0|      0|  0|
|tt0110476|  Master i Margarita|     0|    0|        0|        0|        0|     0|    0|          0|    1|     0|      1|        0|      0|     0|    0|      0|      0|   0|         0|      0|     0|    0|    0|        0|       0|  0|      0|  0|
|tt0111522|Twister: A Musica...|     1|    0|        0|        0|        0|     1|    0|          0|    0|     0|      0|        0|      0|     0|    0|      0|      0|   0|         0|      0|     0|    0|    0|        0|       0|  0|      0|  0|
+---------+--------------------+------+-----+---------+---------+---------+------+-----+-----------+-----+------+-------+---------+-------+------+-----+-------+-------+----+----------+-------+------+-----+-----+---------+--------+---+-------+---+
only showing top 20 rows

In [ ]:
(
    df_titles_subset
    .drop('genre')
    .withColumn('genres',f.explode(f.split(f.col('genres'), ',')))
    .groupby('startYear')
    .pivot('genres')
    .agg(f.mean('runtimeMinutes'))
    .na.fill(0)
    .orderBy('startYear')
    .show()
)

+---------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|startYear|            Action|             Adult|         Adventure|         Animation|         Biography|            Comedy|             Crime|       Documentary|             Drama|            Family|           Fantasy|         Game-Show|           History|            Horror|             Music|           Musical|           Mystery|              News|        Reality-TV|           Romance|            Sci-Fi|             Short|             Sport|         Talk-Show|          Thriller|               War|           Western|                \N|
+---------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|     2000| 47.56431852986218| 95.24539877300613|47.130212765957445|23.172888015717092| 75.70388349514563| 45.21278285033743| 64.65555555555555|51.897896357106205| 54.63748787584869|39.711431742508324| 51.38964577656676| 33.41743119266055| 63.31182795698925| 63.96376811594203| 36.82005899705015| 78.85714285714286|56.139013452914796| 52.50898203592814| 43.75757575757576|53.590308370044056| 43.11926605504587|13.853157690817513| 82.76020408163265| 58.09871244635193| 79.03492063492064| 78.73584905660377| 48.31578947368421| 60.42767295597484|
|     2001| 50.86633309506791| 97.65774907749078| 48.20413922859831|24.037735849056602| 74.26229508196721| 43.99894810659187| 65.08496732026144| 49.73016564952049| 57.21039260969977|38.800925925925924| 47.33615221987315| 39.72199170124481| 68.97905759162303| 65.29457364341086| 38.06491712707182| 62.28089887640449| 63.35698924731183| 50.34265734265734| 39.94011976047904|52.824635922330096| 40.40689655172414|13.418360433604336| 70.15384615384616|47.652830188679246| 79.29141104294479|  64.8695652173913|59.578947368421055| 69.38983050847457|
|     2002| 50.90268456375839|100.04358759430008| 38.42675159235669|22.173820879703232| 75.85714285714286| 44.05555555555556|63.132768361581924| 52.28724721419728| 56.46031746031746|36.058387395736794|47.371848739495796| 47.48275862068966| 58.54716981132076| 58.75942028985507|43.520055325034576| 66.68539325842697| 60.43071161048689| 54.33757961783439| 43.61421319796954|57.758545454545455|  47.2007874015748|13.805539526832083|  77.1068376068376| 52.70610687022901| 75.00874635568513|             81.55| 69.66666666666667| 64.71171171171171|
|     2003|48.970666666666666|101.37794773741237|38.922734026745914|22.628513030148184| 72.70466321243524| 43.49141824751581| 62.98070175438596| 50.32415394824154| 55.40759282436379| 38.85256950294861|46.055045871559635| 54.34756097560975| 69.60330578512396| 59.16624685138539|44.506524317912216|55.325581395348834| 59.00530035335689| 50.05555555555556| 45.15686274509804| 54.46341463414634| 39.63898916967509|13.753221957040573| 79.35555555555555|51.803212851405625| 71.00802139037434| 74.98947368421052| 49.68181818181818|63.546728971962615|
|     2004| 49.77217496962333|106.23698481561821|38.634262406526176| 22.18815331010453| 66.19702602230483| 41.14465894465894| 60.50361010830325| 55.05976315064721|54.440127515441326|  35.7571189279732|39.886939571150094| 47.64768683274021| 69.34265734265735| 56.14502529510961| 52.34394250513347| 56.75539568345324|61.638532110091745|48.285714285714285| 44.04056795131846| 55.58713136729222| 39.92424242424242|13.577981651376147| 76.86754966887418| 53.49097472924188|  73.4895104895105| 77.43307086614173|              53.2| 69.57380952380953|
|     2005| 47.94982290436836|106.94099051633299|34.610579987253026| 22.18673426277989|  65.6092715231788|40.513683753258036| 60.23328025477707| 51.99925742574258| 51.69315423207639| 34.80801687763713| 37.09180790960452| 50.52556818181818| 70.82456140350877| 56.38578680203046| 49.12101910828026|55.701388888888886| 57.45140664961637| 51.42857142857143| 42.85885167464115| 51.94493700419972|39.212471131639724|13.581642358909322| 68.51694915254237|51.656167979002625| 61.47879858657244| 61.80714285714286| 43.90909090909091| 68.91067538126362|
|     2006| 43.64018422567646|106.05707762557077|33.539746543778804| 22.14780200761509|54.836322869955154| 38.59322995461422|57.383156297420335| 50.05578607653297| 50.83118067163045|31.701308139534884|   33.641158221303|            51.288| 52.58212058212058| 51.58937823834197|44.767263427109974|60.083333333333336|56.565320665083135| 47.21705426356589| 39.22586520947177| 53.07350689127106| 36.61394101876676| 13.17990758682367| 68.83941605839416| 51.34137931034483| 66.88025889967638| 57.73809523809524|33.785714285714285|60.554655870445345|
|     2007| 44.81818181818182|107.76142433234422|35.785129174543165| 21.82930200414651|63.462006079027354|36.718023255813954| 54.42710340398202|49.321843769120946| 48.42570177697657| 33.18478260869565| 38.28754365541327|52.333333333333336|53.575221238938056| 48.19278606965174|43.446676970633696| 52.21145374449339| 52.91644908616188|42.501234567901236|36.932178932178935| 52.48411829134721| 36.19318181818182| 12.95075003318731| 71.32032854209446|          55.71875| 61.38160136286201|  65.2295918367347|42.189189189189186|      58.232421875|
|     2008| 44.09891598915989|102.84128809660724| 35.99145299145299| 21.54824103099965|  60.6810551558753| 36.60996974040452|53.519369665134604| 49.91726618705036| 45.95730183965478| 34.97612437534703|36.373714285714286| 46.60151515151515| 61.56007067137809| 43.81837160751566|   39.697320782042| 49.88284518828452| 52.96341463414634|44.067460317460316|37.073689956331876|49.498824451410655|32.261343012704174| 12.94221685158739| 69.61290322580645| 55.56603773584906|57.757246376811594| 63.78666666666667|38.369565217391305|50.160982264665755|
|     2009|42.217021276595744| 107.7126582278481| 35.97082494969819|20.102564102564102| 48.09257142857143| 33.76423267326733| 51.67607802874743| 47.92044537679522| 42.64154641011937| 32.08016304347826| 33.04955752212389| 48.69337979094077| 51.92631578947368| 43.80142970611597| 37.04119850187266| 46.26851851851852| 47.20521172638436|49.857971014492755|37.706039076376555| 46.22970479704797| 33.57184325108853|12.639780521262002| 60.27568493150685| 59.31823899371069| 54.56140350877193|58.219298245614034| 34.57446808510638|43.648681055155876|
|     2010| 41.20616203879802|  94.1768131286395| 35.72913686218407| 18.64562182741117|41.569640062597806|31.100100435219282| 48.75656660412758|46.493014268727705|39.587196819085484| 37.38850415512465|27.380835380835382| 45.61993769470405|            47.545|34.671760797342195|31.064806480648066| 44.51470588235294|  40.6100068540096| 67.83906976744186| 37.11334622823985|43.541642567958355|28.338618346545868|12.093171158279672|  57.4822256568779| 70.17957166392092| 49.93490054249548| 54.13636363636363|35.206896551724135| 51.22397476340694|
|     2011| 39.01800916830386|105.17991631799163|  32.2969881814716|18.400478898533372| 40.66197183098591|29.424715768660406|          46.51875| 45.97781363453005|38.889508246792914| 37.36363636363637|26.734265734265733| 43.77152899824253| 47.01232539030403|34.946316390633925|28.971784232365145| 45.19484240687679| 38.17650834403081| 59.72769089236431| 37.00763825236786|42.111111111111114| 26.50485436893204|11.769980784285815| 60.29421768707483| 71.13809910641754| 47.41506533435819| 53.83576642335766| 41.14942528735632|   63.743264659271|
|     2012| 36.64648375906654|109.42044198895027|30.348530519969856| 18.71145804293281|  39.2906683480454|29.772544357051398| 45.77910685805423| 50.09954858636256| 36.88631534211645| 28.05768578215134|26.547351524879616|44.808306709265175| 47.38067772170152|34.630630630630634|26.071109456440805| 45.20855614973262|39.221243808475506|45.379464285714285| 34.64365041042974|40.111045828437135|26.523183925811438|11.631548974943053| 56.37310195227766|52.641333333333336|45.996392496392495|51.985781990521325| 35.41747572815534| 61.92093023255814|
|     2013| 37.91367521367521|100.10174880763115| 32.19668246445497|17.326620689655172|41.263188073394495|29.336404402772114|46.715723707046166| 43.52634606534745| 37.56602175754023| 28.67677399187246|25.629411764705882| 47.64926590538336| 44.89158249158249|33.947926267281105|25.329198793161247| 45.68769716088328|38.193139841688655| 41.37886178861788| 36.73245146148923| 41.58044420368364| 26.55749636098981|11.469581636867883| 61.09542483660131| 48.70550724637681| 49.22267920094007| 41.13257575757576|36.077777777777776| 58.30596026490066|
|     2014| 37.90323480200781|100.24776119402985| 31.59384309831182|17.447457627118645| 42.12106918238994|29.451463074779376| 43.77095310136157|43.215996435334745|37.249801841351136|28.521629302178717| 27.29342492639843|46.126801152737755| 44.88721804511278| 33.23060796645702|25.564224548049477|41.918088737201366| 39.07516505840528|44.840684068406844| 35.73224043715847| 41.50535586765056|24.202007528230865| 11.39915919902644| 70.26082365364309|54.555862831858406|  47.6435432230523|41.032085561497325|         38.734375| 48.97073170731707|
|     2015| 39.52549575070822| 95.38268684957427|  34.8857938718663|18.280509554140128| 50.14591593973037| 30.67113129020053| 45.14544922446591|  44.3525903015575| 39.58384370406663| 28.31144836687562|30.883708467309752| 42.38773006134969| 48.90229885057471| 32.05983263598326|24.259283177268323| 41.48502994011976| 44.56786985256736|51.202650038971164| 35.88628966639544|45.006358087487286|26.665648854961834|11.359160657159897| 71.09742647058823| 49.78271707519734|46.855466666666665| 52.73360655737705| 37.82692307692308|43.600201409869086|
|     2016|            40.124| 87.41032464076636| 33.56081708449396|17.353313041442284| 52.37323943661972|29.920368879455463| 46.26491646778043|42.999030799052335| 39.89566749711369|29.540331491712706|33.600187265917604| 40.89144434222631| 45.30421909696521|33.683970099667775| 22.55674580196873| 38.61661341853035|42.256736893679566| 55.54309063893017|36.663273453093815| 46.68367634620806| 29.10427226647357|11.117342273697044|63.278528528528525|  47.8065447545717| 45.51482213438735| 51.96911196911197| 39.69291338582677|48.090809628008756|
|     2017| 42.67775881683732| 80.00897571277719| 36.85205479452055|19.202625298329355| 52.42259786476868|32.057235890014475|47.842261904761905| 43.71484128652512| 40.05695191909634|31.865760111576012|35.814008518693804|  46.6491849751949| 49.72029520295203|34.201101928374655|22.316908713692946|39.229551451187334| 41.41900237529691| 59.03103288559518| 37.63981792994261| 45.83816493104419|  30.3734693877551|11.035010399128454| 67.84347048300536| 50.79651474530831|             46.12|58.169724770642205|            39.144| 36.88759042849193|
|     2018| 42.78442404501036| 76.83774338492262|34.896039603960396|18.555980617189494| 51.50870010235415| 32.75245502396103| 46.47213578500707| 44.17890449137099|40.308144879573454|31.242971044901385|             38.08| 44.18495077355837| 51.32526230831316|34.014877362283876|18.555445789083723|39.461300309597526| 43.58057514921324| 40.39688856729378| 38.43341176470588| 47.13008613008613|29.302097902097902|11.045041933892453| 72.27677806341046|48.233884768967485|47.176807760141095|56.666666666666664|         37.265625| 42.58647540983606|
|     2019| 44.69972367209088| 77.44753261486103| 36.06437768240343|19.451822548742584|58.484276729559745| 33.51424207026687|  46.0890429218875| 46.36661928452973| 42.76839874296572| 32.85883565172591|36.937849162011176|49.708955223880594| 50.87570621468927|  33.5941722972973|16.531026785714285| 41.89568345323741| 45.64195056780227| 49.90541702493551| 42.40068674062335| 50.30308955807587|29.333333333333332|10.621342701871878| 69.36039603960396| 50.28200371057514| 49.16545643153527| 64.77714285714286| 42.58620689655172| 60.44497228820269|
+---------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
only showing top 20 rows

# **Aula 4.2**- Manipulando dados com Spark - Parte II

### **Window Functions**

Window functions são funções que realizam cálculos similares à uma agregação, mas que não resultam em um DataFrame agregado. Ao invés disso, os resultados são colocados em uma nova coluna, segundo a partição (ou agrupamento) especificado. Exemplos mais comuns:
- `row_number`
- `rank() / dense_rank() / percent_rank()`
- `lag()`
- `cume_dist()`
- `collect_list() / collect_set()`

Para usar as funções dessa forma, devemos criar uma janela (window) da 
seguinte forma:

  `from pyspark.sql.window import window`

  `w = windowm.partitionBy({columns}).orderBy({columns}).rowsBetween({lower},{upper})`
  
- `partitionBy()` : agrupamentos em que os cálculos serão realizados. É análogo
ao `groupBy()`.
- `orderBy()` : algumas funções como `row_number()` e `lag()` dependem da 
ordenação das linhas do agrupamento. Essa função é usada para especificar essa
ordem. 
- `rowsBetween()` : esse método é usado para especificar janelas deslizantes. A partir dele é possível definir um intervalo de linhas, relativas à linha atual, 
em que a função vai ser aplicada. Caso isso não seja especificado, as operações
são realizadas em todo o grupo. Muito útil para construir **médias móveis**. Os seguintes objetos ajudam na construção desse intervalo.
- `Window.currentRow` : define a linha para qual o valre está sendo calculado como um dos limites de cálculo.
- `Window.unboundedPreceding` : define que não há limites para as linhas anteriores à linhas para qual o valor está sendo calculado, isto é, a função irá considerar todas as linhas do grupo que já passaram. Deve ser usado no primeiro argumento (start). 
- `Window.unboundedFollowing` : define que não há limites para as linhas posteriores à linha para qual o valore está sendo calculado, isto é, a função irá considerar todas as linhas do grupo que ainda não passaram. Deve ser usado
no segundo argumento (end). 

Depois disso, basta utilizar a função `over()` para indicar que aquela  função deve ser realizada na janela. Exemplo:

  `df.withColumn('rn',f.row_number().over(w))`

In [ ]:
from pyspark.sql.window import Window

In [ ]:
df_titles.show(5)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0000001|    short|          Carmencita|          Carmencita|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000002|    short|Le clown et ses c...|Le clown et ses c...|      0|     1892|     \N|             5|     Animation,Short|
|tt0000003|    short|      Pauvre Pierrot|      Pauvre Pierrot|      0|     1892|     \N|             4|Animation,Comedy,...|
|tt0000004|    short|         Un bon bock|         Un bon bock|      0|     1892|     \N|            12|     Animation,Short|
|tt0000005|    short|    Blacksmith Scene|    Blacksmith Scene|      0|     1893|     \N|             1|        Comedy,Short|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 5 rows

In [ ]:
df_titles_subset = (
    df_titles
    .filter("cast(startYear as int) >= 2000")
    .sample(fraction = 0.5)
    .withColumn('genre', f.split('genres',',').getItem(0))
)

In [ ]:
w = Window.partitionBy('genre').orderBy(f.desc('startYear'))

(
    df_titles_subset
    .withColumn('genre',f.split('genres',',').getItem(0))
    .withColumn('startYear', f.col('startYear').cast('int'))
    .withColumn('rn', f.rank().over(w))
    .filter('startYear <= 2021')
    .show()
)

+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+---------+---+
|    tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|    genre| rn|
+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+---------+---+
|tt10075380|    movie| Realm of Terracotta| Realm of Terracotta|      0|     2021|     \N|           111|Adventure,Animati...|Adventure|286|
|tt10084832|    movie|               Nomad|               Nomad|      0|     2021|     \N|            \N|Adventure,Drama,R...|Adventure|286|
|tt10108708|    movie|               Zinga|               Zinga|      0|     2021|     \N|            \N|Adventure,Fantasy...|Adventure|286|
|tt10121862|tvEpisode|        Episode #1.1|        Episode #1.1|      0|     2021|     \N|            \N|    Adventure,Comedy|Adventure|286|
|tt10155932|    movie|          Cinderella|          Cinderella|      0|     2021|     \N|           113|Adventure,Comedy,...|Adventure|286|
|tt10164206|    movie|The Maltese Conne...|The Maltese Conne...|      0|     2021|     \N|            93|           Adventure|Adventure|286|
|tt10247646|    movie|The Perfect Mistr...|The Perfect Mistr...|      0|     2021|     \N|            \N|Adventure,Drama,R...|Adventure|286|
|tt10265034|    movie|                Land|                Land|      0|     2021|     \N|            89|     Adventure,Drama|Adventure|286|
|tt10270250|    movie| Dusty to Meet Rusty| Dusty to Meet Rusty|      0|     2021|     \N|            \N|     Adventure,Drama|Adventure|286|
|tt10309118| tvSeries|            Birdgirl|            Birdgirl|      0|     2021|     \N|            \N|Adventure,Animati...|Adventure|286|
|tt10345678|tvEpisode|           Chez Bash|           Chez Bash|      0|     2021|     \N|            \N|Adventure,Animati...|Adventure|286|
|tt10345684|tvEpisode|    Learning to Lose|    Learning to Lose|      0|     2021|     \N|            \N|Adventure,Animati...|Adventure|286|
|tt10345692|tvEpisode|           Hands Off|           Hands Off|      0|     2021|     \N|            \N|Adventure,Animati...|Adventure|286|
|tt10345706|tvEpisode|        Gnasher Dash|        Gnasher Dash|      0|     2021|     \N|            \N|Adventure,Animati...|Adventure|286|
|tt10345712|tvEpisode|            Monitors|            Monitors|      0|     2021|     \N|            \N|Adventure,Animati...|Adventure|286|
|tt10345722|tvEpisode| Failing To Register| Failing To Register|      0|     2021|     \N|            \N|Adventure,Animati...|Adventure|286|
|tt10345724|tvEpisode|      School Of Life|      School Of Life|      0|     2021|     \N|            \N|Adventure,Animati...|Adventure|286|
|tt10345734|tvEpisode|          Puppy Love|          Puppy Love|      0|     2021|     \N|            \N|Adventure,Animati...|Adventure|286|
|tt10345736|tvEpisode| Eventful Tentacales| Eventful Tentacales|      0|     2021|     \N|            \N|Adventure,Animati...|Adventure|286|
|tt10345740|tvEpisode|       Growing Pains|       Growing Pains|      0|     2021|     \N|            \N|Adventure,Animati...|Adventure|286|
+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+---------+---+
only showing top 20 rows

In [ ]:
w = Window.partitionBy('genre').orderBy(f.desc('startYear'))

(
    df_titles_subset
    .withColumn('genre',f.split('genres',',').getItem(0))
    .withColumn('startYear', f.col('startYear').cast('int'))
    .withColumn('rn', f.percent_rank().over(w))
    .filter('startYear <= 2021')
    .show()
)

+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+---------+--------------------+
|    tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|    genre|                  rn|
+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+---------+--------------------+
|tt10075380|    movie| Realm of Terracotta| Realm of Terracotta|      0|     2021|     \N|           111|Adventure,Animati...|Adventure|0.004708486841018355|
|tt10084832|    movie|               Nomad|               Nomad|      0|     2021|     \N|            \N|Adventure,Drama,R...|Adventure|0.004708486841018355|
|tt10108708|    movie|               Zinga|               Zinga|      0|     2021|     \N|            \N|Adventure,Fantasy...|Adventure|0.004708486841018355|
|tt10121862|tvEpisode|        Episode #1.1|        Episode #1.1|      0|     2021|     \N|            \N|    Adventure,Comedy|Adventure|0.004708486841018355|
|tt10155932|    movie|          Cinderella|          Cinderella|      0|     2021|     \N|           113|Adventure,Comedy,...|Adventure|0.004708486841018355|
|tt10164206|    movie|The Maltese Conne...|The Maltese Conne...|      0|     2021|     \N|            93|           Adventure|Adventure|0.004708486841018355|
|tt10247646|    movie|The Perfect Mistr...|The Perfect Mistr...|      0|     2021|     \N|            \N|Adventure,Drama,R...|Adventure|0.004708486841018355|
|tt10265034|    movie|                Land|                Land|      0|     2021|     \N|            89|     Adventure,Drama|Adventure|0.004708486841018355|
|tt10270250|    movie| Dusty to Meet Rusty| Dusty to Meet Rusty|      0|     2021|     \N|            \N|     Adventure,Drama|Adventure|0.004708486841018355|
|tt10309118| tvSeries|            Birdgirl|            Birdgirl|      0|     2021|     \N|            \N|Adventure,Animati...|Adventure|0.004708486841018355|
|tt10345678|tvEpisode|           Chez Bash|           Chez Bash|      0|     2021|     \N|            \N|Adventure,Animati...|Adventure|0.004708486841018355|
|tt10345684|tvEpisode|    Learning to Lose|    Learning to Lose|      0|     2021|     \N|            \N|Adventure,Animati...|Adventure|0.004708486841018355|
|tt10345692|tvEpisode|           Hands Off|           Hands Off|      0|     2021|     \N|            \N|Adventure,Animati...|Adventure|0.004708486841018355|
|tt10345706|tvEpisode|        Gnasher Dash|        Gnasher Dash|      0|     2021|     \N|            \N|Adventure,Animati...|Adventure|0.004708486841018355|
|tt10345712|tvEpisode|            Monitors|            Monitors|      0|     2021|     \N|            \N|Adventure,Animati...|Adventure|0.004708486841018355|
|tt10345722|tvEpisode| Failing To Register| Failing To Register|      0|     2021|     \N|            \N|Adventure,Animati...|Adventure|0.004708486841018355|
|tt10345724|tvEpisode|      School Of Life|      School Of Life|      0|     2021|     \N|            \N|Adventure,Animati...|Adventure|0.004708486841018355|
|tt10345734|tvEpisode|          Puppy Love|          Puppy Love|      0|     2021|     \N|            \N|Adventure,Animati...|Adventure|0.004708486841018355|
|tt10345736|tvEpisode| Eventful Tentacales| Eventful Tentacales|      0|     2021|     \N|            \N|Adventure,Animati...|Adventure|0.004708486841018355|
|tt10345740|tvEpisode|       Growing Pains|       Growing Pains|      0|     2021|     \N|            \N|Adventure,Animati...|Adventure|0.004708486841018355|
+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+---------+--------------------+
only showing top 20 rows

In [ ]:
w = Window.partitionBy('titleType','startYear').orderBy('titleType','startYear')

(
    df_titles_subset
    .withColumn('genre',f.split('genres',',').getItem(0))
    .withColumn('runtimeMinutes', f.col('runtimeMinutes').cast('int'))
    .withColumn('total_minutes', f.sum(f.col('runtimeMinutes')).over(w))
    .withColumn('mean_minutes', f.mean(f.col('runtimeMinutes')).over(w))
    .withColumn('relative_minutes', f.col('runtimeMinutes') / f.col('total_minutes'))
    .withColumn('lag_runtime', f.lag('runtimeMinutes').over(w))
    .filter('runtimeMinutes is not null')
    .show()
)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-----------+-------------+-----------------+--------------------+-----------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|      genre|total_minutes|     mean_minutes|    relative_minutes|lag_runtime|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-----------+-------------+-----------------+--------------------+-----------+
|tt0015414|    movie|La tierra de los ...|La tierra de los ...|      0|     2000|     \N|            60|                  \N|         \N|       173332|91.13144058885383|3.461565088962223E-4|       null|
|tt0113026|    movie|     The Fantasticks|     The Fantasticks|      0|     2000|     \N|            86|     Musical,Romance|    Musical|       173332|91.13144058885383|4.961576627512519E-4|       null|
|tt0113092|    movie|       For the Cause|       For the Cause|      0|     2000|     \N|           100|Action,Adventure,...|     Action|       173332|91.13144058885383|5.769275148270371E-4|       null|
|tt0115937|    movie|         Consequence|         Consequence|      0|     2000|     \N|            91|               Drama|      Drama|       173332|91.13144058885383|5.250040384926038E-4|        100|
|tt0116391|    movie|                Gang|                Gang|      0|     2000|     \N|           152|  Action,Crime,Drama|     Action|       173332|91.13144058885383|8.769298225370964E-4|         91|
|tt0116628|    movie|    The Incorporated|    The Incorporated|      0|     2000|     \N|            86|     Action,Thriller|     Action|       173332|91.13144058885383|4.961576627512519E-4|        152|
|tt0119273|    movie|    Heavy Metal 2000|    Heavy Metal 2000|      0|     2000|     \N|            88|Action,Adventure,...|     Action|       173332|91.13144058885383|5.076962130477927E-4|       null|
|tt0119495|    movie|            Love 101|            Love 101|      0|     2000|     \N|            86|Comedy,Drama,Romance|     Comedy|       173332|91.13144058885383|4.961576627512519E-4|         88|
|tt0119806|    movie|      Nothing Sacred|      Nothing Sacred|      0|     2000|     \N|            98|      Comedy,Romance|     Comedy|       173332|91.13144058885383|5.653889645304964E-4|         86|
|tt0119866|    movie|       Passionnément|       Passionnément|      0|     2000|     \N|           104|       Drama,Romance|      Drama|       173332|91.13144058885383|6.000046154201186E-4|         98|
|tt0119966|    movie|Pushing the Envelope|Pushing the Envelope|      0|     2000|     \N|            75|      Drama,Thriller|      Drama|       173332|91.13144058885383|4.326956361202778...|        104|
|tt0120117|    movie|             Shikari|             Shikari|      0|     2000|     \N|           160|Crime,Drama,Thriller|      Crime|       173332|91.13144058885383|9.230840237232594E-4|         75|
|tt0120202|    movie|      State and Main|      State and Main|      0|     2000|     \N|           105|        Comedy,Drama|     Comedy|       173332|91.13144058885383| 6.05773890568389E-4|        160|
|tt0120454|    movie|               Vinyl|               Vinyl|      0|     2000|     \N|           180|         Documentary|Documentary|       173332|91.13144058885383|0.001038469526688...|        105|
|tt0120485|    movie|       Way Past Cool|       Way Past Cool|      0|     2000|     \N|            96|               Drama|      Drama|       173332|91.13144058885383|5.538504142339557E-4|        180|
|tt0120626|    movie|      April Captains|   Capitães de Abril|      0|     2000|     \N|           123|   Drama,History,War|      Drama|       173332|91.13144058885383|7.096208432372556E-4|         96|
|tt0120673|    movie|              Foiled|              Foiled|      0|     2000|     \N|            78| Action,Drama,Sci-Fi|     Action|       173332|91.13144058885383| 4.50003461565089E-4|        123|
|tt0120698|    movie|      The Highwayman|      The Highwayman|      0|     2000|     \N|            94|Comedy,Drama,Thri...|     Comedy|       173332|91.13144058885383| 5.42311863937415E-4|         78|
|tt0120755|    movie|Mission: Impossib...|Mission: Impossib...|      0|     2000|     \N|           123|Action,Adventure,...|     Action|       173332|91.13144058885383|7.096208432372556E-4|       null|
|tt0120917|    movie|The Emperor's New...|The Emperor's New...|      0|     2000|     \N|            78|Adventure,Animati...|  Adventure|       173332|91.13144058885383| 4.50003461565089E-4|        123|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-----------+-------------+-----------------+--------------------+-----------+
only showing top 20 rows

In [ ]:
w = Window.partitionBy('titleType').orderBy('startYear').rowsBetween(-2, Window.currentRow)
(
    df_titles_subset
    .withColumn('runtimeMinutes', f.col('runtimeMinutes').cast('int'))
    .groupby('titleType','startYear')
    .agg(f.expr('mean(runtimeMinutes) as media_minutes'))
    .orderBy('titleType','startYear')
    .withColumn('media_movel_3anos', f.round(f.mean('media_minutes').over(w),3))
    .show()
)

+---------+---------+-----------------+-----------------+
|titleType|startYear|    media_minutes|media_movel_3anos|
+---------+---------+-----------------+-----------------+
|    movie|     2000|91.13144058885383|           91.131|
|    movie|     2001|90.35232168501676|           90.742|
|    movie|     2002|91.40670289855072|           90.963|
|    movie|     2003|90.03873684210527|           90.599|
|    movie|     2004|89.91844369622147|           90.455|
|    movie|     2005| 89.7909604519774|           89.916|
|    movie|     2006|89.58861340679522|           89.766|
|    movie|     2007|88.62984822934233|           89.336|
|    movie|     2008|87.59727722772277|           88.605|
|    movie|     2009|87.44955489614243|           87.892|
|    movie|     2010|87.73045977011495|           87.592|
|    movie|     2011|89.64911308203992|           88.276|
|    movie|     2012|95.98164035689774|            91.12|
|    movie|     2013|89.10375060886507|           91.578|
|    movie|     2014|87.55792821444798|           90.881|
|    movie|     2015|90.28223772073008|           88.981|
|    movie|     2016|89.11153009427122|           88.984|
|    movie|     2017|90.00211894335358|           89.799|
|    movie|     2018|91.71185701830863|           90.275|
|    movie|     2019|  97.217999126256|           92.977|
+---------+---------+-----------------+-----------------+
only showing top 20 rows

In [ ]:
a = (90.35232168501676 + 91.40670289855072 + 90.03873684210527)/3.
a

90.59925380855759

In [ ]:
# Aqui temos uma média incremental. Ela sempre pega todos os valores para trás. Diferente do 
# caso anterior. Que sempre pegava duas 3 para trás. 
w = Window.partitionBy('titleType').orderBy('startYear').rowsBetween(Window.unboundedPreceding, Window.currentRow)
(
    df_titles_subset
    .withColumn('runtimeMinutes', f.col('runtimeMinutes').cast('int'))
    .groupby('titleType','startYear')
    .agg(f.expr('mean(runtimeMinutes) as media_minutes'))
    .orderBy('titleType','startYear')
    .withColumn('media_movel_3anos', f.round(f.mean('media_minutes').over(w),3))
    .show()
)

+---------+---------+-----------------+-----------------+
|titleType|startYear|    media_minutes|media_movel_3anos|
+---------+---------+-----------------+-----------------+
|    movie|     2000|91.13144058885383|           91.131|
|    movie|     2001|90.35232168501676|           90.742|
|    movie|     2002|91.40670289855072|           90.963|
|    movie|     2003|90.03873684210527|           90.732|
|    movie|     2004|89.91844369622147|            90.57|
|    movie|     2005| 89.7909604519774|            90.44|
|    movie|     2006|89.58861340679522|           90.318|
|    movie|     2007|88.62984822934233|           90.107|
|    movie|     2008|87.59727722772277|           89.828|
|    movie|     2009|87.44955489614243|            89.59|
|    movie|     2010|87.73045977011495|           89.421|
|    movie|     2011|89.64911308203992|            89.44|
|    movie|     2012|95.98164035689774|           89.943|
|    movie|     2013|89.10375060886507|           89.883|
|    movie|     2014|87.55792821444798|           89.728|
|    movie|     2015|90.28223772073008|           89.763|
|    movie|     2016|89.11153009427122|           89.725|
|    movie|     2017|90.00211894335358|            89.74|
|    movie|     2018|91.71185701830863|           89.844|
|    movie|     2019|  97.217999126256|           90.213|
+---------+---------+-----------------+-----------------+
only showing top 20 rows

In [ ]:
(91.13144058885383 + 90.35232168501676 + 91.40670289855072 + 90.03873684210527+ 89.91844369622147)/5.

90.5695291421496

In [ ]:
w = Window.partitionBy('titleType','startYear')
(
    df_titles_subset
    .withColumn('lista_titulos', f.collect_set(f.col('tconst')).over(w))
    .show()
)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-----------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|      genre|       lista_titulos|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-----------+--------------------+
|tt0015414|    movie|La tierra de los ...|La tierra de los ...|      0|     2000|     \N|            60|                  \N|         \N|[tt0238387, tt024...|
|tt0107706|    movie|             Nothing|             Nothing|      0|     2000|     \N|            \N|                  \N|         \N|[tt0238387, tt024...|
|tt0113026|    movie|     The Fantasticks|     The Fantasticks|      0|     2000|     \N|            86|     Musical,Romance|    Musical|[tt0238387, tt024...|
|tt0113086|    movie|Florentino y el d...|Florentino y el d...|      0|     2000|     \N|            \N|               Drama|      Drama|[tt0238387, tt024...|
|tt0113092|    movie|       For the Cause|       For the Cause|      0|     2000|     \N|           100|Action,Adventure,...|     Action|[tt0238387, tt024...|
|tt0115937|    movie|         Consequence|         Consequence|      0|     2000|     \N|            91|               Drama|      Drama|[tt0238387, tt024...|
|tt0116391|    movie|                Gang|                Gang|      0|     2000|     \N|           152|  Action,Crime,Drama|     Action|[tt0238387, tt024...|
|tt0116628|    movie|    The Incorporated|    The Incorporated|      0|     2000|     \N|            86|     Action,Thriller|     Action|[tt0238387, tt024...|
|tt0116847|    movie|           Leftovers|           Leftovers|      0|     2000|     \N|            \N|                  \N|         \N|[tt0238387, tt024...|
|tt0119273|    movie|    Heavy Metal 2000|    Heavy Metal 2000|      0|     2000|     \N|            88|Action,Adventure,...|     Action|[tt0238387, tt024...|
|tt0119495|    movie|            Love 101|            Love 101|      0|     2000|     \N|            86|Comedy,Drama,Romance|     Comedy|[tt0238387, tt024...|
|tt0119806|    movie|      Nothing Sacred|      Nothing Sacred|      0|     2000|     \N|            98|      Comedy,Romance|     Comedy|[tt0238387, tt024...|
|tt0119866|    movie|       Passionnément|       Passionnément|      0|     2000|     \N|           104|       Drama,Romance|      Drama|[tt0238387, tt024...|
|tt0119966|    movie|Pushing the Envelope|Pushing the Envelope|      0|     2000|     \N|            75|      Drama,Thriller|      Drama|[tt0238387, tt024...|
|tt0120117|    movie|             Shikari|             Shikari|      0|     2000|     \N|           160|Crime,Drama,Thriller|      Crime|[tt0238387, tt024...|
|tt0120202|    movie|      State and Main|      State and Main|      0|     2000|     \N|           105|        Comedy,Drama|     Comedy|[tt0238387, tt024...|
|tt0120454|    movie|               Vinyl|               Vinyl|      0|     2000|     \N|           180|         Documentary|Documentary|[tt0238387, tt024...|
|tt0120485|    movie|       Way Past Cool|       Way Past Cool|      0|     2000|     \N|            96|               Drama|      Drama|[tt0238387, tt024...|
|tt0120626|    movie|      April Captains|   Capitães de Abril|      0|     2000|     \N|           123|   Drama,History,War|      Drama|[tt0238387, tt024...|
|tt0120673|    movie|              Foiled|              Foiled|      0|     2000|     \N|            78| Action,Drama,Sci-Fi|     Action|[tt0238387, tt024...|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-----------+--------------------+
only showing top 20 rows

In [ ]:
#w = Window.partitionBy('titleType','startYear')
#(
#    df_titles_subset
#    .withColumn('lista_titulos', f.collect_set(f.col('tconst')).over(w))
#    .withColumn('titulos_distintos', f.size(f.col('lista_titulos')))
#    .select('titleType','startYear','titulos_distintos')
#    .orderBy(f.col('titulos_distintos').desc())
#    .show()
#)

ERROR:root:KeyboardInterrupt while sending command.
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "/usr/local/lib/python3.7/dist-packages/py4j/clientserver.py", line 475, in send_command
    answer = smart_decode(self.stream.readline()[:-1])
  File "/usr/lib/python3.7/socket.py", line 589, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt

KeyboardInterrupt: ignored

In [ ]:
#(
#    df_titles_subset
#    .groupby('titleType','startYear')
#    .agg(f.countDistinct(f.col('tconst')).alias('titulos_distintos'))
#    .orderBy(f.col('titulos_distintos').desc())
#    .show()
#)

ERROR:root:KeyboardInterrupt while sending command.
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "/usr/local/lib/python3.7/dist-packages/py4j/clientserver.py", line 475, in send_command
    answer = smart_decode(self.stream.readline()[:-1])
  File "/usr/lib/python3.7/socket.py", line 589, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt

KeyboardInterrupt: ignored

### **Usando Windows para evitar joins**

**Objetivo :** Título mais recente por gênero

Caminho natual :

  `df1 = df_titles.goupby('genre').agg(f.max(f.col('startYear').alias('startYear')))`
  
  `df2 = df_titles.join(df1,['genre','startYear'])`

**Alternativa :**

In [ ]:
#w = Window.partitionBy('genre')
#(
#    df_titles_subset
#    .withColumn('max_data', f.max(f.col('startYear')).over(w))
#    .filter('startYear = max_data')
#    .show()
#)

# **Aula 4.3**- Manipulando dados com Spark - Parte II

### Tipos de Joins

Os joins no pyspark são especificados pela função `join()`, da seguinte forma:

`df1.join(df2,{key_columns},{join_type})`

- `key_columns` : colunas que vão ser utilizadas para fazer a junção das tabelas. Pode ser especifida como
  - Uma única string -> só uma coluna é chave, mesmos nomes nas duas tabelas. 
  - Uma lista de string ou de colunas (col()) -> mais de uma coluna é chave, mesmos nomes nas duas tabelas.
  - Com nomes diferentes, é necessário fazer uma especificação do tipo: 
  `f.col(column1) == f.col(column2)`. Caso existam mais de uma coluna como chave, essas especificações devem ser colocadas em uma lista. 
- `join_type`: o tipo de join a ser realizado. As opções são: 
  - `inner (default)`:: INNER JOIN do SQL
  - `outer / full / fullouter / full_outer`:: FULL_OUTER JOIN so SQL
  - `left / left_outer / left_outer / `:: LEFT JOIN do SQL
  - `right / rightouter / right_outer`:: RIGHT JOIN do SQL 
  - `semi / leftsemi / left_semi`:: realiza um LEFT JOIN do SQL e retorna somente as colunas do DataFrame da esquerda que também estão no DataFrame da Direita. 
  - `anti / leftanti / left_anti`:: realiza um LEFT JOIN do SQL e retorna somente as colunas do DataFrame da esquerda que não estão no DataFrame da Direita.

In [5]:
df_titles.show()

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0000001|    short|          Carmencita|          Carmencita|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000002|    short|Le clown et ses c...|Le clown et ses c...|      0|     1892|     \N|             5|     Animation,Short|
|tt0000003|    short|      Pauvre Pierrot|      Pauvre Pierrot|      0|     1892|     \N|             4|Animation,Comedy,...|
|tt0000004|    short|         Un bon bock|         Un bon bock|      0|     1892|     \N|            12|     Animation,Short|
|tt0000005|    short|    Blacksmith Scene|    Blacksmith Scene|      0|     1893|     \N|             1|        Comedy,Short|
|tt0000006|    short|   Chinese Opium Den|   Chinese Opium Den|      0|     1894|     \N|             1|               Short|
|tt0000007|    short|Corbett and Court...|Corbett and Court...|      0|     1894|     \N|             1|         Short,Sport|
|tt0000008|    short|Edison Kinetoscop...|Edison Kinetoscop...|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000009|    short|          Miss Jerry|          Miss Jerry|      0|     1894|     \N|            40|       Romance,Short|
|tt0000010|    short| Leaving the Factory|La sortie de l'us...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000011|    short|Akrobatisches Pot...|Akrobatisches Pot...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000012|    short|The Arrival of a ...|L'arrivée d'un tr...|      0|     1896|     \N|             1|   Documentary,Short|
|tt0000013|    short|The Photographica...|Le débarquement d...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000014|    short| The Waterer Watered|   L'arroseur arrosé|      0|     1895|     \N|             1|        Comedy,Short|
|tt0000015|    short| Autour d'une cabine| Autour d'une cabine|      0|     1894|     \N|             2|     Animation,Short|
|tt0000016|    short|Boat Leaving the ...|Barque sortant du...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000017|    short|Italienischer Bau...|Italienischer Bau...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000018|    short|Das boxende Känguruh|Das boxende Känguruh|      0|     1895|     \N|             1|               Short|
|tt0000019|    short|    The Clown Barber|    The Clown Barber|      0|     1898|     \N|            \N|        Comedy,Short|
|tt0000020|    short|      The Derby 1895|      The Derby 1895|      0|     1895|     \N|             1|Documentary,Short...|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 20 rows

In [11]:
imdb_path = '/content/drive/MyDrive/igti_bootcamps/eng_dados_cloud/mod3/title_ratings.tsv'

In [12]:
options_dict = {
    'sep' : '\t' , 
    'header' : 'True'
}

df_ratings = (
      spark.read
    .format('csv')
    .options(**options_dict)  
    .load(imdb_path)
)

df_ratings.show(5)

+---------+-------------+--------+
|   tconst|averageRating|numVotes|
+---------+-------------+--------+
|tt0000001|          5.7|    1879|
|tt0000002|          5.9|     248|
|tt0000003|          6.5|    1652|
|tt0000004|          5.8|     161|
|tt0000005|          6.2|    2476|
+---------+-------------+--------+
only showing top 5 rows

In [13]:
(
    df_titles
    .join(df_ratings, 'tconst')
    .show()
)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+--------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|averageRating|numVotes|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+--------+
|tt0000008|    short|Edison Kinetoscop...|Edison Kinetoscop...|      0|     1894|     \N|             1|   Documentary,Short|          5.4|    2017|
|tt0000015|    short| Autour d'une cabine| Autour d'une cabine|      0|     1894|     \N|             2|     Animation,Short|          6.2|     994|
|tt0000019|    short|    The Clown Barber|    The Clown Barber|      0|     1898|     \N|            \N|        Comedy,Short|          5.2|      30|
|tt0000051|    short|The Bohemian Enca...|Campement de bohé...|      0|     1896|     \N|            \N|   Documentary,Short|          3.8|      33|
|tt0000058|    short|Cortège de tzar a...|Cortège de tzar a...|      0|     1896|     \N|            \N|   Documentary,Short|          4.3|      31|
|tt0000065|    short|Dessinateur: Rein...|Dessinateur: Rein...|      0|     1896|     \N|            \N|               Short|          3.6|      27|
|tt0000095|    short|The Mysterious Paper|    Le papier protée|      0|     1896|     \N|            \N|               Short|          4.8|      33|
|tt0000108|    short|Rip Leaving Sleep...|Rip Leaving Sleep...|      0|     1896|     \N|             1|         Drama,Short|          4.4|     519|
|tt0000142|    short|Buffalo Bill and ...|Buffalo Bill and ...|      0|     1897|     \N|            \N|          News,Short|          4.7|      28|
|tt0000145|    short|           En classe|           En classe|      0|     1897|     \N|            \N|        Comedy,Short|          3.9|      13|
|tt0000146|    short|Le cocher de fiac...|Le cocher de fiac...|      0|     1897|     \N|            \N|        Comedy,Short|          5.1|      26|
|tt0000169|    short|Slagsmål i gamla ...|Slagsmål i gamla ...|      0|     1897|     \N|             1|               Short|          3.8|      45|
|tt0000172|    short|     The X-Ray Fiend|     The X-Ray Fiend|      0|     1897|     \N|             1| Comedy,Horror,Short|          6.1|     853|
|tt0000174|    short|Výstavní párkar a...|Výstavní párkar a...|      0|     1898|     \N|             1|        Comedy,Short|          4.6|     125|
|tt0000175|    short|A Sea Cave Near L...|A Sea Cave Near L...|      0|     1896|     \N|             1|   Documentary,Short|          5.0|     206|
|tt0000186|    short|   Le cuirassé Maine|   Le cuirassé Maine|      0|     1898|     \N|            \N|           Short,War|          4.2|      21|
|tt0000188|    short|        The Deserter|        The Deserter|      0|     1898|     \N|            \N|         Drama,Short|          4.0|      11|
|tt0000214|    short|Tearing Down the ...|Tearing Down the ...|      0|     1898|     \N|            \N|           Short,War|          4.4|      92|
|tt0000242|    short|The Sign of the C...|Le diable au couvent|      0|     1899|     \N|             3|Fantasy,Horror,Short|          6.4|    1134|
|tt0000264|    short|Summoning the Spi...|   Évocation spirite|      0|     1899|     \N|             1|Fantasy,Horror,Short|          5.7|     417|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+--------+
only showing top 20 rows

In [14]:
(
    df_titles
    .join(df_ratings, 'tconst')
    .count()
)

1227178

In [15]:
(
    df_titles
    .join(df_ratings, 'tconst', 'left')
    .filter('averageRating is null')
    .show()
)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+--------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|averageRating|numVotes|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+--------+
|tt0000195|    short| Les farces de Jocko| Les farces de Jocko|      0|     1898|     \N|            \N|        Comedy,Short|         null|    null|
|tt0000212|    short|Saida do Paquete ...|Saida do Paquete ...|      0|     1898|     \N|            \N|               Short|         null|    null|
|tt0000221|    short|Aspectos da Praia...|Aspectos da Praia...|      0|     1899|     \N|            \N|   Documentary,Short|         null|    null|
|tt0000267|    short|           L'angélus|           L'angélus|      0|     1900|     \N|            \N|               Short|         null|    null|
|tt0000305|    short|          L'Habanera|          L'Habanera|      0|     1900|     \N|            \N|               Short|         null|    null|
|tt0000314|    short|      Leçon de danse|      Leçon de danse|      0|     1900|     \N|            \N|               Short|         null|    null|
|tt0000372|    short|     Scène d'ivresse|     Scène d'ivresse|      0|     1901|     \N|            \N|               Short|         null|    null|
|tt0000395|    short|  La fiole enchantée|  La fiole enchantée|      0|     1902|     \N|            \N|               Short|         null|    null|
|tt0000401|    short|Le marchand de ba...|Le marchand de ba...|      0|     1902|     \N|            \N|        Comedy,Short|         null|    null|
|tt0000504|    short|Coso y Paseo de S...|Coso y Paseo de S...|      0|     1905|     \N|            \N|   Documentary,Short|         null|    null|
|tt0000549|    short|En foræring til m...|En foræring til m...|      0|     1906|     \N|            \N|               Short|         null|    null|
|tt0000579|    short|The Bandit Makes ...|The Bandit Makes ...|      0|     1908|     \N|            \N|       Short,Western|         null|    null|
|tt0000667|    short|Corrida de toros ...|Corrida de toros ...|      0|     1908|     \N|             9|Documentary,Short...|         null|    null|
|tt0000688|    short|The Flower Girl o...|The Flower Girl o...|      0|     1908|     \N|            \N|         Drama,Short|         null|    null|
|tt0000703|    short|      Hulda's Lovers|      Hulda's Lovers|      0|     1908|     \N|            \N|        Comedy,Short|         null|    null|
|tt0000716|    short|   Lonesome Junction|   Lonesome Junction|      0|     1908|     \N|            \N|Comedy,Short,Western|         null|    null|
|tt0000725|    short|        Mixed Babies|        Mixed Babies|      0|     1908|     \N|            \N|        Comedy,Short|         null|    null|
|tt0000766|    short|The Stage-Struck ...|The Stage-Struck ...|      0|     1908|     \N|            \N|               Short|         null|    null|
|tt0000788|    short|    The Yellow Peril|    The Yellow Peril|      0|     1908|     \N|            \N|        Comedy,Short|         null|    null|
|tt0000810|    short|     The Black Sheep|     The Black Sheep|      0|     1909|     \N|            \N|         Drama,Short|         null|    null|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+--------+
only showing top 20 rows

In [19]:
(
    df_titles
    .withColumnRenamed('tconst','id_title')
    .join(df_ratings, f.col('tconst') == f.col('id_title'))
    .show()
)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+---------+-------------+--------+
| id_title|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|   tconst|averageRating|numVotes|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+---------+-------------+--------+
|tt0000008|    short|Edison Kinetoscop...|Edison Kinetoscop...|      0|     1894|     \N|             1|   Documentary,Short|tt0000008|          5.4|    2017|
|tt0000015|    short| Autour d'une cabine| Autour d'une cabine|      0|     1894|     \N|             2|     Animation,Short|tt0000015|          6.2|     994|
|tt0000019|    short|    The Clown Barber|    The Clown Barber|      0|     1898|     \N|            \N|        Comedy,Short|tt0000019|          5.2|      30|
|tt0000051|    short|The Bohemian Enca...|Campement de bohé...|      0|     1896|     \N|            \N|   Documentary,Short|tt0000051|          3.8|      33|
|tt0000058|    short|Cortège de tzar a...|Cortège de tzar a...|      0|     1896|     \N|            \N|   Documentary,Short|tt0000058|          4.3|      31|
|tt0000065|    short|Dessinateur: Rein...|Dessinateur: Rein...|      0|     1896|     \N|            \N|               Short|tt0000065|          3.6|      27|
|tt0000095|    short|The Mysterious Paper|    Le papier protée|      0|     1896|     \N|            \N|               Short|tt0000095|          4.8|      33|
|tt0000108|    short|Rip Leaving Sleep...|Rip Leaving Sleep...|      0|     1896|     \N|             1|         Drama,Short|tt0000108|          4.4|     519|
|tt0000142|    short|Buffalo Bill and ...|Buffalo Bill and ...|      0|     1897|     \N|            \N|          News,Short|tt0000142|          4.7|      28|
|tt0000145|    short|           En classe|           En classe|      0|     1897|     \N|            \N|        Comedy,Short|tt0000145|          3.9|      13|
|tt0000146|    short|Le cocher de fiac...|Le cocher de fiac...|      0|     1897|     \N|            \N|        Comedy,Short|tt0000146|          5.1|      26|
|tt0000169|    short|Slagsmål i gamla ...|Slagsmål i gamla ...|      0|     1897|     \N|             1|               Short|tt0000169|          3.8|      45|
|tt0000172|    short|     The X-Ray Fiend|     The X-Ray Fiend|      0|     1897|     \N|             1| Comedy,Horror,Short|tt0000172|          6.1|     853|
|tt0000174|    short|Výstavní párkar a...|Výstavní párkar a...|      0|     1898|     \N|             1|        Comedy,Short|tt0000174|          4.6|     125|
|tt0000175|    short|A Sea Cave Near L...|A Sea Cave Near L...|      0|     1896|     \N|             1|   Documentary,Short|tt0000175|          5.0|     206|
|tt0000186|    short|   Le cuirassé Maine|   Le cuirassé Maine|      0|     1898|     \N|            \N|           Short,War|tt0000186|          4.2|      21|
|tt0000188|    short|        The Deserter|        The Deserter|      0|     1898|     \N|            \N|         Drama,Short|tt0000188|          4.0|      11|
|tt0000214|    short|Tearing Down the ...|Tearing Down the ...|      0|     1898|     \N|            \N|           Short,War|tt0000214|          4.4|      92|
|tt0000242|    short|The Sign of the C...|Le diable au couvent|      0|     1899|     \N|             3|Fantasy,Horror,Short|tt0000242|          6.4|    1134|
|tt0000264|    short|Summoning the Spi...|   Évocation spirite|      0|     1899|     \N|             1|Fantasy,Horror,Short|tt0000264|          5.7|     417|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+---------+-------------+--------+
only showing top 20 rows

In [20]:
(
    df_titles
    .withColumnRenamed('tconst','id_title')
    .join(df_ratings, f.col('tconst') == f.col('id_title'))
    .withColumn('averageRating', f.expr('averageRating + 1'))
    .show()
)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+---------+-------------+--------+
| id_title|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|   tconst|averageRating|numVotes|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+---------+-------------+--------+
|tt0000008|    short|Edison Kinetoscop...|Edison Kinetoscop...|      0|     1894|     \N|             1|   Documentary,Short|tt0000008|          6.4|    2017|
|tt0000015|    short| Autour d'une cabine| Autour d'une cabine|      0|     1894|     \N|             2|     Animation,Short|tt0000015|          7.2|     994|
|tt0000019|    short|    The Clown Barber|    The Clown Barber|      0|     1898|     \N|            \N|        Comedy,Short|tt0000019|          6.2|      30|
|tt0000051|    short|The Bohemian Enca...|Campement de bohé...|      0|     1896|     \N|            \N|   Documentary,Short|tt0000051|          4.8|      33|
|tt0000058|    short|Cortège de tzar a...|Cortège de tzar a...|      0|     1896|     \N|            \N|   Documentary,Short|tt0000058|          5.3|      31|
|tt0000065|    short|Dessinateur: Rein...|Dessinateur: Rein...|      0|     1896|     \N|            \N|               Short|tt0000065|          4.6|      27|
|tt0000095|    short|The Mysterious Paper|    Le papier protée|      0|     1896|     \N|            \N|               Short|tt0000095|          5.8|      33|
|tt0000108|    short|Rip Leaving Sleep...|Rip Leaving Sleep...|      0|     1896|     \N|             1|         Drama,Short|tt0000108|          5.4|     519|
|tt0000142|    short|Buffalo Bill and ...|Buffalo Bill and ...|      0|     1897|     \N|            \N|          News,Short|tt0000142|          5.7|      28|
|tt0000145|    short|           En classe|           En classe|      0|     1897|     \N|            \N|        Comedy,Short|tt0000145|          4.9|      13|
|tt0000146|    short|Le cocher de fiac...|Le cocher de fiac...|      0|     1897|     \N|            \N|        Comedy,Short|tt0000146|          6.1|      26|
|tt0000169|    short|Slagsmål i gamla ...|Slagsmål i gamla ...|      0|     1897|     \N|             1|               Short|tt0000169|          4.8|      45|
|tt0000172|    short|     The X-Ray Fiend|     The X-Ray Fiend|      0|     1897|     \N|             1| Comedy,Horror,Short|tt0000172|          7.1|     853|
|tt0000174|    short|Výstavní párkar a...|Výstavní párkar a...|      0|     1898|     \N|             1|        Comedy,Short|tt0000174|          5.6|     125|
|tt0000175|    short|A Sea Cave Near L...|A Sea Cave Near L...|      0|     1896|     \N|             1|   Documentary,Short|tt0000175|          6.0|     206|
|tt0000186|    short|   Le cuirassé Maine|   Le cuirassé Maine|      0|     1898|     \N|            \N|           Short,War|tt0000186|          5.2|      21|
|tt0000188|    short|        The Deserter|        The Deserter|      0|     1898|     \N|            \N|         Drama,Short|tt0000188|          5.0|      11|
|tt0000214|    short|Tearing Down the ...|Tearing Down the ...|      0|     1898|     \N|            \N|           Short,War|tt0000214|          5.4|      92|
|tt0000242|    short|The Sign of the C...|Le diable au couvent|      0|     1899|     \N|             3|Fantasy,Horror,Short|tt0000242|          7.4|    1134|
|tt0000264|    short|Summoning the Spi...|   Évocation spirite|      0|     1899|     \N|             1|Fantasy,Horror,Short|tt0000264|          6.7|     417|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+---------+-------------+--------+
only showing top 20 rows

### Utilizando semi e anti join

In [22]:
df_ratings.select('tconst').distinct().count()

1242221

In [23]:
df_titles.select('tconst').distinct().count()

8328316

In [25]:
(
    df_titles
    .join(df_ratings, 'tconst','inner')
    .distinct()
    .count()
)

1227178

In [26]:
(
    df_titles
    .join(df_ratings, 'tconst','semi')
    .count()
)

1227178

In [27]:
(
    df_titles
    .join(df_ratings, 'tconst','left_anti')
    .count()
)

7101138

In [31]:
1227178 + 7101138 == df_titles.count()

True

### **Union** 

Existem três formas de unir DataFrames no pyspark:

- `union() / unionAll()`: empilha os Dataframes, preservando linhas duplicadas. as colunas são unidas por posição, e por isso a ordem delas deve ser a mesma entre os dois DF's. 
- `unionByname()`: empilha os DataFrames, preservando linhas duplicadas. As colunas são unidas por nome, e por tanto não precisam estar ordenadas da mesma forma.

In [32]:
df1 = df_titles.sample(fraction = .5)
df2 = df_titles.join(df1, ['tconst'], 'anti')

In [33]:
df1.count()

4164377

In [34]:
df2.count()

4163939

In [35]:
df1.union(df2).count()

8328316

In [36]:
df3 = df_titles.sample(fraction = 0.05)

In [37]:
df3.count()

417977

In [38]:
df3.union(df3).count()

835954

In [39]:
df2 = df2.select(df2.columns[::-1])

In [40]:
df1.union(df2).filter('genres rlike "[0-9]"').show()

+--------------------+---------+------------+-------------+-------+--------------------+--------------------+--------------+---------+
|              tconst|titleType|primaryTitle|originalTitle|isAdult|           startYear|             endYear|runtimeMinutes|   genres|
+--------------------+---------+------------+-------------+-------+--------------------+--------------------+--------------+---------+
|       Short,Western|       \N|          \N|         1910|      0|A Cowboy's Vindic...|A Cowboy's Vindic...|         short|tt0001170|
|               Short|       19|          \N|         1911|      0|    A Devoted Friend|    A Devoted Friend|         short|tt0001581|
| Drama,Romance,Short|       \N|          \N|         1911|      0|        Her Two Sons|        Her Two Sons|         short|tt0001664|
|         Drama,Short|       \N|          \N|         1911|      0|The Lighthouse Ke...|The Lighthouse Ke...|         short|tt0001732|
|         Drama,Short|       12|          \N|         1912|      0|Le martyre de Sai...|Le martyre de Sai...|         short|tt0002347|
|Comedy,Romance,Short|       \N|          \N|         1913|      0|  Knights and Ladies|  Knights and Ladies|         short|tt0003043|
|              Action|      300|          \N|         1914|      0|Lucille Love: The...|Lucille Love: The...|         movie|tt0004272|
|         Crime,Drama|       \N|          \N|         1915|      0| Mysteries of London| Mysteries of London|         movie|tt0005793|
|         Drama,Short|       \N|          \N|         1915|      0|  Out of the Silence|  Out of the Silence|         short|tt0005849|
|               Drama|       50|          \N|         1916|      0|The Valley of Dec...|The Valley of Dec...|         movie|tt0006204|
|      Comedy,Western|       50|          \N|         1916|      0|  Blue Blood and Red|  Blue Blood and Red|         movie|tt0006441|
|               Drama|       50|          \N|         1916|      0|The Devil's Bondw...|The Devil's Bondw...|         movie|tt0006587|
|        Comedy,Short|       \N|          \N|         1916|      0|A Lady in the Lib...|A Lady in the Lib...|         short|tt0006906|
|               Drama|       \N|          \N|         1916|      0|The Making of Mad...|The Making of Mad...|         movie|tt0007011|
|               Drama|       \N|          \N|         1916|      0|           Pendennis|           Pendennis|         movie|tt0007169|
|               Short|       \N|          \N|         1916|      0|Svartsjukans följder|Svartsjukans följder|         short|tt0007419|
|               Drama|       \N|          \N|         1915|      0|Whoso Is Without Sin|Whoso Is Without Sin|         movie|tt0007565|
|               Drama|       \N|          \N|         1917|      0|       Rosie O'Grady|       Rosie O'Grady|         movie|tt0008522|
|               Drama|       \N|          \N|         1917|      0|         Teni liubvi|         Teni liubvi|         movie|tt0008661|
|               Drama|       \N|          \N|         1918|      0|      Blue-Eyed Mary|      Blue-Eyed Mary|         movie|tt0008893|
+--------------------+---------+------------+-------------+-------+--------------------+--------------------+--------------+---------+
only showing top 20 rows

In [41]:
df1.unionByName(df2).filter('genres rlike "[0-9]"').show()

+------+---------+------------+-------------+-------+---------+-------+--------------+------+
|tconst|titleType|primaryTitle|originalTitle|isAdult|startYear|endYear|runtimeMinutes|genres|
+------+---------+------------+-------------+-------+---------+-------+--------------+------+
+------+---------+------------+-------------+-------+---------+-------+--------------+------+